<section class="container padding-top-10" ng-controller="RankingController as vm" ng-init="vm.getRankingList();">
    <div class="upload-ranking">
        <div class="panel panel-default">
            <div class="panel-heading text-center">{{'PAGE_HEADER_RANKING_UPLOAD' | translate}}</div>
            <div class="panel-body">
                <p>...</p>
            </div>

            <table class="table">
            </table>
        </div>
    </div>

    <div class="upload-ranking">
        <div class="panel panel-default">
            <div class="panel-heading text-center">{{'PAGE_HEADER_RANKING_DOWNLOAD' | translate}}</div>
            <div class="panel-body">
                <p>...</p>
            </div>

            <table class="table">
            </table>
        </div>
    </div>

    <div class="upload-ranking">
        <div class="panel panel-default">
            <div class="panel-heading text-center">{{'PAGE_HEADER_RANKING_RATIO' | translate}}</div>
            <div class="panel-body">
                <p>...</p>
            </div>

            <table class="table">
            </table>
        </div>
    </div>

    <div class="upload-ranking">
        <div class="panel panel-default">
            <div class="panel-heading text-center">{{'PAGE_HEADER_RANKING_SCORE' | translate}}</div>
            <div class="panel-body">
                <p>...</p>
            </div>

            <table class="table">
            </table>
        </div>
    </div>
</section>