<section class="container" ng-controller="AboutController as vm">
    <div class="row margin-top-20">
        <div class="col-sm-12">
            <span>
                <h3 class="margin-bottom-30">
                    {{'ABOUT.CLIENT_BLACK_LIST' | translate}}
                </h3>
            </span>

            <div class="margin-top-10">
                <div class="alert alert-warning" role="alert" style="padding: 20px 50px;">
                    <span translate="ABOUT.BLACK_TOOLTIP"
                          translate-values="{sMail: vm.supportConfig.supportMailAddress, sNameDesc: vm.supportConfig.supportGroupNameDesc, sName: vm.supportConfig.supportGroupName}"></span>
                </div>
            </div>

            <div class="table-responsive table-black-list">
                <table class="table table-hover tb-v-middle top-border bottom-border">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ 'ABOUT.BLANK_NAME' | translate}}</th>
                            <th>{{ 'ABOUT.BLANK_REASON' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="b in vm.blackListConfig">
                            <td class="col-md-1 td-v-middle width-50">
                                {{$index}}
                            </td>
                            <td class="col-md-3 td-v-middle width-150">
                                <strong>{{b.name}}</strong>
                            </td>
                            <td class="col-md-8 td-v-middle width-300">
                                {{b.reason | translate}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>