<section class="container padding-top-30" ng-controller="AboutController as vm">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="list-group panel-menu-list">
                <a ui-sref="about.manual.userRules" class="list-group-item"
                   ui-sref-active="active">{{'ABOUT.MENU_ABOUT_MANUAL_USER_RULES' | translate}}</a>
                <a ui-sref="about.manual.forbidRules" class="list-group-item"
                   ui-sref-active="active">{{'ABOUT.MENU_ABOUT_MANUAL_FORBID_PUNISH_RULES' | translate}}</a>
                <a ui-sref="about.manual.userAccountRules" class="list-group-item"
                   ui-sref-active="active">{{'ABOUT.MENU_ABOUT_MANUAL_ACCOUNT_RULES' | translate}}</a>
                <a ui-sref="about.manual.scoreRules" class="list-group-item"
                   ui-sref-active="active">{{'ABOUT.MENU_ABOUT_MANUAL_SCORE_RULES' | translate}}</a>
                <a ui-sref="about.manual.userLevelRules" class="list-group-item"
                   ui-sref-active="active">{{'ABOUT.MENU_ABOUT_MANUAL_USER_LEVEL_RULES' | translate}}</a>
                <a ui-sref="about.manual.uploaderRules" class="list-group-item"
                   ui-sref-active="active">{{'ABOUT.MENU_ABOUT_MANUAL_UPLOADER_RULES' | translate}}</a>
                <a ui-sref="about.manual.downloadRules" class="list-group-item"
                   ui-sref-active="active">{{'ABOUT.MENU_ABOUT_MANUAL_DOWNLOAD_RULES' | translate}}</a>
                <a ui-sref="about.manual.salesRules" class="list-group-item"
                   ui-sref-active="active">{{'ABOUT.MENU_ABOUT_MANUAL_SALES_RULES' | translate}}</a>
                <a ui-sref="about.manual.invitationsRules" class="list-group-item"
                   ui-sref-active="active">{{'ABOUT.MENU_ABOUT_MANUAL_INVITATIONS_RULES' | translate}}</a>
                <a ui-sref="about.manual.hnrRules" class="list-group-item"
                   ui-sref-active="active">{{'ABOUT.MENU_ABOUT_MANUAL_HNR_RULES' | translate}}</a>
                <a ui-sref="about.manual.vipRules" class="list-group-item"
                   ui-sref-active="active">{{'ABOUT.MENU_ABOUT_MANUAL_VIP_RULES' | translate}}</a>
                <a ui-sref="about.manual.requestRules" class="list-group-item"
                   ui-sref-active="active">{{'ABOUT.MENU_ABOUT_MANUAL_REQUEST_RULES' | translate}}</a>
                <a ui-sref="about.manual.faq" class="list-group-item"
                   ui-sref-active="active">{{'ABOUT.MENU_ABOUT_MANUAL_FAQ' | translate}}</a>
            </div>
        </div>
        <div class="col-sm-8 col-md-9 padding-bottom-30 manual-line-height">
            <div class="templates-content" ui-view></div>
            <div ng-init="vm.getTemplateFileContent('/modules/about/client/templates/rules-footer-'+vm.lang+'.md')">
                <span class="templates-footer" ng-bind-html="vm.getTemplateMarkedContent()"></span>
            </div>
        </div>
    </div>
</section>
