<section class="container padding-top-30">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="list-group panel-menu-list">
                <a ui-sref="about.manual.userRules" class="list-group-item"
                   ui-sref-active="active">{{'ABOUT.MENU_ABOUT_MANUAL_USER_RULES' | translate}}</a>
                <a ui-sref="about.manual.chatRules" class="list-group-item"
                   ui-sref-active="active">{{'ABOUT.MENU_ABOUT_MANUAL_CHAT_RULES' | translate}}</a>
                <a ui-sref="about.manual.scoreRules" class="list-group-item"
                   ui-sref-active="active">{{'ABOUT.MENU_ABOUT_MANUAL_SCORE_RULES' | translate}}</a>
                <a ui-sref="about.manual.userLevelRules" class="list-group-item"
                   ui-sref-active="active">{{'ABOUT.MENU_ABOUT_MANUAL_USER_LEVEL_RULES' | translate}}</a>
                <a ui-sref="about.manual.uploaderRules" class="list-group-item"
                   ui-sref-active="active">{{'ABOUT.MENU_ABOUT_MANUAL_UPLOADER_RULES' | translate}}</a>
                <a ui-sref="about.manual.invitationsRules" class="list-group-item"
                   ui-sref-active="active">{{'ABOUT.MENU_ABOUT_MANUAL_INVITATIONS_RULES' | translate}}</a>
                <a ui-sref="about.manual.hnrRules" class="list-group-item"
                   ui-sref-active="active">{{'ABOUT.MENU_ABOUT_MANUAL_HNR_RULES' | translate}}</a>
                <a ui-sref="about.manual.vipRules" class="list-group-item"
                   ui-sref-active="active">{{'ABOUT.MENU_ABOUT_MANUAL_VIP_RULES' | translate}}</a>
                <a ui-sref="about.manual.requestRules" class="list-group-item"
                   ui-sref-active="active">{{'ABOUT.MENU_ABOUT_MANUAL_REQUEST_RULES' | translate}}</a>
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <div ui-view></div>
        </div>
    </div>
</section>
