@import (reference) "../../../core/client/less/mt-var.less";

.btn-un-default {
    text-shadow: none;
}

.ticket-item {
    .ticket-avatar {
        img {
            cursor: pointer;
            margin-right: 5px;
            border-radius: 3px;
            height: 30px;
            width: 30px;
        }
    }
    .td-text-overflow .text-long {
        @media (max-width: @screen-md-max) {
            max-width: 300px !important;
            min-width: 290px !important;
        }
        @media (min-width: @screen-lg-min) {
            max-width: 450px !important;
            min-width: 300px !important;
        }
    }
}

.ticket-reply-list {
    .reply-item {
        .reply-wrapper {
            &:not(:first-child) {
                margin-left: 60px;
            }
            margin: 20px 0 0 0;
            .reply-comment {
                margin-left: 0;
            }
            .reply-avatar {
                img {
                    cursor: pointer;
                    float: left;
                    margin-left: -60px;
                    border-radius: 3px;
                    height: 44px;
                    width: 44px;
                }
            }
            .reply-comment-header-command {
                margin-right: 0 !important;
            }
            .ticket-buttons {
                border-top: dotted 1px #d0d0d0;
                padding-top: 10px;
                margin-top: 15px;
                .btn-mt-o {
                    color: @brand-primary;
                    background-color: #f7f7f7;
                }
            }
        }
    }
    .reply-post-title {
        margin: 30px 0 5px 0;
        padding: 13px;
        background-color: @brand-primary;
        color: #fcfcfc;
        font-weight: 500;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    .editable-line {
        min-height: 30px;
    }
    .pagination {
        margin: 20px 0 0 120px;
    }
}