<section class="container padding-top-10" ng-controller="ForumsController as vm" ng-init="vm.init();">
    <div class="row margin-top-20">
        <div class="col-md-10 col-md-offset-1">
            <button class="btn btn-success" ng-click="vm.openSideOverlay($event)">　　{{ 'FORUMS.BTN_ADD_FORUM' | translate }}　　</button>
        </div>

        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-default margin-top-30" ng-repeat="cat in vm.forumsConfig.category">
                <div class="panel-heading text-center mt-title">
                    <strong>{{ 'FORUMS.CATEGORY.'+cat.name | translate }}</strong>
                </div>

                <div class="table-responsive">
                    <table class="table table-hover table-valign-middle">
                        <thead>
                            <tr>
                                <td class="text-center col-md-7">{{'FORUMS.FIELDS.NAME' | translate}}</td>
                                <td class="text-center">{{'FORUMS.FIELDS.ORDER' | translate}}</td>
                                <td class="text-center">{{'FORUMS.FIELDS.CMD' | translate}}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="f in vm.forums | filter: { category: cat }">
                                <td scope="row">
                                    <h4>{{f.name}}</h4>

                                    <p>{{f.desc}}</p>
                                </td>
                                <td class="text-center">{{f.order}}</td>
                                <td class="text-center"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="popupSlide" side-overlay="right" side-class="forum-side-overlay" side-modal side-close-on-esc side-close-on-outside-click>
        <div class="forum-popup">
        </div>
    </div>
</section>

