<div class="modal-header">
    <h4>{{modalOptions.headerText}}</h4>
</div>
<div class="modal-body">
    <p>{{modalOptions.bodyText}}</p>
    <p ng-show="modalOptions.bodyParams">{{modalOptions.bodyParams}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-width-100"
            data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
    <button class="btn btn-primary btn-width-100"
            data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
</div>