@import (reference) "../../../core/client/less/mt-var.less";

.data-center-top {
    height: 60px;
    text-align: left;
    background-color: #2a2a2a;
    background-color: rgba(42, 42, 42, 0.9);
    @media (min-width: @screen-sm-min) {
        padding-top: 30px;
        height: 100px;
    }
    .container {
        padding: 0;
    }
    .user-info {
        width: 100%;
        position: relative;
        height: 100%;
        background-color: #fff;
        padding: 15px 15px 0;
        @media (min-width: @screen-sm-min) {
            padding: 10px 30px 0;
            width: 400px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        .dc-avatar {
            img {
                width: 60px;
                height: 60px;
                border-radius: 3px;
            }
        }
        .info-wrapper {
            position: absolute;
            position: absolute;
            left: 85px;
            top: 15px;
            @media (min-width: @screen-sm-min) {
                left: 100px;
                top: 10px;
            }
            h4, .h4 {
                margin-top: 5px;
            }
        }
    }
}

.data-center {
    .panel-heading {
        font-size: 16px;
        position: relative;
        .logs-help {
            position: absolute;
            right: 10px;
            top: 12px;
            color: @brand-primary;
        }
    }
    .chart-logs {
        padding: 20px;
        @media (max-width: @screen-sm-max) {
            padding: 0 5px;
        }
    }
    .use-logs-list {
        padding: 0 20px;
        @media (max-width: @screen-sm-max) {
            padding: 0 5px;
        }
        .score-value,
        .upload-value,
        .download-value {
            min-width: 80px;
            text-align: center;
            display: inline-block;
            position: relative;
            color: @brand-success;
            &:before {
                content: '[';
                display: inline-block;
                position: absolute;
                left: 0;
                color: #333;
            }
            &:after {
                content: ']';
                display: inline-block;
                position: absolute;
                right: 0;
                color: #333;
            }
            &.subtract {
                color: @brand-danger;
            }
        }
        .upload-value,
        .download-value {
            min-width: 100px;
        }
        .use-logs-list-ol {
            line-height: 2.2;
            li {
                &:hover {
                    background-color: #f7f7f7;
                }
                &:not(:last-child) {
                    border-bottom: dotted 1px #dedede;
                }
            }
        }
    }
    .tooltip {
        .tooltip-inner {
            min-width: 300px;
        }
    }
}