<section class="container padding-top-10" ng-controller="TorrentsAdminController as vm" ng-init="vm.torrentBuildPager();">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h3 class="panel-title" translate="TAGS_SEARCH"></h3>
        </div>
        <div class="panel-body">
            <div class="col-md-10 col-md-offset-1">
                <dl class="dl-horizontal">
                    <dt class="h-line">{{'CA_RESOURCE_TYPE' | translate}}</dt>
                    <dd class="h-line">
                        <div class="row margin-bottom-5">
                            <div class="col-sm-6 col-md-4">
                                <select class="form-control" ng-model="vm.selectedType" ng-change="vm.onTorrentTypeChanged();">
                                    <option ng-repeat="t in vm.torrentType.value" value="{{t.value}}">{{'MENU_TORRENTS_SUB.'+t.name | translate}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </dd>

                    <dt class="h-line">{{ 'CA_KEYWORD' | translate}}:</dt>
                    <dd class="h-line">
                        <div class="row">
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="vm.searchKey"
                                       ng-keydown="vm.onKeysKeyDown($event);"
                                       placeholder="{{ 'PH_KEYWORD' | translate}}">
                            </div>
                            <div class="col-sm-5">
                                <span class="label label-tag text-uppercase margin-left-m-20 incline-block-valign"
                                      title="{{ 'TITLE_ALT.MORE_TAGS' | translate}}"
                                      ng-click="vm.onMoreTagsClicked();">
                                    <i class="glyphicon glyphicon-chevron-down" id="more-tags-icon"></i> {{ 'MORE_TAGS' | translate}}
                                </span>
                                <span class="label label-tag text-uppercase incline-block-valign"
                                      title="{{ 'TITLE_ALT.RESET_TAGS' | translate}}"
                                      ng-click="vm.clearAllCondition();">
                                    <i class="glyphicon glyphicon-repeat"></i> {{ 'CA_RESET' | translate}}
                                </span>

                            </div>
                        </div>
                    </dd>

                    <dt class="h-line">{{ 'CA_TORRENT_STATUS' | translate}}:</dt>
                    <dd class="h-line">
                        <div class="btn-group btn-group-xs" role="group">
                            <button id="torrent_status_reviewed"
                                    class="btn btn-xs btn-tag" value="reviewed"
                                    ng-class="{'btn-success': vm.torrentStatus == 'reviewed', 'btn-default': vm.torrentStatus != 'reviewed'}"
                                    ng-click="vm.onTorrentStatusClicked($event, 'reviewed')">
                                {{'TORRENT_STATUS_REVIEWED' | translate}}
                            </button>
                            <button id="torrent_status_new"
                                    class="btn btn-xs btn-tag" value="new"
                                    ng-class="{'btn-success': vm.torrentStatus == 'new', 'btn-default': vm.torrentStatus != 'new'}"
                                    ng-click="vm.onTorrentStatusClicked($event, 'new')">
                                {{'TORRENT_STATUS_NEW' | translate}}
                            </button>
                            <button id="torrent_status_all"
                                    class="btn btn-xs btn-tag" value="all"
                                    ng-class="{'btn-success': vm.torrentStatus == 'all', 'btn-default': vm.torrentStatus != 'all'}"
                                    ng-click="vm.onTorrentStatusClicked($event, 'all')">
                                {{'TORRENT_STATUS_ALL' | translate}}
                            </button>
                        </div>
                    </dd>

                    <dt class="h-line">{{ 'TORRENT_RECOMMEND_LEVEL' | translate}}:</dt>
                    <dd class="h-line">
                        <div class="btn-group btn-group-xs" role="group">
                            <button ng-repeat="litem in vm.torrentRLevels.value" id="r_{{litem.name}}"
                                    class="btn btn-xs btn-tag" value="{{litem.value}}"
                                    ng-class="{'btn-success': vm.torrentRLevel == litem.value, 'btn-default': vm.torrentRLevel != litem.value}"
                                    ng-click="vm.onRecommendLevelClicked($event, litem.value)">
                                {{ 'TORRENT_RECOMMEND_LEVEL_ITEM.' + litem.name | translate}}
                            </button>
                        </div>
                    </dd>

                    <div class="more-tags panel-collapsed" style="display: none;">
                        <div ng-if="vm.selectedType=='movie'">
                            <div ng-repeat="item in vm.resourcesTags.movie.radio">
                                <dt class="h-line">{{ 'RESOURCESTAGS.'+item.name+'.SELF' | translate}}：</dt>
                                <dd class="h-line">
                                    <div class="btn-group btn-group-xs" role="group">
                                        <button ng-repeat="sitem in item.value" id="tag_{{sitem.name}}"
                                                class="btn btn-xs btn-default btn-tag" value="{{sitem.name}}"
                                                ng-click="vm.onRadioTagClicked($event, sitem.name)">
                                            {{ 'RESOURCESTAGS.' + item.name + '.' + sitem.name | translate}}
                                        </button>
                                    </div>
                                </dd>
                            </div>

                            <div ng-repeat="item in vm.resourcesTags.movie.checkbox">
                                <dt class="h-line">{{ 'RESOURCESTAGS.'+item.name+'.SELF' | translate}}：</dt>
                                <dd class="h-line">
                                    <div class="btn-group btn-group-xs" role="group">
                                        <button ng-repeat="sitem in item.value" id="tag_{{sitem.name}}"
                                                class="btn btn-xs btn-default btn-tag" value="{{sitem.name}}"
                                                ng-click="vm.onCheckboxTagClicked($event, sitem.name)"
                                                toggle-class="btn-success" base-class="btn-default" onclick="this.blur();">
                                            {{ 'RESOURCESTAGS.' + item.name + '.' + sitem.name | translate}}
                                        </button>
                                    </div>
                                </dd>
                            </div>
                        </div>

                        <div ng-if="vm.selectedType=='tvserial'">
                            <div ng-repeat="item in vm.resourcesTags.tv.radio">
                                <dt class="h-line">{{ 'RESOURCESTAGS.'+item.name+'.SELF' | translate}}：</dt>
                                <dd class="h-line">
                                    <div class="btn-group btn-group-xs" role="group">
                                        <button ng-repeat="sitem in item.value" id="tag_{{sitem.name}}"
                                                class="btn btn-xs btn-default btn-tag" value="{{sitem.name}}"
                                                ng-click="vm.onRadioTagClicked($event, sitem.name)">
                                            {{ 'RESOURCESTAGS.' + item.name + '.' + sitem.name | translate}}
                                        </button>
                                    </div>
                                </dd>
                            </div>

                            <div ng-repeat="item in vm.resourcesTags.tv.checkbox">
                                <dt class="h-line">{{ 'RESOURCESTAGS.'+item.name+'.SELF' | translate}}：</dt>
                                <dd class="h-line">
                                    <div class="btn-group btn-group-xs" role="group">
                                        <button ng-repeat="sitem in item.value" id="tag_{{sitem.name}}"
                                                class="btn btn-xs btn-default btn-tag" value="{{sitem.name}}"
                                                ng-click="vm.onCheckboxTagClicked($event, sitem.name)"
                                                toggle-class="btn-success" base-class="btn-default" onclick="this.blur();">
                                            {{ 'RESOURCESTAGS.' + item.name + '.' + sitem.name | translate}}
                                        </button>
                                    </div>
                                </dd>
                            </div>
                        </div>
                    </div>
                </dl>
            </div>
        </div>
    </div>

    <div class="torrent-list" id="top_of_torrent_list">
        <div class="pagination-div-top">
            <ul uib-pagination boundary-links="true" max-size="8" items-per-page="vm.torrentItemsPerPage" total-items="vm.torrentFilterLength"
                ng-model="vm.torrentCurrentPage" ng-change="vm.torrentPageChanged()"
                first-text="{{ 'PAGE_TEXT_FIRST' | translate}}" previous-text="{{ 'PAGE_TEXT_PREVIOUS' | translate}}"
                next-text="{{ 'PAGE_TEXT_NEXT' | translate}}" last-text="{{ 'PAGE_TEXT_LAST' | translate}}">
            </ul>
        </div>
        <div class="table-responsive">
            <table class="table table-hover tb-v-middle">
                <thead>
                    <tr>
                        <th>{{ 'TABLE_FIELDS.INFO' | translate}}</th>
                        <th class="text-center">{{ 'TABLE_FIELDS.VOTES' | translate}}</th>
                        <th class="text-center">{{ 'TABLE_FIELDS.LIFETIME' | translate}}</th>
                        <th class="text-center">{{ 'TABLE_FIELDS.SIZE' | translate}}</th>
                        <th class="text-center" ng-if="vm.announce.private_torrent_cms">{{ 'TABLE_FIELDS.SEEDS_LEECHERS_FINISHED' | translate}}</th>
                        <th class="text-center" ng-if="!vm.announce.private_torrent_cms">{{ 'TABLE_FIELDS.SEEDS_LEECHERS' | translate}}</th>
                        <th class="text-center">{{ 'TABLE_FIELDS.ADMIN_TOOLS' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="torrent-list-info" ng-repeat="item in vm.torrentPagedItems" ng-click="vm.openTorrentInfo(item._id);">
                        <td class="col-md-7 td-text-overflow">
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object" ng-src="{{vm.tmdbConfig.poster_list_base_url}}{{item.resource_detail_info.poster_path}}"
                                         alt="...">
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading" ng-if="vm.selectedType=='movie'">{{item.resource_detail_info.original_title}}
                                        <span ng-show="item.resource_detail_info.original_title!=item.resource_detail_info.title"> / {{item.resource_detail_info.title}}</span>
                                        <span class="upload-by" ng-show="item.user.displayName"> (By: {{item.user.displayName}}<span
                                                message-to="item.user" to-class="message-to-icon"></span> )</span>
                                        <span class="label label-download text-uppercase"
                                              title="{{ 'TITLE_ALT.DOWNLOAD_TORRENT' | translate}}"
                                              ng-click="vm.downloadTorrent(item._id); $event.stopPropagation();">
                                            <i class="glyphicon glyphicon-arrow-right"></i> {{ 'CA_DOWNLOAD' | translate}}
                                        </span>
                                    </h5>
                                    <h5 class="media-heading" ng-if="vm.selectedType=='tvserial'">{{item.resource_detail_info.original_name}}
                                        <span ng-show="item.resource_detail_info.original_name!=item.resource_detail_info.name"> / {{item.resource_detail_info.name}}</span>
                                        <span class="upload-by" ng-show="item.user.displayName"> (By: {{item.user.displayName}})</span>
                                        <span class="label label-download text-uppercase"
                                              title="{{ 'TITLE_ALT.DOWNLOAD_TORRENT' | translate}}"
                                              ng-click="vm.downloadTorrent(item._id); $event.stopPropagation();">
                                            <i class="glyphicon glyphicon-arrow-right"></i> {{ 'CA_DOWNLOAD' | translate}}
                                        </span>
                                    </h5>

                                    <div class="list-all-genres">
                                        <span class="genres-item" ng-repeat="t in item.resource_detail_info.genres">{{t.name}}</span>
                                    </div>

                                    <div class="torrent-filename text-long">{{item.torrent_filename | filename}}</div>

                                    <div class="list-all-tags">
                                        <!--<span class="label label-success text-uppercase">{{ item.torrent_type}}</span>-->
                                        <span class="label label-release label-warning" ng-show="item.resource_detail_info.release_date"
                                              ng-click="vm.onReleaseClicked(item.resource_detail_info.release_date); $event.stopPropagation();">
                                            {{ item.resource_detail_info.release_date}}
                                        </span>
                                        <span class="label label-rlevel label-info"
                                              ng-click="vm.onRLevelClicked(item.torrent_recommended); $event.stopPropagation();"
                                              ng-show="item.torrent_recommended != 'none'">
                                            {{ 'TORRENT_RECOMMEND_LEVEL_ITEM.' + item.torrent_recommended.toUpperCase() | translate}}
                                        </span>
                                        <span class="label label-sale" ng-if="item.isSaling"
                                              title="{{vm.getSaleTypeDesc(item);}} | {{ 'SALE_EXPIRES_TIME' | translate}}: {{item.torrent_sale_expires | date: 'MM-dd HH:mm'}}"
                                              ng-click="$event.stopPropagation();"
                                              ng-class="{'label-default': !item.isSaling, 'label-success': item.isSaling}">
                                                {{item.torrent_sale_status}} {{item.torrent_sale_expires | unlife}}
                                        </span>
                                        <span class="label label-se-info" ng-if="vm.selectedType == 'tvserial'"
                                              ng-click="$event.stopPropagation();">S{{item.torrent_seasons}}E{{item.torrent_episodes}}</span>
                                        <span ng-repeat="t in item.torrent_tags">
                                            <span class="label label-tag" ng-class="{'used': vm.searchTags.indexOf(t) !== -1}"
                                                  ng-click="vm.onTagClicked(t); $event.stopPropagation();">
                                                {{ 'RESOURCESTAGS.' + vm.getTagTitle(t) + '.' + t | translate}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-1 td-v-middle">
                            <span title="{{ 'TITLE_ALT.IMDB_VOTES' | translate}}"
                                  class="torrent-votes"><kbd>IMDB</kbd> {{item.resource_detail_info.vote_average | number : 1}}</span>
                        </td>
                        <td class="col-md-1 td-v-middle text-center">{{item.createdat | life}}</td>
                        <td class="col-md-1 td-v-middle text-center">{{item.torrent_size | bytes:2}}</td>
                        <td class="col-md-1 td-v-middle text-center list-user-info">
                            <p class="no-margin-p" title="{{ 'TITLE_ALT.SEEDS' | translate}}">
                                <span class="glyphicon glyphicon-arrow-up torrent-up"></span>
                                {{item.torrent_seeds}}
                            </p>

                            <p class="no-margin-p" title="{{ 'TITLE_ALT.LEECHERS' | translate}}">
                                <span class="glyphicon glyphicon-arrow-down torrent-down"></span>
                                {{item.torrent_leechers}}
                            </p>

                            <p class="no-margin-p" title="{{ 'TITLE_ALT.FINISHED' | translate}}" ng-if="vm.announce.private_torrent_cms">
                                <span class="glyphicon glyphicon-ok torrent-finished"></span>
                                {{item.torrent_finished}}
                            </p>
                        </td>
                        <td class="col-md-1 td-v-middle text-center">
                            <div>
                                <button class="btn btn-xs btn-default btn-block"
                                        ng-show="item.torrent_status == 'new'"
                                        ng-click="vm.reviewedTorrentStatus(item); $event.stopPropagation();">
                                    {{ 'ADMIN_BASIC_REVIEWED' | translate}}
                                </button>
                            </div>
                            <div class="margin-top-2">
                                <button class="btn btn-xs btn-default btn-block" ng-click="vm.deleteTorrent(item); $event.stopPropagation();">
                                    {{ 'ADMIN_BASIC_DELETE' | translate}}
                                </button>
                            </div>
                            <div class="margin-top-2" ng-if="vm.announce.private_torrent_cms">
                                <div class="admin-tools-btn-list btn-group" uib-dropdown dropdown-append-to-body>
                                    <button id="btn-append-to-body" type="button"
                                            class="btn btn-xs btn-default btn-block"
                                            ng-click="$event.stopPropagation();"
                                            uib-dropdown-toggle>
                                        {{'ADMIN_BASIC_TYPE_SET' | translate }} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu-right" uib-dropdown-menu role="menu"
                                        aria-labelledby="btn-append-to-body">
                                        <li role="menuitem" ng-repeat="st in vm.torrentSalesType.value"
                                            ng-class="{'active': item.torrent_sale_status == st.name, 'divider-item': $index != 0 && $index % 5 == 0}">
                                            <a href="#" class="small" ng-click="vm.setSaleType(item, st);">{{st.name}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="margin-top-2">
                                <div class="admin-tools-btn-list btn-group" uib-dropdown dropdown-append-to-body>
                                    <button id="btn-append-to-body1" type="button"
                                            class="btn btn-xs btn-default btn-block"
                                            ng-click="$event.stopPropagation();"
                                            uib-dropdown-toggle>
                                        {{'ADMIN_BASIC_RLEVEL_SET' | translate }} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu-right" uib-dropdown-menu role="menu"
                                        aria-labelledby="btn-append-to-body1">
                                        <li role="menuitem" ng-repeat="l in vm.torrentRLevels.value"
                                            ng-class="{'active': item.torrent_recommended == l.value}">
                                            <a href="#" class="small"
                                               ng-click="vm.setRecommendLevel(item, l);">{{ 'TORRENT_RECOMMEND_LEVEL_ITEM.' + l.name | translate}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="pagination-div-bottom">
            <ul uib-pagination boundary-links="true" max-size="8" items-per-page="vm.torrentItemsPerPage" total-items="vm.torrentFilterLength"
                ng-model="vm.torrentCurrentPage" ng-change="vm.torrentPageChanged()"
                first-text="{{ 'PAGE_TEXT_FIRST' | translate}}" previous-text="{{ 'PAGE_TEXT_PREVIOUS' | translate}}"
                next-text="{{ 'PAGE_TEXT_NEXT' | translate}}" last-text="{{ 'PAGE_TEXT_LAST' | translate}}">
            </ul>
        </div>
    </div>
</section>
