@import (reference) "../../../core/client/less/mt-var.less";

.forum-side-overlay {
    top: 50px !important;
    @media (min-width: @screen-sm-min) {
        width: 450px;
    }
    @media (max-width: @screen-xs-max) {
        min-width: ~"calc(100% - 50px)";
    }
}

.forum-popup {
    background-color: #fdfdfd;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 40px 30px 15px 15px;

    textarea {
        resize: vertical;
        min-height: 150px;
        max-height: 300px;
    }
}
