@import (reference) "../../../core/client/less/mt-var.less";

.panel-menu-list {
    .divider {
        margin-top: 4px;
    }
}

.system-panel {
    .panel-heading {
        font-size: 18px;
        font-weight: 500;
        small {
            color: #888;
            font-weight: 400;
        }
    }
    .panel-desc {
        color: @alert-danger-text;
        border-bottom: solid 1px #ddd;
        padding: 10px 15px 5px;
        background-color: @alert-warning-bg;
    }
    .panel-config {
        border-bottom: solid 1px #ddd;
        padding: 10px 15px 5px;
        background-color: #fafbfc;
        small {
            color: #aaa;
        }
        .config-tree {
            padding: 5px 15px;
            background-color: @alert-warning-bg;
            border: solid 1px @alert-warning-border;
            border-radius: 4px;
        }
    }
    .panel-loading {
        text-align: center;
        color: #888;
        border-bottom: solid 1px #ddd;
        padding: 15px;
        background-color: #fafbfc;
        &.show-loading {
            display: block;
        }
        &.hide-loading {
            display: none;
        }
    }
    .panel-filelist {
        border-bottom: solid 1px #ddd;
        padding: 10px 15px;
        background-color: #fafbfc;
        &.show-border-bottom {
            border-bottom: solid 1px #ddd;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        &.hide-border-bottom {
            border-bottom: none;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }
    }
    .panel-body {
        padding: 0;
        .CodeMirror {
            min-height: 450px;
        }
        &.show-body {
            display: block;
        }
        &.hide-body {
            display: none;
        }
    }
    .panel-footer {
        &.show-footer {
            display: block;
        }
        &.hide-footer {
            display: none;
        }
    }
    .panel-markdown {
        padding: 0;
        .CodeMirror {
            min-height: 200px;
        }
        .panel-preview {
            border-top: solid 1px #ddd;
            padding: 10px 15px 5px;
            background-color: #fafbfc;
        }
    }
    .content-dirty {
        .CodeMirror {
            border: solid 1px @brand-danger;
        }
    }
    .commands-list {
        .list-group-item {
            &:last-child {
                border-bottom: none;
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            &:first-child {
                border-top: none;
            }
        }
        .cmd-name {
            background-color: #333;
            color: lime;
            padding: 6px 10px 8px 10px;;
            border-radius: 3px;
            height: 30px;
        }
        .cmd-desc {
            color: #888;
            margin-top: 5px;
        }
        .fa {
            margin-right: 10px;
            color: #fff !important;
            &:disabled {
                color: #fff !important;
            }
        }
    }
    .stdout {
        max-height: 300px;
        overflow: auto;
    }
}

.examination-panel {
    .panel-body {
        padding: 15px;
        .op-desc {
            color: #555;
        }
        .fa {
            color: @mt-base-color;
            font-size: 4em;
        }
    }
}