@import (reference) "../../../core/client/less/mt-var.less";

.system-panel {
    .panel-heading {
        font-size: 18px;
        font-weight: 500;
        small {
            color: #888;
            font-weight: 400;
        }
    }
    .panel-desc {
        border-bottom: solid 1px #ddd;
        background-color: #fafbfc;
        height: 100px;
    }
    .panel-body {
        padding: 0;
        .CodeMirror {
            min-height: 500px;
        }
    }
}