<section ng-controller="CollectionItemController as vm" ng-init="vm.getCollection();">
    <div class="backdrop attachment-scroll">
        <div class="filter">
            <div class="container collection-view-top">
                <div class="row margin-bottom-10">
                    <div class="col-sm-9">
                        <span class="item-name">
                            <h3 class="margin-bottom-10">
                                {{vm.collection.name}}
                            </h3>
                        </span>
                    </div>
                    <div class="col-sm-3 text-right">
                        <span class="item-release">
                            <h3 class="margin-bottom-10">
                                <span>{{vm.getMinMaxRelease().min}}</span><span ng-if="vm.release.length>1">-{{vm.getMinMaxRelease().max}}</span>
                            </h3>
                        </span>
                    </div>
                    <div class="col-sm-12">
                        <ul class="list-unstyled item-data list-inline">
                            <li><i class="fa fa-list text-info"> {{'COLLECTIONS.FILES_NUMBERS' | translate}}: {{vm.collection.torrents.length}}</i>
                            </li>
                            <li><i class="fa fa-star-half-o text-info"> {{'COLLECTIONS.VOTE_AVERAGE' | translate}}:
                                                                        {{vm.collection.vote_average}} / {{vm.collection.vote_count}} {{ 'TMDB_FIELDS.VOTE_UNIT' | translate}}
                            </i></li>
                        </ul>
                    </div>
                </div>

                <div class="row margin-bottom-20">
                    <div class="col-sm-12">
                        <div>
                            <div class="item-overview" id="{{vm.collection._id}}" data-provide="markdown"
                                 ng-bind-html="vm.getCollectionOverviewContent(vm.collection)">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="collection-button text-right">
                            <button class="btn btn-width-160 margin-top-5" mouse-enter-toggle-class="btn-default" base-class="btn-mt-o"
                                    ng-if="vm.user.isOper" ng-click="vm.beginEditCollectionOverview(vm.collection)">
                                {{'COLLECTIONS.BTN_EDIT_OVERVIEW' | translate}}
                            </button>
                            <button class="btn btn-width-160 margin-top-5" mouse-enter-toggle-class="btn-default" base-class="btn-mt-o"
                                    ng-if="vm.user.isOper" ng-click="vm.beginRemoveCollection(vm.collection)">
                                {{'COLLECTIONS.BTN_REMOVE_COLLECTION' | translate}}
                            </button>

                            <div class="btn-group width-160 margin-top-5" ng-if="vm.user.isOper" uib-dropdown dropdown-append-to-body>
                                <button id="btn-append-to-body" type="button"
                                        class="btn btn-block"
                                        mouse-enter-toggle-class="btn-default" base-class="btn-mt-o"
                                        ng-click="$event.stopPropagation();"
                                        uib-dropdown-toggle>
                                    {{'ADMIN_BASIC_RLEVEL_SET' | translate }} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu-left" uib-dropdown-menu role="menu"
                                    aria-labelledby="btn-append-to-body">
                                    <li role="menuitem" ng-repeat="l in vm.torrentRLevels.value"
                                        ng-class="{'active': vm.collection.recommend_level == l.value}">
                                        <a href="#"
                                           ng-click="vm.setRecommendLevel(vm.collection, l);">{{ 'TORRENT_RECOMMEND_LEVEL_ITEM.' + l.name | translate}}</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row margin-top-20 margin-bottom-20">
            <div class="col-md-12 torrent-list" id="top_of_torrent_list" ng-show="vm.collection.torrents">
                <div class="table-responsive">
                    <table class="table table-hover tb-v-middle">
                        <thead>
                            <tr>
                                <th class="td-width-0"></th>
                                <th>{{ 'TABLE_FIELDS.INFO' | translate}}</th>
                                <th>{{ 'TABLE_FIELDS.VOTES' | translate}}</th>
                                <th class="text-center">{{ 'TABLE_FIELDS.LIFETIME' | translate}}</th>
                                <th class="text-center">{{ 'TABLE_FIELDS.SIZE' | translate}}</th>
                                <th>
                                    <abbr title="{{ 'TABLE_FIELDS.ABBR_SEEDS_LEECHERS_FINISHED' | translate}}" class="initialism">
                                        {{ 'TABLE_FIELDS.SEEDS_LEECHERS_FINISHED' | translate}}
                                    </abbr>
                                </th>
                                <th class="text-center">{{ 'TABLE_FIELDS.PUBLISHER' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody torrent-list-item parent="vm" item="item" list="vm.collection.torrents" ng-repeat="item in vm.collection.torrents"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>