<div ng-controller="HeaderController as vm" ng-init="vm.getWarningInfo(); vm.getSiteInfo();">
    <div class="filter-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-0 site-info" ng-hide="!vm.authentication.user && !vm.signConfig.showFooterCountInfoForGuest">
                    <div class="row">
                        <div class="info-item col-xs-6 col-xs-offset-0 col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0 col-md-offset-0">{{'TOTAL_USERS' | translate}}:　<span
                                class="item-data">{{vm.siteInfo.totalUsers}}</span></div>
                        <div class="info-item col-xs-6 col-xs-offset-0 col-sm-5 col-md-6 col-md-offset-0">{{'TOTAL_VIP_USERS' | translate}}:　<span
                                class="item-data">{{vm.siteInfo.totalVipUsers}}</span></div>
                        <div class="info-item col-xs-6 col-xs-offset-0 col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0 col-md-offset-0">{{'TOTAL_IDLE_USERS' | translate}}:　<span
                                class="item-data">{{vm.siteInfo.totalIdleUsers}}</span></div>
                        <div class="info-item col-xs-6 col-xs-offset-0 col-sm-5 col-md-6 col-md-offset-0">{{'TOTAL_BANNED_USERS' | translate}}:　<span
                                class="item-data">{{vm.siteInfo.totalBannedUsers}}</span></div>
                        <div class="info-item col-xs-6 col-xs-offset-0 col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">{{'TOTAL_TORRENTS' | translate}}:　<span
                                class="item-data">{{vm.siteInfo.totalTorrents}}</span></div>
                        <div class="info-item col-xs-6 col-xs-offset-0 col-sm-5 col-md-6 col-md-offset-0">{{'TOTAL_TORRENTSSIZE' | translate}}:　<span
                                class="item-data">{{vm.siteInfo.totalTorrentsSize | bytes}}</span></div>
                        <div class="info-item col-xs-6 col-xs-offset-0 col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">{{'TOTAL_SEEDERS' | translate}}:　<span
                                class="item-data">{{vm.siteInfo.totalSeeders}}</span></div>
                        <div class="info-item col-xs-6 col-xs-offset-0 col-sm-5 col-md-6 col-md-offset-0">{{'TOTAL_LEECHERS' | translate}}:　<span
                                class="item-data">{{vm.siteInfo.totalLeechers}}</span></div>
                        <div class="info-item col-xs-6 col-xs-offset-0 col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">{{'TOTAL_UPLOADED' | translate}}:　<span
                                class="item-data">{{vm.siteInfo.totalUploaded | bytes}}</span></div>
                        <div class="info-item col-xs-6 col-xs-offset-0 col-sm-5 col-md-6 col-md-offset-0">{{'TOTAL_DOWNLOADED' | translate}}:　<span
                                class="item-data">{{vm.siteInfo.totalDownloaded | bytes}}</span></div>
                        <div class="info-item col-xs-6 col-xs-offset-0 col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">{{'TOTAL_FORUMTOPICS' | translate}}:　<span
                                class="item-data">{{vm.siteInfo.totalForumTopics}}</span></div>
                        <div class="info-item col-xs-6 col-xs-offset-0 col-sm-5 col-md-6 col-md-offset-0">{{'TOTAL_FORUMREPLIES' | translate}}:　<span
                                class="item-data">{{vm.siteInfo.totalForumReplies}}</span></div>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-0">
                    <div class="view-footer text-center">
                        <ul class="list-unstyled">
                            <li>
                            <span class="lang-list lang-footer">
                                <span class="flag-icon {{l.class}}" title="{{l.title}}" ng-click="vm.changeLanguage(l.name);"
                                      ng-repeat="l in vm.language" ng-class="{'curr-language': vm.langService.getLang() == l.name}"></span>
                            </span>
                            </li>
                            <li translate="GIT_REPO"></li>
                            <li translate="MIT_PROTOCOL"></li>
                        </ul>
                        <div class="icon-list">
                            <i class="icon ion-social-github"></i>
                            <i class="icon ion-social-nodejs"></i>
                            <i class="icon ion-social-html5-outline"></i>
                            <i class="icon ion-social-css3-outline"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="warning_popup" style="display: none;">
    <div class="row padding-top-50 padding-bottom-30">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
            <h3 translate="WARNING_POPUP_STRING"></h3>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 text-center">
            <button class="warning_popup_close btn btn-lg btn-success btn-width-100 margin-top-20">{{'BUTTON_MESSAGE_CLOSE' | translate}}</button>
        </div>
    </div>
</div>

