<div class="container-fluid" style="padding-top: 30px; padding-top: 30px; padding-bottom: 30px;">
    <div class="container">
        <div class="row view-footer">
            <div class="col-sm-7 col-sm-offset-1">
                <ul>
                    <li translate="GIT_REPO"></li>
                    <li translate="MIT_PROTOCOL"></li>
                </ul>
            </div>
            <div class="col-sm-3 text-right">
                <i class="icon ion-social-github"></i>
                <i class="icon ion-social-nodejs"></i>
                <i class="icon ion-social-html5-outline"></i>
                <i class="icon ion-social-css3-outline"></i>
            </div>
        </div>
    </div>
</div>
