<section ng-controller="HomeController as vm" ng-init="vm.initBodyBackground()">
    <div class="home_notice sales_notice panel-collapsed" ng-if="vm.showSaleNotice()" ng-init="vm.openSalesNotice()" style="display: none;">
        <div class="container">
            <div class="alert alert-success" role="alert" style="padding: 20px 50px;">
                <span ng-bind-html="vm.getSaleNoticeMessage();"></span>
                <i class="fa fa-times" aria-hidden="true" ng-click="vm.onCloseNoticeClicked('sales_notice');">
                </i>
            </div>
        </div>
    </div>

    <div class="home_notice examination_notice panel-collapsed" ng-if="vm.showExaminationNotice()" ng-init="vm.openExaminationNotice()"
         style="display: none;">
        <div class="container">
            <div class="alert alert-danger" role="alert" style="padding: 20px 50px;">
                <span ng-bind-html="vm.getExaminationNoticeMessage();"></span>
                <i class="fa fa-times" aria-hidden="true" ng-click="vm.onCloseNoticeClicked('examination_notice');">
                </i>
            </div>
        </div>
    </div>

    <div class="home_notice examination_status panel-collapsed"
         ng-class="{'examination_finished': vm.user.examinationData.isFinished}"
         ng-if="vm.showExaminationStatus()"
         ng-init="vm.openExaminationStatus()"
         style="display: none;">
        <div class="container">
            <div class="alert" role="alert" ng-class="vm.user.examinationData.isFinished ? 'alert-success' : 'alert-danger'"
                 style="padding: 20px 50px;">
                <span ng-bind-html="vm.getExaminationStatusMessage();"></span>
                <i class="fa fa-times" aria-hidden="true" ng-click="vm.onCloseNoticeClicked('examination_status');">
                </i>
            </div>
        </div>
    </div>

    <div class="filter">
        <div class="home_global_search filter-search" ng-init="vm.getForumList()">
            <div class="top-panel">
                <div class="container">
                    <div class="row">
                        <div class="search-row">
                            <div class="col-sm-12 text-center search-col">
                                <div class="home-search">
                                    <!--<p class="search-title" translate="HOME.TITLE_SEARCH"></p>-->
                                    <!--<p class="search-sub-title" translate="HOME.SEARCH_SUB_TITLE"></p>-->
                                    <div class="search-type text-center">
                                        <label class="radio-inline">
                                            <input type="radio" name="inlineRadioOptions" id="inlineRadio_torrents" value="torrents"
                                                   ng-model="vm.searchType"> {{'HOME.SEARCH_TYPE_TORRENTS' | translate}}
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="inlineRadioOptions" id="inlineRadio_forum" value="forum"
                                                   ng-model="vm.searchType"> {{'HOME.SEARCH_TYPE_FORUM' | translate}}
                                        </label>
                                    </div>
                                    <div class="input-group search-group margin-top-10">
                                        <input type="text" class="form-control"
                                               ng-model="vm.searchKeys"
                                               ng-keydown="vm.onSearchKeyDown($event);"
                                               aria-label="search" placeholder="Search">

                                        <button class="btn btn-min-width-100 btn-search" id="search-button" aria-label="Search"
                                                mouse-enter-toggle-class="btn-success" base-class="btn-default"
                                                ng-click="vm.doGlobalSearch()">
                                            {{'BTN_GLOBAL_SEARCH' | translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-check-in filter-check-in panel-collapsed" ng-init="vm.getMyCheckData()" style="display: none;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" ng-if="vm.checkData != undefined">
                        <div ng-if="vm.checkData == false ">
                            <div class="row text-center">
                                <div class="col-sm-10">
                                    <span ng-bind-html="vm.getCheckTooltipMessage()"></span>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-success btn-block check-in-btn"
                                            ng-click="vm.checkIn()">{{'CHECK.BTN_CHECK_IN' | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div ng-if="vm.checkData && !vm.checkData.todayIsDone">
                            <div class="row text-center">
                                <div class="col-sm-10">
                                    <span ng-bind-html="vm.getCheckTodayNotMessage()"></span>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-success btn-block check-in-btn"
                                            ng-click="vm.checkIn()">{{'CHECK.BTN_CHECK_IN' | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div ng-if="vm.checkData && vm.checkData.todayIsDone">
                            <div class="row">
                                <div class="col-sm-12 text-center check-in-info">
                                    <span ng-bind-html="vm.getCheckTodayDoneMessage()"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="filter-notice">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="home-notice" ng-init="vm.getHomeNotice()">
                            <div class="list-title">
                                <i class="fa fa-caret-right"></i>
                                <span class="h4" translate="HOME.TITLE_NOTICE"></span>
                            </div>
                            <div class="list-items">
                                <p class="text-long" ng-repeat="t in vm.homeNoticeTopics">
                                    <span class="item-date">{{t.pushHomeAt | date: 'MM-dd HH:mm:ss'}} - </span>
                                    <a ui-sref="forums.topic({ forumId: t.forum, topicId: t._id })" title="{{t.title}}">{{t.title}}</a>
                                </p>
                            </div>
                            <div>
                                <a class="btn btn-mt-o margin-top-15" mouse-enter-toggle-class="btn-success" base-class="btn-mt-o-primary"
                                   ui-sref="forums.view({ forumId: vm.forumsConfig.noticeForumId})">
                                    {{'HOME.BUTTON_MORE_NOTICE' | translate}}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="home-notice" ng-init="vm.getHomeHelp()">
                            <div class="list-title">
                                <i class="fa fa-caret-right"></i>
                                <span class="h4" translate="HOME.TITLE_HELP"></span>
                            </div>
                            <div class="list-items">
                                <p class="text-long" ng-repeat="t in vm.homeHelpTopics">
                                    <span class="item-date">{{t.pushHomeAt | date: 'MM-dd HH:mm:ss'}} - </span>
                                    <a ui-sref="forums.topic({ forumId: t.forum, topicId: t._id })" title="{{t.title}}">{{t.title}}</a>
                                </p>
                            </div>
                            <div>
                                <a class="btn btn-mt-o margin-top-15" mouse-enter-toggle-class="btn-success" base-class="btn-mt-o-primary"
                                   ui-sref="forums.view({ forumId: vm.forumsConfig.helpForumId})">
                                    {{'HOME.BUTTON_MORE_HELPER' | translate}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="filter-albums albums-list" ng-init="vm.getAlbumsList()" style="display: none">
            <div ng-if="vm.homeConfig.showAlbumsList && vm.albumsList.length>0">
                <div class="container padding-top-10 padding-bottom-30">
                    <div class="row">
                        <div class="albums-items">
                            <div ng-repeat="m in vm.albumsList | filter: tp.type">
                                <div data-ng-if="$index != 0 && $index % 2 == 0" class="clearfix visible-sm-block"></div>
                                <div data-ng-if="$index != 0 && $index % 3 == 0" class="clearfix visible-md-block visible-lg-block"></div>
                                <div class="col-sm-6 col-md-4">
                                    <a ui-sref="albums.view({ albumId: m._id })">
                                        <div class="albums-item">
                                            <img ng-src="{{vm.getAlbumBackdropImage(m)}}" align-middle-parent>

                                            <div class="item-info text-center">
                                                <div class="name">{{m.name}}</div>

                                                <div class="row margin-top-40 album-data">
                                                    <div class="col-xs-6 text-center col-small-padding">
                                                        <i class="fa fa-th-large text-info">
                                                            <strong> {{'ALBUMS.CAT_TYPE' | translate}}: {{'TORRENT_TYPE_LABEL.' + m.type.toUpperCase() | translate}}</strong></i>
                                                    </div>
                                                    <div class="col-xs-6 text-center col-small-padding">
                                                        <i class="fa fa-list text-info">
                                                            <strong> {{'ALBUMS.FILES_NUMBERS' | translate}}: {{m.torrents.length}}</strong></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="filter-notice">
            <div class="container" ng-if="vm.homeConfig.showForumNewTopicsAndNewestTorrents">
                <div class="row">
                    <div class="col-md-6">
                        <div class="home-new-topic" ng-init="vm.getForumNewTopic()">
                            <div class="list-title">
                                <i class="fa fa-caret-right"></i>
                                <span class="h4" translate="HOME.TITLE_NEW_TOPIC"></span>
                            </div>
                            <div class="list-items">
                                <p class="text-long" ng-repeat="t in vm.homeNewTopics">
                                    <span class="item-date">{{t.createdAt | date: 'MM-dd HH:mm'}} - </span>
                                    <a ui-sref="forums.topic({ forumId: t.forum, topicId: t._id })" title="{{t.title}}">{{t.title}}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="home-new-torrents" ng-init="vm.getNewestTorrents()">
                            <div class="list-title">
                                <i class="fa fa-caret-right"></i>
                                <span class="h4" translate="HOME.TITLE_NEWEST_TORRENTS"></span>
                            </div>
                            <div class="list-items">
                                <p class="text-long" ng-repeat="t in vm.homeNewestTorrents">
                                    <span class="item-date">{{t.createdat | date: 'MM-dd HH:mm'}} - </span>
                                    <a ui-sref="torrents.view({ torrentId: t._id })"
                                       title="{{vm.TGI.getTorrentCustomTitle(t)}}">{{vm.TGI.getTorrentCustomTitle(t)}}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="filter-vip home_vip_info" ng-if="vm.homeConfig.showVipBanner">
            <div class="vip-half-background">
                <div class="container">
                    <div class="row vip-content">
                        <div class="col-sm-6 col-md-5 col-md-offset-1 vip-left">
                            <!--<img class="vip-img img-thumbnail img-responsive" src="http://image.tmdb.org/t/p/w500/rsZmANIzl7Ut27uBFWGz1tgPWVs.jpg">-->
                        </div>
                        <div class="col-sm-6 col-md-5 col-md-offset-1 vip-right">
                            <div class="vip-title">
                                <h3>{{'VIP.VIP_TITLE' | translate}}
                                    <small>{{'VIP.VIP_SUB_TITLE' | translate}}</small>
                                </h3>
                            </div>
                            <div class="vip-tooltip" ng-bind-html="vm.getVipTooltip();"></div>
                            <div class="vip-more margin-bottom-10">
                                <a ui-sref="vip.rules">{{'HOME.MORE_VIP_RULES_AND_RIGHT' | translate}}</a>
                            </div>
                            <a ui-sref="vip.donate" class="btn btn-min-width-150 btn-mt-success-light margin-bottom-20"
                               mt-scale-by-mouse="{scale: 1.2, duration: '.5s'}">
                                {{'HOME.BTN_JOIN_VIP' | translate}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-button-list filter-button-list">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xs-6 col-sm-3 text-center fun-item" ng-repeat="fun in vm.homeConfig.buttonList">
                                <span class="fa-stack" ui-sref="{{fun.state}}">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="{{fun.icon}} fa-stack-1x fun-icon"></i>
                                </span>
                                <h4 class="fun-title" translate="{{fun.title}}"></h4>
                                <span class="fun-desc" translate="{{fun.desc}}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home-torrents" ng-if="vm.homeConfig.showTopLevelTorrents"
         ng-include="'/modules/core/client/views/home_torrents.client.view.html'"></div>

    <div class="filter-disclaimer">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <span class="disclaimer" translate="SITE_STATEMENT"
                          translate-values="{sMail: vm.supportConfig.supportMailAddress, sNameDesc: vm.supportConfig.supportGroupNameDesc, sName: vm.supportConfig.supportGroupName}"></span>
                </div>
            </div>
        </div>
    </div>
</section>