<section ng-controller="ForumsPostController as vm" ng-init="vm.init();">
    <div class="pagetop">
        <div class="container">
            <div class="col-sm-8">
                <div class="page-header">
                    <h2 translate="FORUMS.FORUM_TITLE"></h2>

                    <p class="text-muted" translate="FORUMS.FORUM_SUB_TITLE"></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="page-header padding-top-10">
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="search" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" aria-label="Search"><span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                    <!--<p class="text-muted margin-top-10">Welcome to meanTorrent forums!</p>-->
                </div>
            </div>
        </div>
    </div>

    <div class="container forum-list">
        <div class="path margin-top-20">
            <ol class="breadcrumb">
                <li><a ui-sref="forums.list"><span class="small glyphicon glyphicon-home"></span> {{'FORUMS.HOME_INDEX' | translate}}</a></li>
                <li ng-repeat="p in vm.forumPath" ng-class="{'active': !g.state}">
                    <a ui-sref="{{p.state}}( {{p.params}} )"
                       ng-if="p.state!=undefined">{{p.name}}
                    </a>
                    <span ng-if="p.state==undefined">{{p.name}}</span>
                </li>
            </ol>
        </div>

        <div class="post-view">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <form name="vm.postForm" ng-submit="vm.postTopic(vm.postForm.$valid)" novalidate autocomplete="off">
                        <div class="form-group" show-errors>
                            <input id="postTitle" name="postTitle"
                                   class="form-control margin-bottom-10" ng-model="vm.postFields.title" type="text"
                                   placeholder="{{'FORUMS.FIELDS.TITLE' | translate}}" required autofocus>

                            <div ng-messages="vm.postForm.postTitle.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">{{ 'FORUMS.PT_REQUIRED' | translate}}</p>
                            </div>
                        </div>

                        <div class="form-group" show-errors>
                            <textarea id="postContent" name="postContent" ng-model="vm.postFields.content" mt-markdown-editor="postContent" required></textarea>

                            <div ng-messages="vm.postForm.postContent.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">{{ 'FORUMS.PC_REQUIRED' | translate}}</p>
                            </div>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="vm.postFields.readOnly"> {{'FORUMS.FIELDS.READONLY_REPLY' | translate}}
                            </label>
                        </div>

                        <li class="status-divider" style="margin-top: 30px !important;"></li>

                        <div class="margin-top-5 xs-hide" style="display: table;">
                            <a class="message-extra" href="https://guides.github.com/features/mastering-markdown/" target="_blank"
                               data-ga-click="Markdown Toolbar, click, help">
                                <svg aria-hidden="true" height="16" version="1.1"
                                     viewBox="0 0 16 16" width="16">
                                    <path fill-rule="evenodd"
                                          d="M14.85 3H1.15C.52 3 0 3.52 0 4.15v7.69C0 12.48.52 13 1.15 13h13.69c.64 0 1.15-.52 1.15-1.15v-7.7C16 3.52 15.48 3 14.85 3zM9 11H7V8L5.5 9.92 4 8v3H2V5h2l1.5 2L7 5h2v6zm2.99.5L9.5 8H11V5h2v3h1.5l-2.51 3.5z"/>
                                </svg>
                                {{ 'MARKDOWN_LINK' | translate }}
                            </a>
                        </div>
                        <button type="submit" class="btn btn-success btn-width-100 pull-right">{{'FORUMS.BTN_SUBMIT_TOPIC' | translate}}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>