<div class="pagetop" ng-controller="ForumsSearchController as vm" ng-init="vm.init();">
    <div class="container">
        <div class="col-sm-7">
            <div class="page-header">
                <h2 translate="FORUMS.FORUM_TITLE"></h2>

                <p class="text-muted" translate="FORUMS.FORUM_SUB_TITLE"></p>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="page-header padding-top-10">
                <div class="input-group search-group">
                    <input type="text" class="form-control" aria-label="search" placeholder="Search">

                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">{{vm.selectedForum.name}} <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li ng-repeat="f in vm.forumList" ng-class="{'item-divider': f.divider}">
                                <a href="#" ng-click="vm.selectedForum = f;">{{f.name}}</a>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" aria-label="Search"
                                ng-click="vm.doSearch();">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
                <!--<p class="text-muted margin-top-10">Welcome to meanTorrent forums!</p>-->
            </div>
        </div>
    </div>
</div>
