<section ng-controller="ForumsTopicController as vm" ng-init="vm.init();">
    <div class="pagetop">
        <div class="container">
            <div class="col-sm-8">
                <div class="page-header">
                    <h2 translate="FORUMS.FORUM_TITLE"></h2>

                    <p class="text-muted" translate="FORUMS.FORUM_SUB_TITLE"></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="page-header padding-top-10">
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="search" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" aria-label="Search"><span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container reply-list">
        <div class="path margin-top-20">
            <ol class="breadcrumb">
                <li><a ui-sref="forums.list"><span class="small glyphicon glyphicon-home"></span> {{'FORUMS.HOME_INDEX' | translate}}</a></li>
                <li ng-repeat="p in vm.forumPath" ng-class="{'active': !g.state}">
                    <a ui-sref="{{p.state}}( {{p.params}} )"
                       ng-if="p.state!=undefined">{{p.name}}
                    </a>
                    <span ng-if="p.state==undefined">{{p.name}}</span>
                </li>
            </ol>
        </div>


        <div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="box-uib-and-post-btn">
                        <div class="box-uib">
                            <ul uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength"
                                ng-model="vm.currentPage"
                                ng-change="vm.pageChanged()"
                                first-text="{{ 'PAGE_TEXT_FIRST' | translate}}" previous-text="{{ 'PAGE_TEXT_PREVIOUS' | translate}}"
                                next-text="{{ 'PAGE_TEXT_NEXT' | translate}}" last-text="{{ 'PAGE_TEXT_LAST' | translate}}">
                            </ul>
                        </div>
                        <div class="box-post-btn">
                            <a class="btn btn-success btn-width-100"
                               href="#" ng-click="vm.beginPostReply();">{{'FORUMS.BTN_POST_NEW_REPLY' | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive table-category">
            <table class="table table-valign-middle">
                <thead>
                    <tr>
                        <th>
                            <span>{{vm.topic.title}}</span>

                            <div class="count-info pull-right xs-hide sm-hide">
                                <span>{{'FORUMS.FIELDS.VIEWS' | translate}}: {{vm.topic.viewCount}}</span>,
                                <span>{{'FORUMS.FIELDS.REPLIES' | translate}}: {{vm.topic.replyCount}}</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="reply-item">
                                <!-- topic content -->
                                <div class="reply-wrapper">
                                    <a class="reply-avatar">
                                        <img title="{{vm.topic.user.displayName}}" ng-src="/{{vm.topic.user.profileImageURL}}">
                                    </a>

                                    <div class="reply-comment">
                                        <div class="reply-comment-header">
                                            <div class="reply-comment-header-text">{{vm.topic.user.displayName}} <span
                                                    score-level="vm.getUserScoreLevel(vm.topic.user);"></span>

                                                <span message-to="vm.topic.user" to-class="message-to-icon"></span>
                                                <span class="user-ud-text">
                                                    (<span class="glyphicon glyphicon-arrow-up torrent-up"></span>{{vm.topic.user.uploaded | bytes}}
                                                    <span class="glyphicon glyphicon-arrow-down torrent-down"></span>{{vm.topic.user.downloaded | bytes}}
                                                    )
                                                </span>
                                                <span class="reply-comment-header-time-text">{{vm.topic.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</span>

                                                <div class="reply-comment-header-command pull-right">
                                                    <i class="fa fa-quote-left" aria-hidden="true"
                                                       title="{{'FORUMS.TITLES.REPLY_QUOTE' | translate}}"
                                                       ng-click="vm.quoteAndReply(vm.topic);"></i>
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"
                                                       title="{{'FORUMS.TITLES.TOPIC_EDIT' | translate}}"
                                                       ng-show="vm.canEdit(vm.topic);"
                                                       ng-click="vm.beginEditTopic(vm.topic)"></i>
                                                    <i class="fa fa-times" aria-hidden="true"
                                                       title="{{'FORUMS.TITLES.TOPIC_DELETE' | translate}}"
                                                       ng-show="vm.canEdit(vm.topic);"
                                                       ng-click="vm.beginDeleteTopic(vm.topic);"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="reply-comment-body">
                                            <div id="{{vm.topic._id}}" data-provide="markdown" class="reply-comment-body-text"
                                                 ng-bind-html="vm.getTopicContent(vm.topic)">
                                            </div>
                                            <div class="row text-right margin-top-10" ng-show="vm.topic.updatedAt">
                                                <p class="reply-comment-body-edited-text">[ {{vm.topic.updatedBy.displayName}} {{ 'COMMENT_EDITED_INFO' | translate}} {{vm.topic.updatedAt | date:'yyyy-MM-dd HH:mm:ss'}} ]</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- topic replies -->
                                <div class="reply-wrapper" ng-repeat="rep in vm.topic._replies">
                                    <a class="reply-avatar">
                                        <img title="{{rep.user.displayName}}" ng-src="/{{rep.user.profileImageURL}}">
                                    </a>

                                    <div class="reply-comment">
                                        <div class="reply-comment-header">
                                            <div class="reply-comment-header-text">{{rep.user.displayName}} <span
                                                    score-level="vm.getUserScoreLevel(vm.topic.user);"></span>

                                                <span message-to="vm.topic.user" to-class="message-to-icon"></span>
                                                <span class="user-ud-text">
                                                    (<span class="glyphicon glyphicon-arrow-up torrent-up"></span>{{rep.user.uploaded | bytes}}
                                                    <span class="glyphicon glyphicon-arrow-down torrent-down"></span>{{rep.user.downloaded | bytes}}
                                                    )
                                                </span>
                                                <span class="reply-comment-header-time-text">{{rep.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</span>

                                                <div class="reply-comment-header-command pull-right">
                                                    <i class="fa fa-quote-left" aria-hidden="true"
                                                       title="{{'FORUMS.TITLES.REPLY_QUOTE' | translate}}"
                                                       ng-click="vm.quoteAndReply(rep);"></i>
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"
                                                       title="{{'FORUMS.TITLES.TOPIC_EDIT' | translate}}"
                                                       ng-show="vm.canEdit(rep);"
                                                       ng-click="vm.beginEditReply(rep)"></i>
                                                    <i class="fa fa-times" aria-hidden="true"
                                                       title="{{'FORUMS.TITLES.TOPIC_DELETE' | translate}}"
                                                       ng-show="vm.canEdit(rep);"
                                                       ng-click="vm.beginDeleteReply(rep);"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="reply-comment-body">
                                            <div id="{{rep._id}}" data-provide="markdown" class="reply-comment-body-text"
                                                 ng-bind-html="vm.getTopicContent(rep)">
                                            </div>
                                            <div class="row text-right margin-top-10" ng-show="rep.updatedAt">
                                                <p class="reply-comment-body-edited-text">[ {{rep.updatedBy.displayName}} {{ 'COMMENT_EDITED_INFO' | translate}} {{rep.updatedAt | date:'yyyy-MM-dd HH:mm:ss'}} ]</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive table-category" scroll-if="vm.scrollToReply">
            <table class="table margin-bottom-10">
                <thead>
                    <tr>
                        <th>
                            <span>{{'FORUMS.BTN_POST_NEW_REPLY' | translate}}</span>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="reply-post margin-bottom-30">
            <div class="row">
                <div class="col-md-12">
                    <form name="vm.replyForm" ng-submit="vm.postReply(vm.replyForm.$valid)" novalidate autocomplete="off">
                        <div class="form-group" show-errors>
                            <textarea id="postReplyContent" name="postReplyContent" ng-model="vm.postReplyFields.content"
                                      mt-markdown-editor="postReplyContent" required></textarea>

                            <div ng-messages="vm.replyForm.postReplyContent.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">{{ 'FORUMS.PRC_REQUIRED' | translate}}</p>
                            </div>
                        </div>

                        <div class="margin-top-5" style="display: table;">
                            <a class="message-extra" href="https://guides.github.com/features/mastering-markdown/" target="_blank"
                               data-ga-click="Markdown Toolbar, click, help">
                                <svg aria-hidden="true" height="16" version="1.1"
                                     viewBox="0 0 16 16" width="16">
                                    <path fill-rule="evenodd"
                                          d="M14.85 3H1.15C.52 3 0 3.52 0 4.15v7.69C0 12.48.52 13 1.15 13h13.69c.64 0 1.15-.52 1.15-1.15v-7.7C16 3.52 15.48 3 14.85 3zM9 11H7V8L5.5 9.92 4 8v3H2V5h2l1.5 2L7 5h2v6zm2.99.5L9.5 8H11V5h2v3h1.5l-2.51 3.5z"/>
                                </svg>
                                {{ 'MARKDOWN_LINK' | translate }}
                            </a>
                        </div>
                        <button type="submit" class="btn btn-success btn-width-100 pull-right">{{'FORUMS.BTN_SUBMIT_REPLY' | translate}}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>