<section ng-controller="ForumsViewController as vm" ng-init="vm.init();">
    <div class="pagetop">
        <div class="container">
            <div class="col-sm-8">
                <div class="page-header">
                    <h1>meanTorrent Forums</h1>

                    <p class="text-muted">Welcome to meanTorrent forums!</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="page-header padding-top-10">
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="search" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" aria-label="Search"><span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                    <!--<p class="text-muted margin-top-10">Welcome to meanTorrent forums!</p>-->
                </div>
            </div>
        </div>
    </div>

</section>