<section ng-controller="ForumsViewController as vm" ng-init="vm.init(); vm.buildPager();">
    <div ng-include="'/modules/forums/client/views/search.client.view.html'"></div>

    <div class="container post-list">
        <div class="path margin-top-20">
            <ol class="breadcrumb">
                <li><a ui-sref="forums.list"><span class="small glyphicon glyphicon-home"></span> {{'FORUMS.HOME_INDEX' | translate}}</a></li>
                <li ng-repeat="p in vm.forumPath" ng-class="{'active': !g.state}">
                    <a ui-sref="{{p.state}}( {{p.params}} )"
                       ng-if="p.state!=undefined">{{p.name}}
                    </a>
                    <span ng-if="p.state==undefined">{{p.name}}</span>
                </li>
            </ol>
        </div>

        <div class="table-responsive table-category" ng-if="vm.globalTopics.length">
            <table class="table table-hover table-valign-middle">
                <thead>
                    <tr>
                        <th>{{'FORUMS.FIELDS.GLOBAL_TOPIC' | translate}}</th>
                        <th class="text-center xs-hide">{{'FORUMS.FIELDS.REPLIES' | translate}}</th>
                        <th class="text-center xs-hide">{{'FORUMS.FIELDS.VIEWS' | translate}}</th>
                        <th class="text-center xs-hide sm-hide">{{'FORUMS.FIELDS.LAST_REPLY' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="t in vm.globalTopics">
                        <td>
                            <span class="post-icon glyphicon glyphicon-eye-open" ng-class="{'has-new-reply': vm.hasNewReply(t)}"></span>

                            <div class="post-info">
                                <p class="topic-title">
                                    <a ui-sref="forums.topic({ forumId: vm.forum._id, topicId: t._id })">{{t.title}}</a>
                                    <i class="fa fa-paperclip fa-lg" aria-hidden="true"
                                       title="{{'FORUMS.TITLES.HAS_ATTACH' | translate}}"
                                       ng-show="vm.hasAttach(t);"></i>
                                    <small class="badge badge_default" ng-show="t.readOnly">R</small>
                                </p>

                                <p class="topic-by small">
                                    <span translate="FORUMS.FIELDS.REPLY_BY_1"></span>
                                    <span user-info="t.user" info-name></span>
                                    <span message-to="t.user" to-class="message-to-icon"></span>
                                    <span translate="FORUMS.FIELDS.REPLY_BY_3"
                                          translate-values="{createdAt: '{{t.createdAt | date: 'yyyy-MM-dd HH:mm:ss'}}'}">
                                    </span>
                                </p>
                            </div>
                        </td>
                        <td class="text-center xs-hide"><span class="count-number">{{t.replyCount}}</span></td>
                        <td class="text-center xs-hide"><span class="count-number">{{t.viewCount}}</span></td>
                        <td class="xs-hide sm-hide">
                            <div ng-if="t._replies.length > 0">   <!--reply-->
                                <div class="small reply-by">
                                    <span translate="FORUMS.FIELDS.REPLY_BY_1"></span>
                                    <span user-info="t.lastUser" info-name></span>
                                    <span message-to="t.lastUser" to-class="message-to-icon"></span>
                                </div>
                                <div class="small reply-by"
                                     translate="FORUMS.FIELDS.REPLY_BY_2"
                                     translate-values="{createdAt: '{{t.lastReplyAt | date: 'yyyy-MM-dd HH:mm:ss'}}'}">
                                </div>
                            </div>
                            <div ng-if="t._replies.length == 0">   <!--post-->
                                <div class="small reply-by">
                                    <span translate="FORUMS.FIELDS.REPLY_BY_1"></span>
                                    <span user-info="t.user" info-name></span>
                                    <span message-to="t.user" to-class="message-to-icon"></span>
                                </div>
                                <div class="small reply-by"
                                     translate="FORUMS.FIELDS.REPLY_BY_3"
                                     translate-values="{createdAt: '{{t.createdAt | date: 'yyyy-MM-dd HH:mm:ss'}}'}">
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="top_of_post_list">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box-uib-and-post-btn">
                        <div class="box-uib">
                            <ul uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength"
                                ng-model="vm.currentPage"
                                ng-change="vm.pageChanged()"
                                first-text="{{ 'PAGE_TEXT_FIRST' | translate}}" previous-text="{{ 'PAGE_TEXT_PREVIOUS' | translate}}"
                                next-text="{{ 'PAGE_TEXT_NEXT' | translate}}" last-text="{{ 'PAGE_TEXT_LAST' | translate}}">
                            </ul>
                        </div>
                        <div class="box-post-btn">
                            <a class="btn btn-success btn-width-100"
                               ng-if="!vm.forum.readOnly || vm.canEdit(vm.forum)"
                               ui-sref="forums.post({forumId: vm.forum._id})">{{'FORUMS.BTN_POST_NEW_TOPIC' | translate}}</a>
                            <h5 class="text-danger text-uppercase" translate="FORUMS.READ_ONLY_POST"
                                ng-if="vm.forum.readOnly && !vm.canEdit(vm.forum)"></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive table-category">
            <table class="table table-hover table-valign-middle">
                <thead>
                    <tr>
                        <th>{{'FORUMS.FIELDS.TOPIC' | translate}}</th>
                        <th class="text-center xs-hide">{{'FORUMS.FIELDS.REPLIES' | translate}}</th>
                        <th class="text-center xs-hide">{{'FORUMS.FIELDS.VIEWS' | translate}}</th>
                        <th class="text-center xs-hide sm-hide">{{'FORUMS.FIELDS.LAST_REPLY' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="t in vm.pagedItems">
                        <td>
                            <span class="post-icon glyphicon glyphicon-eye-open" ng-class="{'has-new-reply': vm.hasNewReply(t)}"></span>

                            <div class="post-info">
                                <p class="topic-title">
                                    <i class="fa fa-arrow-circle-up fa-lg" aria-hidden="true"
                                       title="{{'FORUMS.TITLES.TOPIC_TOP_TOPIC' | translate}}"
                                       ng-if="t.isTop"></i>
                                    <a ui-sref="forums.topic({ forumId: vm.forum._id, topicId: t._id })">{{t.title}}</a>
                                    <i class="fa fa-paperclip fa-lg" aria-hidden="true"
                                       title="{{'FORUMS.TITLES.HAS_ATTACH' | translate}}"
                                       ng-show="vm.hasAttach(t);"></i>
                                    <small class="badge badge_default" ng-show="t.readOnly">R</small>
                                </p>

                                <p class="topic-by small">
                                    <span translate="FORUMS.FIELDS.REPLY_BY_1"></span>
                                    <span user-info="t.user" info-name></span>
                                    <span message-to="t.user" to-class="message-to-icon"></span>
                                    <span translate="FORUMS.FIELDS.REPLY_BY_3"
                                          translate-values="{createdAt: '{{t.createdAt | date: 'yyyy-MM-dd HH:mm:ss'}}'}">
                                    </span>
                                </p>
                            </div>
                        </td>
                        <td class="text-center xs-hide"><span class="count-number">{{t.replyCount}}</span></td>
                        <td class="text-center xs-hide"><span class="count-number">{{t.viewCount}}</span></td>
                        <td class="xs-hide sm-hide">
                            <div ng-if="t._replies.length > 0">   <!--reply-->
                                <div class="small reply-by">
                                    <span translate="FORUMS.FIELDS.REPLY_BY_1"></span>
                                    <span user-info="t.lastUser" info-name></span>
                                    <span message-to="t.lastUser" to-class="message-to-icon"></span>
                                </div>
                                <div class="small reply-by"
                                     translate="FORUMS.FIELDS.REPLY_BY_2"
                                     translate-values="{createdAt: '{{t.lastReplyAt | date: 'yyyy-MM-dd HH:mm:ss'}}'}">
                                </div>
                            </div>
                            <div ng-if="t._replies.length == 0">   <!--post-->
                                <div class="small reply-by">
                                    <span translate="FORUMS.FIELDS.REPLY_BY_1"></span>
                                    <span user-info="t.user" info-name></span>
                                    <span message-to="t.user" to-class="message-to-icon"></span>
                                </div>
                                <div class="small reply-by"
                                     translate="FORUMS.FIELDS.REPLY_BY_3"
                                     translate-values="{createdAt: '{{t.createdAt | date: 'yyyy-MM-dd HH:mm:ss'}}'}">
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="pagination-div-bottom">
            <ul uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength"
                ng-model="vm.currentPage" ng-change="vm.pageChanged()"
                first-text="{{ 'PAGE_TEXT_FIRST' | translate}}" previous-text="{{ 'PAGE_TEXT_PREVIOUS' | translate}}"
                next-text="{{ 'PAGE_TEXT_NEXT' | translate}}" last-text="{{ 'PAGE_TEXT_LAST' | translate}}">
            </ul>
        </div>
    </div>
</section>