<section ng-controller="ForumsViewController as vm" ng-init="vm.init();">
    <div class="pagetop">
        <div class="container">
            <div class="col-sm-8">
                <div class="page-header">
                    <h2 translate="FORUMS.FORUM_TITLE"></h2>

                    <p class="text-muted" translate="FORUMS.FORUM_SUB_TITLE"></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="page-header padding-top-10">
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="search" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" aria-label="Search"><span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                    <!--<p class="text-muted margin-top-10">Welcome to meanTorrent forums!</p>-->
                </div>
            </div>
        </div>
    </div>

    <div class="container post-list">
        <div class="path margin-top-20">
            <ol class="breadcrumb">
                <li><a ui-sref="forums.list"><span class="small glyphicon glyphicon-home"></span> {{'FORUMS.HOME_INDEX' | translate}}</a></li>
                <li ng-repeat="p in vm.forumPath" ng-class="{'active': !g.state}"><a ui-sref="{{p.state}}( {{p.params}} )"
                                                                                     ng-if="p.state!=undefined">{{p.name}}</a><span
                        ng-if="p.state==undefined">{{p.name}}</span></li>
            </ol>
        </div>

        <div>
            <div class="row">
                <div class="col-sm-12 col-md-9">
                    <ul uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength"
                        ng-model="vm.currentPage"
                        ng-change="vm.pageChanged()"
                        first-text="{{ 'PAGE_TEXT_FIRST' | translate}}" previous-text="{{ 'PAGE_TEXT_PREVIOUS' | translate}}"
                        next-text="{{ 'PAGE_TEXT_NEXT' | translate}}" last-text="{{ 'PAGE_TEXT_LAST' | translate}}">
                    </ul>
                </div>
                <div class="col-sm-12 col-md-3">
                    <a class="btn btn-success margin-top-10 margin-bottom-10 pull-right"
                       ui-sref="forums.post({forumId: vm.forum._id})">{{'FORUMS.BTN_POST_NEW' | translate}}</a>
                </div>
            </div>
        </div>

        <div class="table-responsive table-category">
            <table class="table table-hover table-valign-middle">
                <thead>
                    <tr>
                        <th>{{'FORUMS.FIELDS.TOPICS' | translate}}</th>
                        <th class="text-center xs-hide">{{'FORUMS.FIELDS.REPLIES' | translate}}</th>
                        <th class="text-center xs-hide">{{'FORUMS.FIELDS.VIEWS' | translate}}</th>
                        <th class="text-center xs-hide sm-hide">{{'FORUMS.FIELDS.LAST_REPLY' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="t in vm.topics">
                        <td>
                            <span class="post-icon glyphicon glyphicon-eye-open" ng-class="{'has-new-reply': $index%2==0}"></span>

                            <div class="post-info">
                                <h4><a ui-sref="topics.view({ forumId: f._id, topicId: t._id })">{{t.title}}</a>
                                    <small class="badge badge_mt" ng-show="t.readOnly">R</small>
                                </h4>

                                <p class="topic-by small"
                                   translate="FORUMS.FIELDS.POST_BY"
                                   translate-values="{user: t.user.displayName, createdAt: '{{t.createdAt | date: 'yyyy-MM-dd HH:mm:ss'}}' }">
                                </p>
                            </div>
                        </td>
                        <td class="text-center xs-hide">{{t.replyCount}}</td>
                        <td class="text-center xs-hide">{{t.viewCount}}</td>
                        <td class="xs-hide sm-hide">
                            <div class="small reply-by">
                                <span translate="FORUMS.FIELDS.REPLY_BY_1"
                                      translate-values="{user: t.user.displayName}"></span>
                                <span message-to="t.user" to-class="message-to-icon"></span>
                            </div>
                            <div class="small reply-by"
                                 ng-if="t._replies.length > 0"
                                 translate="FORUMS.FIELDS.REPLY_BY_2"
                                 translate-values="{createdAt: '{{t.lastReplyAt | date: 'yyyy-MM-dd HH:mm:ss'}}'}">
                            </div>
                            <div class="small reply-by"
                                 ng-if="t._replies.length == 0"
                                 translate="FORUMS.FIELDS.REPLY_BY_3"
                                 translate-values="{createdAt: '{{t.createdAt | date: 'yyyy-MM-dd HH:mm:ss'}}'}">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>