<section ng-controller="ScoreController as vm" ng-init="vm.init();">
    <div class="margin-top-40">
        <div class="text-center">
            <span>{{ 'SCORE.CURRENT_SCORE' | translate }}</span> <span class="curr-score">{{ vm.scoreLevelData.score }}</span> <span
                score-level="vm.scoreLevelData.currLevel"></span>
        </div>

        <div class="row margin-top-30">
            <div class="col-sm-8 col-sm-offset-2">
                <div>
                    <span>{{ vm.scoreLevelData.currLevelValue }}</span>
                    <span class="pull-right">{{ vm.scoreLevelData.nextLevelValue }}</span>
                </div>
                <div class="progress score-progress">
                    <div class="progress-bar progress-bar-success" style="width: {{ vm.scoreLevelData.currPercentString }}">
                        <span>{{ vm.scoreLevelData.currPercentString }}</span>
                    </div>
                </div>
                <div>
                    <span class="score-level-default" score-level="vm.scoreLevelData.currLevel"></span>
                    <span class="score-level-default pull-right" score-level="vm.scoreLevelData.nextLevel"></span>
                </div>
            </div>
        </div>

        <div class="row margin-top-30" ng-show="vm.inviteConfig.open_invite">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <button class="btn btn-default" ng-disabled="vm.user.score < vm.inviteConfig.score_exchange"
                        translate="EXCHANGE_INVITATION" translate-values='{ score: vm.inviteConfig.score_exchange}'
                        ng-click="vm.exchangeInvitation();">
                </button>
            </div>
        </div>

        <div class="row margin-top-30" ng-hide="vm.inviteConfig.open_invite">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <div class="alert alert-warning" role="alert">
                    <strong>{{ 'NOTE_CAPTION' | translate }}</strong> {{ 'INVITE_CLOSED' | translate }}
                </div>
            </div>
        </div>

        <div class="row margin-top-30 padding-top-30">
            <div class="col-sm-8 col-sm-offset-2">
                <legend class="small-legend" translate="SCORE.HOW_TO_GET_LEVEL"></legend>
                <div marked src="'/modules/users/client/templates/how-level-'+vm.lang+'.md'" compile="true">
                </div>
            </div>
        </div>

        <div class="row margin-top-30 margin-bottom-30">
            <div class="col-sm-8 col-sm-offset-2">
                <legend class="small-legend" translate="SCORE.HOW_TO_GET_SCORE"></legend>
                <div marked src="'/modules/users/client/templates/how-score-'+vm.lang+'.md'" compile="true">
                </div>
            </div>
        </div>
    </div>
</section>
