<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <title></title>
  </head>

  <body>
    <p>Dear {{to_email}},</p>
    <br />
    <p>
      Your friend [{{name}}] invited you to join {{appName}}
    </p>
    <p>Please visit this url to register your account:</p>
    <p>{{url}}</p>
    <p>Please note: the expiration time of this url is {{hours}} hours, please register as soon as possible</p>
    <strong>If you didn't make this request, you can ignore this email.</strong>
    <br />
    <br />
    <p>The {{appName}} Support Team</p>
  </body>

</html>
