@import (reference) "../../../core/client/less/mt-var.less";

.messages-list {
    .pagination-div-bottom {
        border-top: 2px solid lighten(@gray-base, 85%)
    }
    .pagination-div-top {
        border-bottom: 2px solid lighten(@gray-base, 85%)
    }
}

.message-textarea {
    resize: vertical;
    width: 100%;
    min-height: 200px;
    max-height: 500px;
}

.message-extra {
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    svg {
        vertical-align: middle !important;
        path {
            fill: #18a404;
        }
    }
}
