<div ng-controller="RequestsListController as vm" ng-init="vm.buildPager();">
    <div class="pagetop">
        <div class="container">
            <div class="padding-top-30 padding-bottom-30 text-center">
                <div class="btn-group requests-group">
                    <a class="btn btn-success btn-width-200"
                       ui-sref="requests.list">
                        {{'REQUESTS.NAV_LIST' | translate}}
                    </a>
                    <a class="btn btn-default btn-width-200"
                       ui-sref="requests.add">
                        {{'REQUESTS.NAV_ADD' | translate}}
                    </a>
                    <a class="btn btn-default btn-width-200"
                       ui-sref="requests.my">
                        {{'REQUESTS.NAV_MY' | translate}}
                    </a>
                </div>

            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="requests-desc" ng-bind-html="vm.getRequestsDesc();"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="margin-bottom-10 margin-top-10">
            <div class="jumbotron text-center" ng-if="vm.statusMsg || vm.pagedItems.length<=0">
                <div ng-if="vm.statusMsg">
                    <h3 class="text-muted">{{vm.statusMsg | translate}}</h3>
                </div>
                <div ng-if="!vm.statusMsg && vm.pagedItems.length<=0">
                    <i class="fa fa-users fa-2x text-muted" aria-hidden="true"></i>
                    <h3 class="text-muted">{{'REQUESTS.NO_REQUESTS' | translate}}</h3>
                </div>
            </div>
            <div ng-if="vm.pagedItems.length>0">
                <div id="top_of_follow_list">
                    <div class="pagination-border-bottom">
                        <ul uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength"
                            ng-model="vm.currentPage"
                            ng-change="vm.pageChanged()"
                            first-text="{{ 'PAGE_TEXT_FIRST' | translate}}" previous-text="{{ 'PAGE_TEXT_PREVIOUS' | translate}}"
                            next-text="{{ 'PAGE_TEXT_NEXT' | translate}}" last-text="{{ 'PAGE_TEXT_LAST' | translate}}">
                        </ul>
                    </div>

                    <div class="request-list">
                        <div class="table-responsive">
                            <table class="table table-hover tb-v-middle">
                                <thead>
                                    <tr>
                                        <th>{{ 'REQUESTS.FIELD_TITLE' | translate}}</th>
                                        <th class="text-center">{{ 'REQUESTS.FIELD_TYPE' | translate}}</th>
                                        <th class="text-center">{{ 'REQUESTS.FIELD_CREATEDAT' | translate}}</th>
                                        <th class="text-center">{{ 'REQUESTS.FIELD_REWARDS' | translate}}</th>
                                        <th class="text-center">{{ 'REQUESTS.FIELD_USER' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="request-item" ng-repeat="item in vm.pagedItems">
                                        <td class="col-md-7 td-text-overflow">
                                            <h4>
                                                <a ui-sref="requests.view({requestId: item._id})">{{item.title}}</a>
                                            </h4>
                                            <div class="item-desc text-long">{{item.desc}}</div>
                                        </td>
                                        <td class="col-md-1 td-v-middle text-center width-80">{{'MENU_TORRENTS_SUB.'+item.type.toUpperCase() | translate}}</td>
                                        <td class="col-md-2 td-v-middle text-center width-160">{{item.createdAt | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td class="col-md-1 td-v-middle text-center width-80">{{item.rewards}}</td>
                                        <td class="col-md-1 td-v-middle text-center width-80">
                                            <span user-info="item.user" info-name></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="pagination-border-top">
                        <ul uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength"
                            ng-model="vm.currentPage"
                            ng-change="vm.pageChanged()"
                            first-text="{{ 'PAGE_TEXT_FIRST' | translate}}" previous-text="{{ 'PAGE_TEXT_PREVIOUS' | translate}}"
                            next-text="{{ 'PAGE_TEXT_NEXT' | translate}}" last-text="{{ 'PAGE_TEXT_LAST' | translate}}">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
