<div ng-controller="RequestsAddController as vm">
    <div class="pagetop">
        <div class="container">
            <div class="requests-btn-list padding-top-30 padding-bottom-30 text-center">
                <div class="btn-group requests-group">
                    <a class="btn btn-default btn-min-width-170"
                       ui-sref="requests.list">
                        {{'REQUESTS.NAV_LIST' | translate}}
                    </a>
                    <a class="btn btn-success btn-min-width-170"
                       ui-sref="requests.add">
                        {{'REQUESTS.NAV_ADD' | translate}}
                    </a>
                    <div class="clearfix visible-xxs-block "></div>
                    <a class="btn btn-default btn-min-width-170"
                       ui-sref="requests.my">
                        {{'REQUESTS.NAV_MY' | translate}}
                    </a>
                    <a class="btn btn-default btn-min-width-170"
                       ui-sref="requests.res">
                        {{'REQUESTS.NAV_RES' | translate}}
                    </a>
                </div>
                <i class="fa fa-question-circle request-help" aria-hidden="true"
                   title="{{ 'REQUESTS.DESC_HELP_TITLE' | translate}}"
                   ng-click="vm.onShowHelpClicked();">
                </i>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="requests-desc" ng-class="{'panel-collapsed': vm.show_desc_help=='no', 'requests-desc-hide': vm.show_desc_help=='no'}">
                        <span ng-bind-html="vm.getRequestsDesc();"></span>
                        <i class="fa fa-times" aria-hidden="true"
                           title="{{ 'REQUESTS.CLOSE_HELP_TITLE' | translate}}"
                           ng-click="vm.onCloseHelpClicked();">
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container margin-top-30" ng-if="vm.user.score <= vm.requestsConfig.scoreForAddRequest">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="alert alert-warning text-center" role="alert">
                    <div class="add-warning" ng-bind-html="vm.getCanNotAddDesc();"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" ng-if="vm.user.score > vm.requestsConfig.scoreForAddRequest">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-1">
                <form name="vm.requestForm" class="form-horizontal request-form" ng-submit="vm.create(vm.requestForm.$valid)" novalidate>
                    <div class="form-group">
                        <label for="type" class="col-sm-3 control-label">{{ 'CA_RESOURCE_TYPE' | translate }}:</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="type" name="type" ng-model="vm.request.type">
                                <option ng-repeat="t in vm.torrentTypeConfig.value | filter:{enable: true, role: 'user'}"
                                        value="{{t.value}}">{{'MENU_TORRENTS_SUB.'+t.name | translate}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" show-errors>
                        <label for="title" class="col-sm-3 control-label">{{ 'REQUESTS.FORM_TITLE' | translate}}:</label>
                        <div class="col-sm-9">
                            <input type="text" id="title" name="title" class="form-control"
                                   ng-model="vm.request.title" required autofocus/>
                            <div ng-messages="vm.requestForm.title.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">{{ 'REQUESTS.FORM_TITLE_REQUIRED' | translate}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" show-errors>
                        <label for="requestDesc" class="col-sm-3 control-label">{{ 'REQUESTS.FORM_DESC' | translate}}:</label>
                        <div class="col-sm-9">
                            <textarea id="requestDesc" name="requestDesc" ng-model="vm.request.desc"
                                      mt-markdown-editor="requestDesc" maxlength="{{vm.inputLengthConfig.requestDescLength}}"
                                      required></textarea>
                            <div ng-messages="vm.requestForm.requestDesc.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">{{ 'REQUESTS.FORM_DESC_REQUIRED' | translate}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" show-errors>
                        <label for="rewards" class="col-sm-3 control-label">{{ 'REQUESTS.FORM_REWARDS' | translate}}:</label>
                        <div class="col-sm-3">
                            <input type="number" id="rewards" name="rewards" class="form-control"
                                   min="1" ng-max="vm.user.score - 100"
                                   ng-model="vm.request.rewards" required/>
                        </div>
                        <div class="col-sm-9 col-sm-offset-3">
                            <div ng-messages="vm.requestForm.rewards.$error" role="alert">
                                <p class="help-block error-text"
                                   ng-message="max || min">{{ 'REQUESTS.FORM_REWARDS_MAX_MIN' | translate:{min: 1, max: vm.user.score-100} }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <input type="submit" value="{{'REQUESTS.BTN_SUBMIT_REQUEST' | translate}}" class="btn btn-success">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
