<div ng-controller="RequestsResController as vm" ng-init="vm.buildPager();">
    <div class="pagetop">
        <div class="container">
            <div class="padding-top-30 padding-bottom-30 text-center">
                <div class="btn-group requests-group">
                    <a class="btn btn-default btn-width-180"
                       ui-sref="requests.list">
                        {{'REQUESTS.NAV_LIST' | translate}}
                    </a>
                    <a class="btn btn-default btn-width-180"
                       ui-sref="requests.add">
                        {{'REQUESTS.NAV_ADD' | translate}}
                    </a>
                    <div class="clearfix visible-xxs-block "></div>
                    <a class="btn btn-default btn-width-180"
                       ui-sref="requests.my">
                        {{'REQUESTS.NAV_MY' | translate}}
                    </a>
                    <a class="btn btn-success btn-width-180"
                       ui-sref="requests.res">
                        {{'REQUESTS.NAV_RES' | translate}}
                    </a>
                </div>
                <i class="fa fa-question-circle-o request-help" aria-hidden="true"
                   title="{{ 'REQUESTS.DESC_HELP_TITLE' | translate}}"
                   ng-click="vm.onShowHelpClicked();">
                </i>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="requests-desc" ng-class="{'panel-collapsed': vm.show_desc_help=='no', 'requests-desc-hide': vm.show_desc_help=='no'}">
                        <span ng-bind-html="vm.getRequestsDesc();"></span>
                        <i class="fa fa-close" aria-hidden="true"
                           title="{{ 'REQUESTS.CLOSE_HELP_TITLE' | translate}}"
                           ng-click="vm.onCloseHelpClicked();">
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="margin-bottom-10 margin-top-10">
            <div class="jumbotron margin-top-20 text-center" ng-if="vm.statusMsg || vm.pagedItems.length<=0">
                <div ng-if="vm.statusMsg">
                    <h3 class="text-muted">{{vm.statusMsg | translate}}</h3>
                </div>
                <div ng-if="!vm.statusMsg && vm.pagedItems.length<=0">
                    <i class="fa fa-users fa-2x text-muted" aria-hidden="true"></i>
                    <h3 class="text-muted">{{'REQUESTS.NO_RES_REQUESTS' | translate}}</h3>
                </div>
            </div>
            <div ng-if="vm.pagedItems.length>0">
                <div id="top_of_follow_list">
                    <div class="pagination-border-bottom">
                        <ul uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength"
                            ng-model="vm.currentPage"
                            ng-change="vm.pageChanged()"
                            first-text="{{ 'PAGE_TEXT_FIRST' | translate}}" previous-text="{{ 'PAGE_TEXT_PREVIOUS' | translate}}"
                            next-text="{{ 'PAGE_TEXT_NEXT' | translate}}" last-text="{{ 'PAGE_TEXT_LAST' | translate}}">
                        </ul>
                    </div>

                    <div class="request-list">
                        <div class="table-responsive">
                            <table class="table table-hover tb-v-middle">
                                <thead>
                                    <tr>
                                        <th>{{ 'REQUESTS.FIELD_TITLE' | translate}}</th>
                                        <th class="text-center">{{ 'REQUESTS.FIELD_TYPE' | translate}}</th>
                                        <th class="text-center">{{ 'REQUESTS.FIELD_LIFE' | translate}}</th>
                                        <th class="text-center">{{ 'REQUESTS.FIELD_REWARDS' | translate}}</th>
                                        <th class="text-center">{{ 'REQUESTS.FIELD_RESPONSES' | translate}}</th>
                                        <th class="text-center">{{ 'REQUESTS.FIELD_COMMENTS' | translate}}</th>
                                        <th class="text-center">{{ 'REQUESTS.FIELD_USER' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="request-item" ng-repeat="item in vm.pagedItems">
                                        <td class="col-md-6 td-v-middle td-text-overflow">
                                            <h4>
                                                <div class="text-long">
                                                    <a ui-sref="requests.view({requestId: item._id})">{{item.title}}</a>
                                                </div>
                                            </h4>
                                            <div class="item-desc text-long">{{item.desc}}</div>
                                        </td>
                                        <td class="col-md-1 td-v-middle text-center">{{'MENU_TORRENTS_SUB.'+item.type.toUpperCase() | translate}}</td>
                                        <td class="col-md-1 td-v-middle text-center">
                                            {{item.createdAt | life }}
                                            <div>
                                                <span class="badge badge_danger" ng-if="vm.isExpired(item) && !item.accept">Expired</span>
                                                <span class="badge badge_success" ng-if="item.accept">Finished</span>
                                            </div>
                                        </td>
                                        <td class="col-md-1 td-v-middle text-center">{{item.rewards}}</td>
                                        <td class="col-md-1 td-v-middle text-center">{{item.torrents.length}}</td>
                                        <td class="col-md-1 td-v-middle text-center">{{item.comments.length}}</td>
                                        <td class="col-md-1 td-v-middle text-center">
                                            <span user-info="item.user" info-name></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="pagination-border-top">
                        <ul uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength"
                            ng-model="vm.currentPage"
                            ng-change="vm.pageChanged()"
                            first-text="{{ 'PAGE_TEXT_FIRST' | translate}}" previous-text="{{ 'PAGE_TEXT_PREVIOUS' | translate}}"
                            next-text="{{ 'PAGE_TEXT_NEXT' | translate}}" last-text="{{ 'PAGE_TEXT_LAST' | translate}}">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
