<div ng-controller="VipController as vm">
    <div class="pagetop">
        <div class="container">
            <div class="row margin-top-10 margin-bottom-10">
                <div class="col-sm-9">
                    <h3>{{'VIP.VIP_TITLE' | translate}}
                        <small>{{'VIP.VIP_SUB_TITLE' | translate}}</small>
                    </h3>
                    <div class="vip-tooltip margin-left-100" ng-bind-html="vm.getVipTooltip();"></div>
                </div>
                <div class="col-sm-3 text-right donate-button">
                    <a ui-sref="vip.donate" class="btn btn-min-width-120 margin-top-5"
                       mouse-enter-toggle-class="btn-mt" base-class="btn-mt-o">
                        {{'VIP.BUTTON_DONATE' | translate}}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row margin-top-30 margin-bottom-30">
            <div class="col-sm-10 col-md-offset-1" ng-init="vm.getTemplateFileContent('/modules/vip/client/templates/vip-'+vm.lang+'.md')">
                <span ng-bind-html="vm.getTemplateMarkedContent()"></span>
            </div>
        </div>
    </div>
</div>