<section class="container padding-top-10" ng-controller="VipController as vm" ng-init="vm.init();">
    <div class="row" ng-if="!vm.user.isVip">
        <div class="col-sm-2 xs-show">
            <button class="btn btn-lg btn-mt btn-block btn-donate margin-top-30 margin-bottom-20">{{'BUTTON_DNATE' | translate}}</button>
        </div>
        <div class="col-sm-10">
            <div marked src="'/modules/vip/client/templates/vip-'+vm.lang+'.md'" compile="true">
            </div>
        </div>
        <div class="col-sm-2 xs-hide" style="padding-left: 5px">
            <button class="btn btn-lg btn-mt btn-block btn-donate margin-top-30">{{'BUTTON_DNATE' | translate}}</button>
        </div>
    </div>
</section>