<div class="padding-top-50">
    <legend class="col-sm-10 col-sm-offset-1 small-legend margin-top-50">{{ 'SIGN.RESTORE_PASSWORD' | translate}}</legend>

    <div class="col-sm-8 col-sm-offset-2" ng-if="!vm.isSendingMailOK">
        <form name="vm.forgotPasswordForm" ng-submit="vm.askForPasswordReset(vm.forgotPasswordForm.$valid)" class="form-horizontal" novalidate
              autocomplete="off">
            <fieldset>
                <div class="form-group" show-errors>
                    <input type="text" id="usernameOrEmail" name="usernameOrEmail" class="form-control" ng-model="vm.credentials.usernameOrEmail"
                           placeholder="{{ 'SIGN.ENTER_USERNAME' | translate}}"
                           lowercase required autofocus>

                    <div ng-messages="vm.forgotPasswordForm.usernameOrEmail.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Enter a username or email.</p>
                    </div>
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-success btn-min-width-100" ng-disabled="vm.isSendingMail">
                        <i class="fa fa-spinner fa-pulse" ng-show="vm.isSendingMail"></i> {{ 'SIGN.BTN_SUBMIT' | translate}}
                    </button>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="col-sm-8 col-sm-offset-2" ng-if="vm.isSendingMailOK">
        <span class="active-notice" translate="{{vm.resetTranslate}}"></span>
    </div>
</div>
