<div>
    <legend class="col-sm-10 col-sm-offset-1 small-legend margin-top-50">{{ 'SIGN.RESET_PASSWORD' | translate}}</legend>

    <div class="col-sm-8 col-sm-offset-2">
        <form name="vm.resetPasswordForm" ng-submit="vm.resetUserPassword(vm.resetPasswordForm.$valid)" class="signin form-horizontal" novalidate
              autocomplete="off">
            <fieldset>
                <div class="form-group" show-errors>
                    <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="vm.passwordDetails.newPassword"
                           placeholder="{{ 'SIGN.NEW_PASSWORD' | translate}}"
                           autocomplete="new-password" uib-popover="{{vm.getPopoverMsg()}}" popover-trigger="'outsideClick'"
                           popover-placement="top-right" password-validator required autofocus>

                    <div ng-messages="vm.resetPasswordForm.newPassword.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">{{ 'SIGN.NP_REQUIRED' | translate}}</p>

                        <div ng-repeat="passwordError in passwordErrors">
                            <p class="help-block error-text" ng-show="vm.resetPasswordForm.newPassword.$error.requirements">{{passwordError}}</p>
                        </div>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="vm.passwordDetails.verifyPassword"
                           placeholder="{{ 'SIGN.VERIFY_PASSWORD' | translate}}" password-verify="vm.passwordDetails.newPassword" required>

                    <div ng-messages="vm.resetPasswordForm.verifyPassword.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">{{ 'SIGN.VP_REQUIRED' | translate}}</p>

                        <p class="help-block error-text"
                           ng-show="vm.resetPasswordForm.verifyPassword.$error.passwordVerify">{{ 'SIGN.NP_VP_NOTMATCH' | translate}}</p>
                    </div>
                </div>
                <div class="form-group" ng-show="!vm.resetPasswordForm.newPassword.$error.required">
                    <label>{{ 'SIGN.PASSWORD_REQ' | translate}}</label>
                    <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span
                            style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-primary">{{ 'SIGN.BTN_UPDATE_PASSWORD' | translate}}</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
