<section class="container padding-top-10" ng-controller="TorrentsController as vm" ng-init="vm.getResourceTopInfo();vm.torrentBuildPager();">
    <div class="row" style="padding: 0 10px;">
        <div ng-repeat="item in vm.listTopInfo">
            <div data-ng-if="$index != 0 && $index % 2 == 0" class="clearfix visible-xs-block"></div>
            <div data-ng-if="$index != 0 && $index % 3 == 0" class="clearfix visible-sm-block"></div>
            <div data-ng-if="$index != 0 && $index % 6 == 0" class="clearfix visible-md-block visible-lg-block"></div>
            <div class="col-xs-6 col-sm-4 col-md-2 col-small-padding">
                <div class="thumbnail torrent-post-info" ng-click="vm.TGI.openTorrentDetailInfo(item._id);">
                    <div class="torrent-logo">
                        <img class="img-responsive" torrent-logo="item"
                             ng-src="{{vm.TGI.getTorrentListTopImage(item)}}"
                             alt="{{vm.TGI.getTorrentTitle(item)}}"
                             title="{{vm.TGI.getTorrentTitle(item)}}">
                    </div>

                    <div class="torrent-user-info">
                        <table>
                            <tr>
                                <td class="text-left">
                                    <span class="glyphicon glyphicon-arrow-up torrent-up"></span>
                                    <span>{{item.torrent_seeds}}</span>
                                </td>
                                <td class="text-center">
                                    <span class="glyphicon glyphicon-arrow-down torrent-down"></span>
                                    <span>{{item.torrent_leechers}}</span>
                                </td>
                                <td class="text-right">
                                    <span class="glyphicon glyphicon-ok torrent-finished"></span>
                                    <span>{{item.torrent_finished}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="torrent-tmdb-info">
                        <div card-progress="item.my_peers"></div>
                        <ul class="list-unstyled">
                            <li>
                                <span class="release-date"
                                      ng-if="item.resource_detail_info.release_date">{{item.resource_detail_info.release_date}}</span>
                                <span class="release-date" ng-if="item.resource_detail_info.artist">{{item.resource_detail_info.artist}}</span>
                                <span class="se-info" ng-if="vm.torrentType=='tvserial'">S{{item.torrent_seasons}}E{{item.torrent_episodes}}</span>
                                <span title="{{ 'TITLE_ALT.IMDB_VOTES' | translate}}"
                                      class="votes-info torrent-votes"><kbd>{{vm.TGI.getVoteTitle(item)}}</kbd> {{item.resource_detail_info.vote_average | number : 1}}</span>
                            </li>
                        </ul>
                    </div>

                    <div class="caption">
                        <ul class="list-unstyled">
                            <li class="text-long">
                                <span class="h5"><a ui-sref="torrents.view({torrentId: item._id})">{{vm.TGI.getTorrentTitle(item)}}</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h3 class="panel-title">{{'TAGS_SEARCH' | translate}} - {{'MENU_TORRENTS_SUB.' + vm.torrentType.toUpperCase() | translate}}</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-10 col-md-offset-1">
                <dl class="dl-horizontal">
                    <dt class="h-line">{{ 'CA_KEYWORD' | translate}}:</dt>
                    <dd class="h-line">
                        <div class="row" style="">
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="vm.searchKey"
                                       ng-keydown="vm.onKeysKeyDown($event);"
                                       placeholder="{{ 'PH_KEYWORD' | translate}}">
                            </div>
                            <div class="col-sm-5">
                                <span class="label label-tag text-uppercase incline-block-valign"
                                      title="{{ 'TITLE_ALT.MORE_TAGS' | translate}}"
                                      ng-click="vm.onMoreTagsClicked();">
                                    <i class="glyphicon glyphicon-chevron-down" id="more-tags-icon"></i> {{ 'MORE_TAGS' | translate}}
                                </span>
                                <span class="label label-tag text-uppercase incline-block-valign"
                                      title="{{ 'TITLE_ALT.RESET_TAGS' | translate}}"
                                      ng-click="vm.clearAllCondition();">
                                    <i class="glyphicon glyphicon-repeat"></i> {{ 'CA_RESET' | translate}}
                                </span>

                            </div>
                        </div>
                    </dd>

                    <dt class="h-line">{{ 'CA_TORRENT_HNR' | translate}}:</dt>
                    <dd class="h-line">
                        <div class="checkbox checkbox-hnr">
                            <label>
                                <input type="checkbox" ng-model="vm.filterHnR" ng-change="vm.onHnRChanged();"> {{ 'CA_TORRENT_HNR' | translate}}
                            </label>
                        </div>
                    </dd>

                    <div class="more-tags panel-collapsed" style="display: none;">
                        <div ng-repeat="item in vm.resourcesTags.radio | filter:vm.torrentType">
                            <dt class="h-line">{{ 'RESOURCESTAGS.'+item.name+'.SELF' | translate}}:</dt>
                            <dd class="h-line">
                                <div class="btn-group btn-group-xs" role="group">
                                    <button ng-repeat="sitem in item.value" id="tag_{{sitem.name}}"
                                            class="btn btn-xs btn-default btn-tag" value="{{sitem.name}}"
                                            ng-click="vm.onRadioTagClicked($event, sitem.name)">
                                        {{ 'RESOURCESTAGS.' + item.name + '.' + sitem.name | translate}}
                                    </button>
                                    </span>
                                </div>
                            </dd>
                        </div>

                        <div style="margin-top: 20px;"></div>

                        <div ng-repeat="item in vm.resourcesTags.checkbox | filter:vm.torrentType">
                            <dt class="h-line">{{ 'RESOURCESTAGS.'+item.name+'.SELF' | translate}}:</dt>
                            <dd class="h-line">
                                <div class="btn-group btn-group-xs" role="group">
                                    <button ng-repeat="sitem in item.value" id="tag_{{sitem.name}}"
                                            class="btn btn-xs btn-default btn-tag" value="{{sitem.name}}"
                                            ng-click="vm.onCheckboxTagClicked($event, sitem.name)"
                                            toggle-class="btn-success" base-class="btn-default" onclick="this.blur();">
                                        {{ 'RESOURCESTAGS.' + item.name + '.' + sitem.name | translate}}
                                    </button>
                                </div>
                            </dd>
                        </div>
                    </div>
                </dl>
            </div>
        </div>
    </div>

    <div class="torrent-list" id="top_of_torrent_list">
        <div class="pagination-div-top">
            <ul uib-pagination boundary-links="true" max-size="8" items-per-page="vm.torrentItemsPerPage" total-items="vm.torrentFilterLength"
                ng-model="vm.torrentCurrentPage" ng-change="vm.torrentPageChanged()"
                first-text="{{ 'PAGE_TEXT_FIRST' | translate}}" previous-text="{{ 'PAGE_TEXT_PREVIOUS' | translate}}"
                next-text="{{ 'PAGE_TEXT_NEXT' | translate}}" last-text="{{ 'PAGE_TEXT_LAST' | translate}}">
            </ul>
        </div>
        <div class="table-responsive">
            <table class="table table-hover tb-v-middle">
                <thead>
                    <tr>
                        <th class="td-width-0"></th>
                        <th>{{ 'TABLE_FIELDS.INFO' | translate}}</th>
                        <th>
                            <a href="#" tooltip-placement="top"
                               ng-click="vm.orderByVote();"
                               uib-tooltip="{{ 'TABLE_FIELDS.TITLE_VOTES' | translate}}">{{ 'TABLE_FIELDS.VOTES' | translate}}</a>
                            <i class="fa fa-caret-down text-info" ng-if="vm.sortVote == '-'"></i>
                        </th>
                        <th class="text-center">{{ 'TABLE_FIELDS.LIFETIME' | translate}}</th>
                        <th class="text-center">{{ 'TABLE_FIELDS.SIZE' | translate}}</th>
                        <th>
                            <a href="#" tooltip-placement="top"
                               ng-click="vm.orderBySLF();"
                               uib-tooltip="{{ 'TABLE_FIELDS.TITLE_SEEDS_LEECHERS_FINISHED' | translate}}" ng-bind-html="vm.getOrderTableHead()"></a>
                        </th>
                        <th class="text-center">{{ 'TABLE_FIELDS.PUBLISHER' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="torrent-list-info" ng-repeat-start="item in vm.torrentPagedItems" ng-click="vm.TGI.openTorrentDetailInfo(item._id);">
                        <td class="td-width-0" rowspan="2"></td>
                        <td class="col-md-7 td-text-overflow">
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object" torrent-logo="item"
                                         ng-src="{{vm.TGI.getTorrentListImage(item)}}"
                                         alt="{{vm.TGI.getTorrentTitle(item)}}">

                                    <div class="layer-download" ng-class="{'music': item.torrent_type=='music'}">
                                        <i class="fa fa-arrow-circle-o-down fa-3x" aria-hidden="true"
                                           title="{{ 'TITLE_ALT.DOWNLOAD_TORRENT' | translate}}"
                                           ng-click="vm.DLS.downloadTorrent(item._id); $event.stopPropagation();"
                                           ng-class="{'fa-arrow-circle-down': vm.hover}"
                                           ng-mouseover="vm.hover = true;" ng-mouseleave="vm.hover = false;"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading">
                                        <a ui-sref="torrents.view({torrentId: item._id})">{{vm.TGI.getTorrentDoubleTitle(item)}}</a>
                                        <span class="upload-by" ng-show="item.user.displayName"> (By:
                                            <span user-info="item.user" info-name></span> )</span>
                                    </h5>

                                    <div class="list-all-genres">
                                        <span class="genres-item" ng-repeat="t in item.resource_detail_info.genres">{{t.name}}</span>
                                    </div>

                                    <div class="torrent-filename text-long">{{item.resource_detail_info.subtitle}}</div>
                                    <div class="torrent-filename text-long">{{item.torrent_filename | filename}}</div>

                                    <div class="list-all-tags">
                                        <!--<span class="label label-success text-uppercase">{{ item.torrent_type}}</span>-->
                                        <span class="label label-release label-warning" ng-show="item.resource_detail_info.release_date"
                                              ng-click="vm.onReleaseClicked(item.resource_detail_info.release_date); $event.stopPropagation();">
                                            {{ item.resource_detail_info.release_date}}
                                        </span>
                                        <span class="label label-rlevel label-info"
                                              ng-show="item.torrent_recommended != 'none'"
                                              ng-click="$event.stopPropagation();">
                                            {{ 'TORRENT_RECOMMEND_LEVEL_ITEM.' + item.torrent_recommended.toUpperCase() | translate}}
                                        </span>
                                        <span class="label label-sale" ng-if="item.isSaling"
                                              title="{{vm.TGI.getTorrentSaleTypeDesc(item);}} | {{ 'SALE_EXPIRES_TIME' | translate}}: {{item.torrent_sale_expires | date: 'MM-dd HH:mm'}}"
                                              ng-click="$event.stopPropagation();"
                                              ng-class="{'label-default': !item.isSaling, 'label-success': item.isSaling}">
                                                {{item.torrent_sale_status}} {{item.torrent_sale_expires | unlife}}
                                        </span>

                                        <span class="label label-hnr-info" ng-if="item.torrent_hnr"
                                              ng-click="vm.onHnRClicked(); $event.stopPropagation();">H&R</span>

                                        <span class="label label-se-info" ng-if="vm.torrentType == 'tvserial'"
                                              ng-click="$event.stopPropagation();">S{{item.torrent_seasons}}E{{item.torrent_episodes}}</span>

                                        <span ng-repeat="t in item.torrent_tags">
                                            <span class="label label-tag" ng-class="{'used': vm.searchTags.indexOf(t) !== -1}"
                                                  ng-click="vm.onTagClicked(t); $event.stopPropagation();">
                                                {{ 'RESOURCESTAGS.' + vm.RTS.getTagTitle(t) + '.' + t.toUpperCase() | translate}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-1 td-v-middle td-imdb">
                            <span title="{{ 'TITLE_ALT.IMDB_VOTES' | translate}}"
                                  class="torrent-votes"><kbd>{{vm.TGI.getVoteTitle(item)}}</kbd> {{item.resource_detail_info.vote_average | number : 1}}</span>
                        </td>
                        <td class="col-md-1 td-v-middle text-center td-life">{{item.createdat | life}}</td>
                        <td class="col-md-1 td-v-middle text-center td-size">{{item.torrent_size | bytes:2}}</td>
                        <td class="col-md-1 td-v-middle list-user-info td-user-info">
                            <p class="no-margin-p" title="{{ 'TITLE_ALT.SEEDS' | translate}}">
                                <span class="glyphicon glyphicon-arrow-up torrent-up"></span>
                                {{item.torrent_seeds}}
                            </p>

                            <p class="no-margin-p" title="{{ 'TITLE_ALT.LEECHERS' | translate}}">
                                <span class="glyphicon glyphicon-arrow-down torrent-down"></span>
                                {{item.torrent_leechers}}
                            </p>

                            <p class="no-margin-p" title="{{ 'TITLE_ALT.FINISHED' | translate}}">
                                <span class="glyphicon glyphicon-ok torrent-finished"></span>
                                {{item.torrent_finished}}
                            </p>
                        </td>
                        <td class="col-md-1 td-v-middle text-center td-uploader">
                            <span user-info="item.user" info-name></span>

                            <div maker-info="item.maker"></div>
                            <!--<span vip-flag="item.user"></span>-->
                            <!--<span message-to="item.user" to-class="message-to-icon"></span>-->
                        </td>
                    </tr>
                    <tr ng-repeat-end>
                        <td class="td-progress" colspan="6">
                            <div torrent-progress="item.my_peers"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="pagination-div-bottom">
            <ul uib-pagination boundary-links="true" max-size="8" items-per-page="vm.torrentItemsPerPage" total-items="vm.torrentFilterLength"
                ng-model="vm.torrentCurrentPage" ng-change="vm.torrentPageChanged()"
                first-text="{{ 'PAGE_TEXT_FIRST' | translate}}" previous-text="{{ 'PAGE_TEXT_PREVIOUS' | translate}}"
                next-text="{{ 'PAGE_TEXT_NEXT' | translate}}" last-text="{{ 'PAGE_TEXT_LAST' | translate}}">
            </ul>
        </div>
    </div>
</section>