<section class="container padding-top-10" ng-controller="TorrentsController as vm" ng-init="vm.getMovieTopInfo();vm.getMoviePageInfo(1);">
    <div class="row">
        <div ng-repeat="item in vm.movieTopInfo">
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail torrent-post-info">
                    <img ng-src="{{vm.tmdbConfig.poster_img_base_url}}{{item.torrent_img}}" alt="{{item.torrent_title}}"
                         class="img-responsive">

                    <div class="torrent-user-info small-info">
                        <ul class="list-unstyled list-inline">
                            <li title="{{ 'TITLE_ALT.SEEDS' | translate}}"><span
                                    class="glyphicon glyphicon-arrow-up torrent-up"></span><span>{{item.torrent_seeds}}</span></li>
                            <li title="{{ 'TITLE_ALT.LEECHERS' | translate}}"><span
                                    class="glyphicon glyphicon-arrow-down torrent-down"></span><span>{{item.torrent_leechers}}</span></li>
                            <li title="{{ 'TITLE_ALT.FINISHED' | translate}}" class="pull-right"><span
                                    class="glyphicon glyphicon-ok torrent-finished"></span><span>{{item.torrent_finished}}</span></li>
                        </ul>
                    </div>

                    <div class="caption">
                        <ul class="list-unstyled">
                            <li class="text-long">
                                <strong>{{item.torrent_title}}</strong>
                            <li><span class="release-date">{{item.torrent_release}}</span>
                                <span title="{{ 'TITLE_ALT.IMDB_VOTES' | translate}}"
                                      class="pull-right torrent-votes"><kbd>IMDB</kbd> {{item.torrent_imdb_votes}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h3 class="panel-title" translate="TAGS_SEARCH"></h3>
        </div>
        <div class="panel-body">
            <div class="col-md-10 col-md-offset-1">
                <dl class="dl-horizontal">
                    <dt class="h-line">{{ 'CA_KEYWORD' | translate}}:</dt>
                    <dd class="h-line">
                        <div class="row">
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="vm.searchKey"
                                       ng-keydown="vm.onKeysKeyDown($event);"
                                       placeholder="{{ 'PH_KEYWORD' | translate}}">
                            </div>
                        </div>
                    </dd>
                    <div ng-repeat="item in vm.resourcesTags.movie.radio">
                        <dt class="h-line">{{ 'RESOURCESTAGS.'+item.name+'.SELF' | translate}}：</dt>
                        <dd class="h-line">
                            <div class="btn-group btn-group-xs" role="group">
                                <button ng-repeat="sitem in item.value" id="tag_{{sitem.name}}"
                                        class="btn btn-xs btn-default btn-tag" value="{{sitem.name}}"
                                        ng-click="vm.onRadioTagClicked($event, sitem.name)">
                                    {{ 'RESOURCESTAGS.' + item.name + '.' + sitem.name | translate}}
                                </button>
                                </span>
                            </div>
                        </dd>
                    </div>

                    <div ng-repeat="item in vm.resourcesTags.movie.checkbox">
                        <dt class="h-line">{{ 'RESOURCESTAGS.'+item.name+'.SELF' | translate}}：</dt>
                        <dd class="h-line">
                            <div class="btn-group btn-group-xs" role="group">
                                <button ng-repeat="sitem in item.value" id="tag_{{sitem.name}}"
                                        class="btn btn-xs btn-default btn-tag" value="{{sitem.name}}"
                                        ng-click="vm.onCheckboxTagClicked($event, sitem.name)"
                                        toggle-class="btn-success" base-class="btn-default" onclick="this.blur();">
                                    {{ 'RESOURCESTAGS.' + item.name + '.' + sitem.name | translate}}
                                </button>
                            </div>
                        </dd>
                    </div>

                    <div class="margin-top-10">
                        <dt class="h-line"></dt>
                        <dd class="h-line"><span class="label label-tag text-uppercase"
                                                 ng-click="vm.clearAllCondition();">{{ 'CLEAR_ALL_CONDITION' | translate}}</span></dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover tb-v-middle">
            <thead>
                <tr>
                    <th>{{ 'TABLE_FIELDS.INFO' | translate}}</th>
                    <th>{{ 'TABLE_FIELDS.VOTES' | translate}}</th>
                    <th>{{ 'TABLE_FIELDS.LIFETIME' | translate}}</th>
                    <th>{{ 'TABLE_FIELDS.SIZE' | translate}}</th>
                    <th>{{ 'TABLE_FIELDS.SEEDS_LEECHERS_FINISHED' | translate}}</th>
                    <th>{{ 'TABLE_FIELDS.PUBLISHER' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="torrent-list-info" ng-repeat="item in vm.moviePageInfo">
                    <td class="col-md-7 td-text-overflow">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" ng-src="{{vm.tmdbConfig.poster_list_base_url}}{{item.torrent_img}}" alt="...">
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">{{item.torrent_original_title}}<span
                                        ng-show="item.torrent_original_title!=item.torrent_title"> / {{item.torrent_title}}</span></h5>

                                <div class="list-all-genres">
                                    <span class="genres-item" ng-repeat="t in item.torrent_genres">{{t}}</span>
                                </div>

                                <div class="text-long">{{item.torrent_filename}}</div>

                                <div class="list-all-tags">
                                    <!--<span class="label label-success text-uppercase">{{ item.torrent_type}}</span>-->
                                    <span class="label label-warning">{{ item.torrent_release}}</span>
                                    <span ng-repeat="t in item.torrent_tags">
                                        <span class="label label-tag" ng-click="vm.onTagClicked(t)">
                                            {{ 'RESOURCESTAGS.' + vm.getTagTitle(t) + '.' + t | translate}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="col-md-1 td-v-middle">
                        <span title="{{ 'TITLE_ALT.IMDB_VOTES' | translate}}"
                              class="pull-right torrent-votes"><kbd>IMDB</kbd> {{item.torrent_imdb_votes | number : 1}}</span>
                    </td>
                    <td class="col-md-1 td-v-middle">{{item.createdat | life}}</td>
                    <td class="col-md-1 td-v-middle">{{item.torrent_size | bytes:2}}</td>
                    <td class="col-md-1 td-v-middle list-user-info">
                        <p class="no-margin-p" title="{{ 'TITLE_ALT.SEEDS' | translate}}">
                            <span class="glyphicon glyphicon-arrow-up torrent-up"></span>
                            {{item.torrent_seeds}}
                        </p>

                        <p class="no-margin-p" title="{{ 'TITLE_ALT.LEECHERS' | translate}}">
                            <span class="glyphicon glyphicon-arrow-down torrent-down"></span>
                            {{item.torrent_leechers}}
                        </p>

                        <p class="no-margin-p" title="{{ 'TITLE_ALT.FINISHED' | translate}}">
                            <span class="glyphicon glyphicon-ok torrent-finished"></span>
                            {{item.torrent_finished}}
                        </p>
                    </td>
                    <td class="col-md-1 td-v-middle">{{item.user.displayName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>