<section class="container padding-top-10" ng-controller="TorrentsController as vm" ng-init="vm.getMovieTopInfo();vm.getMoviePageInfo(1);">
    <div class="row">
        <div ng-repeat="item in vm.movieTopInfo">
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail torrent-post-info">
                    <img ng-src="{{vm.tmdbConfig.poster_img_base_url}}{{item.torrent_img}}" alt="{{item.torrent_title}}"
                         class="img-responsive">

                    <div class="torrent-user-info small-info">
                        <ul class="list-unstyled list-inline">
                            <li title="{{ 'TITLE_SEEDS' | translate}}"><span
                                    class="glyphicon glyphicon-arrow-up torrent-up"></span><span>666</span></li>
                            <li title="{{ 'TITLE_LEECHERS' | translate}}"><span
                                    class="glyphicon glyphicon-arrow-down torrent-down"></span><span>666</span></li>
                            <li title="{{ 'TITLE_FINISHED' | translate}}" class="pull-right"><span
                                    class="glyphicon glyphicon-ok torrent-finished"></span><span>6666</span></li>
                        </ul>
                    </div>

                    <div class="caption">
                        <ul class="list-unstyled">
                            <li style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;">
                                <strong>{{item.torrent_title}}</strong>
                            <li><span class="release-date">{{item.torrent_release}}</span>
                                <span title="{{ 'TITLE_IMDB_VOTES' | translate}}"
                                      class="pull-right torrent-votes"><kbd>IMDB</kbd> {{item.torrent_imdb_votes}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h3 class="panel-title" translate="TAGS_SEARCH"></h3>
        </div>
        <div class="panel-body">
            <div class="col-md-10 col-md-offset-1">
                <dl class="dl-horizontal">
                    <div ng-repeat="item in vm.resourcesTags.movie.radio">
                        <dt class="h-line">{{ 'RESOURCESTAGS.'+item.name+'.SELF' | translate}}：</dt>
                        <dd class="h-line">
                            <div class="btn-group btn-group-xs" role="group">
                                <button ng-repeat="sitem in item.value"
                                        class="btn btn-xs btn-default btn-tag" value="{{sitem.name}}"
                                        onclick="
                                        if($(this).hasClass('btn-danger')){
                                            $(this).removeClass('btn-danger').addClass('btn-default');
                                        }else{
                                            $(this).addClass('btn-danger').removeClass('btn-default').siblings().removeClass('btn-danger').addClass('btn-default');
                                        }
                                        $(this).blur();
                                        ">
                                    {{ 'RESOURCESTAGS.' + item.name + '.' + sitem.name | translate}}
                                </button>
                                </span>
                            </div>
                        </dd>
                    </div>

                    <div ng-repeat="item in vm.resourcesTags.movie.checkbox">
                        <dt class="h-line">{{ 'RESOURCESTAGS.'+item.name+'.SELF' | translate}}：</dt>
                        <dd class="h-line">
                            <div class="btn-group btn-group-xs" role="group">
                                <button ng-repeat="sitem in item.value"
                                        class="btn btn-xs btn-default btn-tag" value="{{sitem.name}}"
                                        toggle-class="btn-danger" base-class="btn-default" onclick="this.blur();">
                                    {{ 'RESOURCESTAGS.' + item.name + '.' + sitem.name | translate}}
                                </button>
                            </div>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</section>