<section ng-controller="TorrentsInfoController as vm" ng-init="vm.getTorrentInfo();">
    <div class="backdrop">
        <div class="filter">
            <div class="container">
                <div class="topone" ng-show="vm.torrentLocalInfo">
                    <div class="col-md-4">
                        <img ng-src="{{vm.tmdbConfig.poster_img_base_url}}{{vm.torrentLocalInfo.torrent_img}}" class="img-thumbnail center-block"
                             onload="this.style.opacity='1';">

                        <div class="down-torrent">
                            <button class="btn btn-success btn-block" ng-click="vm.downloadTorrent(vm.torrentLocalInfo._id)"
                                    translate="DOWNLOAD_TORRENT"></button>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <dl class="dl-horizontal">
                            <dt class="h-line">{{ 'TMDB_FIELDS.ORIGINAL_TITLE' | translate}}：</dt>
                            <dd class="h-line">{{vm.movieinfo.original_title}}</dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.TITLE' | translate}}：</dt>
                            <dd class="h-line">{{vm.movieinfo.title}}</dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.DIRECTOR' | translate}}：</dt>
                            <dd class="h-line">{{vm.getDirector()}}</dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.ORIGINAL_LANGUAGE' | translate}}：</dt>
                            <dd class="h-line">{{vm.movieinfo.original_language}}</dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.GENRES' | translate}}：</dt>
                            <dd class="h-line list-all-genres">
                                <span class="genres-item" ng-repeat="item in vm.movieinfo.genres">{{item.name}}</span>
                            </dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.PRODUCTION_COMPANIES' | translate}}：</dt>
                            <dd class="h-line list-all-companies">
                                <span class="company-item" ng-repeat="item in vm.movieinfo.production_companies">{{item.name}}</span>
                                <span ng-show="vm.movieinfo.production_companies.length ==0">-</span>
                            </dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.PRODUCTION_COUNTRIES' | translate}}：</dt>
                            <dd class="h-line list-all-countries">
                                <span class="country-item" ng-repeat="item in vm.movieinfo.production_countries">{{item.iso_3166_1}}</span>
                                <span ng-show="vm.movieinfo.production_countries.length ==0">-</span>
                            </dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.RELEASE_DATE' | translate}}：</dt>
                            <dd class="h-line">{{vm.movieinfo.release_date}}</dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.RUNTIME' | translate}}：</dt>
                            <dd class="h-line">{{vm.movieinfo.runtime | runtime}}</dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.BUDGET' | translate}}：</dt>
                            <dd class="h-line">{{vm.movieinfo.budget | dollar:2}}</dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.REVENUE' | translate}}：</dt>
                            <dd class="h-line">{{vm.movieinfo.revenue | dollar:2}}</dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.VOTE_AVERAGE' | translate}}：</dt>
                            <dd class="h-line">
                                <span ng-show="vm.movieinfo">
                                    <span class="torrent-votes">
                                        <kbd>IMDB</kbd>
                                    </span> {{vm.movieinfo.vote_average}} / {{vm.movieinfo.vote_count}} {{ 'TMDB_FIELDS.VOTE_UNIT' | translate}}
                                </span>
                            </dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.IMDB_LINK' | translate}}：</dt>
                            <dd class="h-line"><a href="{{vm.imdbConfig.imdb_link_url}}{{vm.movieinfo.imdb_id}}"
                                                  target="_blank">{{vm.imdbConfig.imdb_link_url}}{{vm.movieinfo.imdb_id}}</a></dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.TMDB_LINK' | translate}}：</dt>
                            <dd class="h-line"><a href="{{vm.tmdbConfig.tmdb_link_url}}{{vm.movieinfo.id}}"
                                                  target="_blank">{{vm.tmdbConfig.tmdb_link_url}}{{vm.movieinfo.id}}</a></dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.OVERVIEW' | translate}}：</dt>
                            <dd class="h-line">{{vm.movieinfo.overview}}</dd>
                        </dl>
                        <legend class="xsmall-legend strong-legend" translate="TMDB_FIELDS.CAST"></legend>
                        <div class="row cast-list">
                            <div class="col-xs-4 col-md-2 text-center">
                                <img ng-src="{{vm.tmdbConfig.cast_img_base_url}}{{vm.movieinfo.credits.cast[0].profile_path}}"
                                     on-error-src="/./modules/core/client/img/default_face.jpg"
                                     class="img-circle img-thumbnail img-responsive center-block" onload="this.style.opacity='1';">
                                <span class="cast-xs-info"><strong>{{vm.movieinfo.credits.cast[0].name}}</strong></span>

                                <p class="cast-xs-info character">{{vm.movieinfo.credits.cast[0].character}}</p>
                            </div>
                            <div class="col-xs-4 col-md-2 text-center">
                                <img ng-src="{{vm.tmdbConfig.cast_img_base_url}}{{vm.movieinfo.credits.cast[1].profile_path}}"
                                     on-error-src="/./modules/core/client/img/default_face.jpg"
                                     class="img-circle img-thumbnail img-responsive center-block" onload="this.style.opacity='1';">
                                <span class="cast-xs-info"><strong>{{vm.movieinfo.credits.cast[1].name}}</strong></span>

                                <p class="cast-xs-info character">{{vm.movieinfo.credits.cast[1].character}}</p>
                            </div>
                            <div class="col-xs-4 col-md-2 text-center">
                                <img ng-src="{{vm.tmdbConfig.cast_img_base_url}}{{vm.movieinfo.credits.cast[2].profile_path}}"
                                     on-error-src="/./modules/core/client/img/default_face.jpg"
                                     class="img-circle img-thumbnail img-responsive center-block" onload="this.style.opacity='1';">
                                <span class="cast-xs-info"><strong>{{vm.movieinfo.credits.cast[2].name}}</strong></span>

                                <p class="cast-xs-info character">{{vm.movieinfo.credits.cast[2].character}}</p>
                            </div>

                            <div class="clearfix visible-xs-block visible-sm-block"></div>

                            <div class="col-xs-4 col-md-2 text-center">
                                <img ng-src="{{vm.tmdbConfig.cast_img_base_url}}{{vm.movieinfo.credits.cast[3].profile_path}}"
                                     on-error-src="/./modules/core/client/img/default_face.jpg"
                                     class="img-circle img-thumbnail img-responsive center-block" onload="this.style.opacity='1';">
                                <span class="cast-xs-info"><strong>{{vm.movieinfo.credits.cast[3].name}}</strong></span>

                                <p class="cast-xs-info character">{{vm.movieinfo.credits.cast[3].character}}</p>
                            </div>
                            <div class="col-xs-4 col-md-2 text-center">
                                <img ng-src="{{vm.tmdbConfig.cast_img_base_url}}{{vm.movieinfo.credits.cast[4].profile_path}}"
                                     on-error-src="/./modules/core/client/img/default_face.jpg"
                                     class="img-circle img-thumbnail img-responsive center-block" onload="this.style.opacity='1';">
                                <span class="cast-xs-info"><strong>{{vm.movieinfo.credits.cast[4].name}}</strong></span>

                                <p class="cast-xs-info character">{{vm.movieinfo.credits.cast[4].character}}</p>
                            </div>
                            <div class="col-xs-4 col-md-2 text-center">
                                <img ng-src="{{vm.tmdbConfig.cast_img_base_url}}{{vm.movieinfo.credits.cast[5].profile_path}}"
                                     on-error-src="/./modules/core/client/img/default_face.jpg"
                                     class="img-circle img-thumbnail img-responsive center-block" onload="this.style.opacity='1';">
                                <span class="cast-xs-info"><strong>{{vm.movieinfo.credits.cast[5].name}}</strong></span>

                                <p class="cast-xs-info character">{{vm.movieinfo.credits.cast[5].character}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <uib-tabset>
            <uib-tab index="$index" ng-repeat="tab in vm.torrentTabs" disabled="tab.disabled" ng-show="tab.ng_show">
                <uib-tab-heading>
                    {{tab.title}} <span class="badge {{b.class}}" ng-repeat="b in tab.badges">{{b.value}}</span>
                </uib-tab-heading>
                <div class="tab-border-view" ng-include="tab.templateUrl">
                </div>
            </uib-tab>
        </uib-tabset>
    </div>


    <div class="padding-top-30">
        <div class="container">
            <div class="panel panel-default panel-comment">
                <div class="panel-heading text-center"><strong>{{ 'USER_COMMENT_LIST' | translate}}</strong> <span
                        class="badge badge_info">{{vm.torrentLocalInfo._replies.length}}</span></div>
                <div class="panel-body">
                    <div class="comment-list" id="{{item._id}}" ng-repeat="item in vm.torrentLocalInfo._replies">
                        <div class="timeline-comment-wrapper">
                            <a href="#" class="timeline-comment-avatar">
                                <img title="{{item.user.displayName}}" ng-src="/{{item.user.profileImageURL}}">
                            </a>

                            <div class="timeline-comment">
                                <div class="timeline-comment-header">
                                    <div class="timeline-comment-header-text">{{item.user.displayName}}　　
                                        <span class="user-ud-text">
                                            (<span class="glyphicon glyphicon-arrow-up torrent-up"></span>{{item.user.uploaded | bytes}}
                                            <span class="glyphicon glyphicon-arrow-down torrent-down"></span>{{item.user.downloaded | bytes}}
                                            )
                                        </span>
                                    </div>
                                    <span class="timeline-comment-header-time-text">{{item.createdat | date:'yyyy-MM-dd hh:mm:ss'}}</span>
                                </div>
                                <div class="timeline-comment-body">
                                    <div class="timeline-comment-body-text" marked="item.comment"></div>
                                    <div class="row" ng-show="item._replies.length>0">
                                        <div class="col-sm-10 col-sm-offset-2 timeline-comment-sub-list">
                                            <div class="timeline-comment-sub-item" ng-repeat="sitem in item._replies">
                                                <div class="timeline-comment-sub-body" marked="sitem.comment + vm.getSubMarkdown(sitem)" compile="true"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-comment-footer">
                                    <div class="timeline-comment-footer-button text-right">
                                        <button class="btn btn-default btn-xs" ng-if="item.user._id == vm.user._id"
                                                translate="COMMENT_REPLY_EDIT" ng-click="vm.editComment(item);"></button>
                                        <button class="btn btn-default btn-xs" ng-if="item.user._id == vm.user._id"
                                                translate="COMMENT_REPLY_DELETE" ng-click="vm.deleteComment(item);"></button>
                                        <button class="btn btn-default btn-xs" ng-if="item.user._id == vm.user._id"
                                                translate="COMMENT_REPLY_BUTTON" ng-click="vm.replyComment(item);"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="comment-new">
                        <div class="timeline-comment-wrapper">
                            <a href="#" class="timeline-comment-avatar">
                                <img title="{{vm.user.displayName}}" ng-src="/{{vm.user.profileImageURL}}">
                            </a>

                            <div class="timeline-comment timeline-new-comment">
                                <div class="timeline-comment-header">
                                    <div class="timeline-comment-header-text">{{ 'POST_NEW_COMMENT' | translate}}</div>
                                </div>
                                <div class="timeline-comment-body">
                                    <textarea class="form-control new_comment_textarea" ng-model="vm.new_comment_content"></textarea>

                                    <div class="row">
                                        <div class="col-sm-9" style="display: table;">
                                            <a class="tabnav-extra" href="https://guides.github.com/features/mastering-markdown/" target="_blank"
                                               data-ga-click="Markdown Toolbar, click, help">
                                                <svg aria-hidden="true" height="16" version="1.1"
                                                     viewBox="0 0 16 16" width="16">
                                                    <path fill-rule="evenodd"
                                                          d="M14.85 3H1.15C.52 3 0 3.52 0 4.15v7.69C0 12.48.52 13 1.15 13h13.69c.64 0 1.15-.52 1.15-1.15v-7.7C16 3.52 15.48 3 14.85 3zM9 11H7V8L5.5 9.92 4 8v3H2V5h2l1.5 2L7 5h2v6zm2.99.5L9.5 8H11V5h2v3h1.5l-2.51 3.5z"/>
                                                </svg>
                                                {{ 'MARKDOWN_LINK' | translate }}
                                            </a>
                                        </div>
                                        <div class="col-sm-3 text-right">
                                            <button class="btn btn-success" translate="SUBMIT_COMMENT" ng-click="vm.submitComment();"
                                                    ng-disabled="!vm.new_comment_content"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="videoInfo.html">
        <div class="padding-top-30">
            <dl class="dl-horizontal">
                <dt class="h-line">{{ 'TRANCKER_URL' | translate}}：</dt>
                <dd class="h-line">{{vm.torrentLocalInfo.torrent_announce}}</dd>

                <dt class="h-line">{{ 'VIDEO_SIZE' | translate}}：</dt>
                <dd class="h-line">{{vm.torrentLocalInfo.torrent_size | bytes:2}}</dd>

                <dt class="h-line">{{ 'ATTRIBUTE_TAGS' | translate}}：</dt>
                <dd class="h-line">
                    <div class="list-all-tags">
                        <span class="label label-warning">{{ vm.torrentLocalInfo.torrent_release}}</span>
                        <span ng-repeat="t in vm.torrentLocalInfo.torrent_tags">
                            <span class="label label-tag">
                                {{ 'RESOURCESTAGS.' + vm.getTagTitle(t) + '.' + t | translate}}
                            </span>
                        </span>
                    </div>
                </dd>

                <dt class="h-line" ng-show="vm.torrentLocalInfo.torrent_nfo.length>0">{{ 'VIDEO_NFO' | translate}}：</dt>
                <dd class="h-line" ng-show="vm.torrentLocalInfo.torrent_nfo.length>0">
                    <div class="row">
                        <div class="col-md-10">
                            <textarea class="form-control video-nfo margin-top-10" rows="15" ng-bind="vm.torrentLocalInfo.torrent_nfo"
                                      readonly></textarea>
                        </div>
                    </div>
                </dd>

                <div class="margin-top-20"></div>

                <dt class="h-line"></dt>
                <dd class="h-line">
                    <div class="down-torrent">
                        <button class="btn btn-success" ng-click="vm.downloadTorrent(vm.torrentLocalInfo._id)"
                                translate="DOWNLOAD_TORRENT"></button>
                    </div>
                </dd>
            </dl>
        </div>
    </script>

    <script type="text/ng-template" id="subtitleInfo.html">
        <div class="padding-top-30">
            <ul class="margin-bottom-30">
                <li class="h-line" translate="SUBTITLE_RULES.0"></li>
                <li class="h-line" translate="SUBTITLE_RULES.1"></li>
            </ul>

            <dl class="dl-horizontal">
                <dt class="h-line">{{ 'UPLOAD_SUBTITLE' | translate}}：</dt>
                <dd class="h-line">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="vm.sFile.name" disabled>

                                <div class="input-group-btn">
                                    <button class="btn btn-primary btn-file"
                                            ngf-select="vm.fileSelected = true; vm.successfully = undefined; vm.progress = 0;"
                                            ng-model="vm.sFile"
                                            accept="application/x-bittorrent"
                                            ngf-resize="{width: 400}"
                                            ngf-resize-if="$width > 400 || $height > 400"
                                            ng-disabled="vm.successfully">{{ 'SELECT_FILE' | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-success inline-block"
                                    ng-click="vm.upload(vm.sFile)">{{ 'DO_UPLOADS' | translate}} ({{vm.progress}}%)
                            </button>
                        </div>
                    </div>
                </dd>

                <dt class="h-line" ng-show="vm.torrentLocalInfo.subtitles.length>0">{{ 'SUBTITLE_LIST' | translate}}：</dt>
                <dd class="h-line" ng-show="vm.torrentLocalInfo.subtitles.length>0">
                </dd>
            </dl>
        </div>
    </script>

    <script type="text/ng-template" id="userInfo.html">
        <div class="padding-top-30 peer-dlist">
            <dl class="dl-horizontal">
                <dt class="h-line text-left">{{ 'TORRENT_FINISHED_USERS' | translate}}：{{vm.torrentLocalInfo.torrent_finished}}</dt>
                <dd class="h-line"></dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="h-line">{{ 'TORRENT_SEED_USERS' | translate}}：{{vm.torrentLocalInfo.torrent_seeds}}</dt>
                <dd class="h-line"></dd>
            </dl>

            <div class="table-responsive">
                <table class="table table-hover table-bordered table-condensed tb-peers">
                    <thead>
                        <tr>
                            <th class="text-center">{{ 'TABLE_FIELDS.USERNAME' | translate}}</th>
                            <th class="text-center">{{ 'TABLE_FIELDS.UPLOADED' | translate}}</th>
                            <th class="text-center">{{ 'TABLE_FIELDS.DOWNLOADED' | translate}}</th>
                            <th class="text-center">{{ 'TABLE_FIELDS.RATIO' | translate}}</th>
                            <th class="text-center">{{ 'TABLE_FIELDS.FINISHED' | translate}}</th>
                            <th class="text-center">{{ 'TABLE_FIELDS.STARTED' | translate}}</th>
                            <th class="text-center">{{ 'TABLE_FIELDS.ACTIVE' | translate}}</th>
                            <th class="text-center">{{ 'TABLE_FIELDS.CLIENT' | translate}}</th>
                            <th class="text-center">{{ 'TABLE_FIELDS.CONNECTABLE' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="torrent-list-info" ng-repeat="item in vm.torrentLocalInfo._peers | orderBy: peer_uploaded"
                            ng-if="item.peer_status == 'seeder'">
                            <td class="text-center">{{item.user.displayName}}</td>
                            <td class="text-center">{{item.peer_uploaded | bytes:2}}</td>
                            <td class="text-center">{{item.peer_downloaded | bytes:2}}</td>
                            <td class="text-center">{{item.peer_downloaded == 0 ? '-' : (item.peer_uploaded/item.peer_downloaded | number:2)}}</td>
                            <td class="text-center">{{item.peer_left == 0 ? '100%' : ((vm.torrentLocalInfo.torrent_size - item.peer_left)/vm.torrentLocalInfo.torrent_size | percentage:2)}}</td>
                            <td class="text-center">{{item.startedat | life}}</td>
                            <td class="text-center">{{item.last_announce_at | life}}</td>
                            <td class="text-center">{{item.user_agent}}</td>
                            <td class="text-center">{{item.peer_connectable}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <dl class="dl-horizontal">
                <dt class="h-line">{{ 'TORRENT_LEECHER_USERS' | translate}}：{{vm.torrentLocalInfo.torrent_leechers}}</dt>
                <dd class="h-line"></dd>
            </dl>

            <div class="table-responsive">
                <table class="table table-hover table-bordered table-condensed tb-peers">
                    <thead>
                        <tr>
                            <th class="text-center">{{ 'TABLE_FIELDS.USERNAME' | translate}}</th>
                            <th class="text-center">{{ 'TABLE_FIELDS.UPLOADED' | translate}}</th>
                            <th class="text-center">{{ 'TABLE_FIELDS.DOWNLOADED' | translate}}</th>
                            <th class="text-center">{{ 'TABLE_FIELDS.RATIO' | translate}}</th>
                            <th class="text-center">{{ 'TABLE_FIELDS.FINISHED' | translate}}</th>
                            <th class="text-center">{{ 'TABLE_FIELDS.STARTED' | translate}}</th>
                            <th class="text-center">{{ 'TABLE_FIELDS.ACTIVE' | translate}}</th>
                            <th class="text-center">{{ 'TABLE_FIELDS.CLIENT' | translate}}</th>
                            <th class="text-center">{{ 'TABLE_FIELDS.CONNECTABLE' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="torrent-list-info" ng-repeat="item in vm.torrentLocalInfo._peers | orderBy: peer_downloaded"
                            ng-if="item.peer_status == 'leecher'">
                            <td class="text-center">{{item.user.displayName}}</td>
                            <td class="text-center">{{item.peer_uploaded | bytes:2}}</td>
                            <td class="text-center">{{item.peer_downloaded | bytes:2}}</td>
                            <td class="text-center">{{item.peer_downloaded == 0 ? '-' : (item.peer_uploaded/item.peer_downloaded | number:2)}}</td>
                            <td class="text-center">{{item.peer_left == 0 ? '100%' : ((vm.torrentLocalInfo.torrent_size - item.peer_left)/vm.torrentLocalInfo.torrent_size | percentage:2)}}</td>
                            <td class="text-center">{{item.startedat | life}}</td>
                            <td class="text-center">{{item.last_announce_at | life}}</td>
                            <td class="text-center">{{item.user_agent}}</td>
                            <td class="text-center">{{item.peer_connectable}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="otherTorrents.html">
        <div>
            <p>building</p>
        </div>
    </script>

    <script type="text/ng-template" id="myPanel.html">
        <div class="padding-top-30">
            <dl class="dl-horizontal">
                <dt class="h-line"></dt>
                <dd class="h-line margin-bottom-30">
                    <ul>
                        <li translate="MY_TORRENT_RULES.0"></li>
                        <li translate="MY_TORRENT_RULES.1" translate-values='{admin: vm.announce.admin}'></li>
                    </ul>
                </dd>

                <dt class="h-line"></dt>
                <dd class="h-line">
                </dd>
            </dl>
        </div>
    </script>

    <script type="text/ng-template" id="adminPanel.html">
        <div>
            <p>building</p>
        </div>
    </script>

</section>
