<section ng-controller="TorrentsController as vm" ng-init="vm.getTorrentInfo();">
    <div class="backdrop">
        <div class="filter">
            <div class="container">
                <div class="topone" ng-show="vm.torrentLocalInfo">
                    <div class="col-md-4">
                        <img ng-src="{{vm.tmdbConfig.poster_img_base_url}}{{vm.torrentLocalInfo.torrent_img}}" class="img-thumbnail center-block"
                             onload="this.style.opacity='1';">

                        <div class="down-torrent">
                            <button class="btn btn-success btn-block" ng-click="vm.downloadTorrent(vm.torrentLocalInfo._id)"
                                    translate="DOWNLOAD_TORRENT"></button>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <dl class="dl-horizontal">
                            <dt class="h-line">{{ 'TMDB_FIELDS.ORIGINAL_TITLE' | translate}}：</dt>
                            <dd class="h-line">{{vm.movieinfo.original_title}}</dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.TITLE' | translate}}：</dt>
                            <dd class="h-line">{{vm.movieinfo.title}}</dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.DIRECTOR' | translate}}：</dt>
                            <dd class="h-line">{{vm.getDirector()}}</dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.ORIGINAL_LANGUAGE' | translate}}：</dt>
                            <dd class="h-line">{{vm.movieinfo.original_language}}</dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.GENRES' | translate}}：</dt>
                            <dd class="h-line list-all-genres">
                                <span class="genres-item" ng-repeat="item in vm.movieinfo.genres">{{item.name}}</span>
                            </dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.PRODUCTION_COMPANIES' | translate}}：</dt>
                            <dd class="h-line list-all-companies">
                                <p class="company-item" ng-repeat="item in vm.movieinfo.production_companies">{{item.name}}</p>
                            </dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.PRODUCTION_COUNTRIES' | translate}}：</dt>
                            <dd class="h-line list-all-countries">
                                <span class="country-item" ng-repeat="item in vm.movieinfo.production_countries">{{item.iso_3166_1}}</span>
                            </dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.RELEASE_DATE' | translate}}：</dt>
                            <dd class="h-line">{{vm.movieinfo.release_date}}</dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.RUNTIME' | translate}}：</dt>
                            <dd class="h-line">{{vm.movieinfo.runtime | runtime}}</dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.BUDGET' | translate}}：</dt>
                            <dd class="h-line">{{vm.movieinfo.budget | dollar:2}}</dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.REVENUE' | translate}}：</dt>
                            <dd class="h-line">{{vm.movieinfo.revenue | dollar:2}}</dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.VOTE_AVERAGE' | translate}}：</dt>
                            <dd class="h-line">
                                <span ng-show="vm.movieinfo">
                                    <span class="torrent-votes">
                                        <kbd>IMDB</kbd>
                                    </span> {{vm.movieinfo.vote_average}} / {{vm.movieinfo.vote_count}} {{ 'TMDB_FIELDS.VOTE_UNIT' | translate}}
                                </span>
                            </dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.IMDB_LINK' | translate}}：</dt>
                            <dd class="h-line"><a href="{{vm.imdbConfig.imdb_link_url}}{{vm.movieinfo.imdb_id}}"
                                                  target="_blank">{{vm.imdbConfig.imdb_link_url}}{{vm.movieinfo.imdb_id}}</a></dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.TMDB_LINK' | translate}}：</dt>
                            <dd class="h-line"><a href="{{vm.tmdbConfig.tmdb_link_url}}{{vm.movieinfo.id}}"
                                                  target="_blank">{{vm.tmdbConfig.tmdb_link_url}}{{vm.movieinfo.id}}</a></dd>

                            <dt class="h-line">{{ 'TMDB_FIELDS.OVERVIEW' | translate}}：</dt>
                            <dd class="h-line">{{vm.movieinfo.overview}}</dd>
                        </dl>
                        <legend class="xsmall-legend strong-legend" translate="TMDB_FIELDS.CAST"></legend>
                        <div class="row cast-list">
                            <div class="col-xs-4 col-md-2 text-center">
                                <img ng-src="{{vm.tmdbConfig.cast_img_base_url}}{{vm.movieinfo.credits.cast[0].profile_path}}"
                                     on-error-src="/./modules/core/client/img/default_face.jpg"
                                     class="img-circle img-thumbnail img-responsive center-block" onload="this.style.opacity='1';">
                                <span class="cast-xs-info"><strong>{{vm.movieinfo.credits.cast[0].name}}</strong></span>

                                <p class="cast-xs-info character">{{vm.movieinfo.credits.cast[0].character}}</p>
                            </div>
                            <div class="col-xs-4 col-md-2 text-center">
                                <img ng-src="{{vm.tmdbConfig.cast_img_base_url}}{{vm.movieinfo.credits.cast[1].profile_path}}"
                                     on-error-src="/./modules/core/client/img/default_face.jpg"
                                     class="img-circle img-thumbnail img-responsive center-block" onload="this.style.opacity='1';">
                                <span class="cast-xs-info"><strong>{{vm.movieinfo.credits.cast[1].name}}</strong></span>

                                <p class="cast-xs-info character">{{vm.movieinfo.credits.cast[1].character}}</p>
                            </div>
                            <div class="col-xs-4 col-md-2 text-center">
                                <img ng-src="{{vm.tmdbConfig.cast_img_base_url}}{{vm.movieinfo.credits.cast[2].profile_path}}"
                                     on-error-src="/./modules/core/client/img/default_face.jpg"
                                     class="img-circle img-thumbnail img-responsive center-block" onload="this.style.opacity='1';">
                                <span class="cast-xs-info"><strong>{{vm.movieinfo.credits.cast[2].name}}</strong></span>

                                <p class="cast-xs-info character">{{vm.movieinfo.credits.cast[2].character}}</p>
                            </div>

                            <div class="clearfix visible-xs-block visible-sm-block"></div>

                            <div class="col-xs-4 col-md-2 text-center">
                                <img ng-src="{{vm.tmdbConfig.cast_img_base_url}}{{vm.movieinfo.credits.cast[3].profile_path}}"
                                     on-error-src="/./modules/core/client/img/default_face.jpg"
                                     class="img-circle img-thumbnail img-responsive center-block" onload="this.style.opacity='1';">
                                <span class="cast-xs-info"><strong>{{vm.movieinfo.credits.cast[3].name}}</strong></span>

                                <p class="cast-xs-info character">{{vm.movieinfo.credits.cast[3].character}}</p>
                            </div>
                            <div class="col-xs-4 col-md-2 text-center">
                                <img ng-src="{{vm.tmdbConfig.cast_img_base_url}}{{vm.movieinfo.credits.cast[4].profile_path}}"
                                     on-error-src="/./modules/core/client/img/default_face.jpg"
                                     class="img-circle img-thumbnail img-responsive center-block" onload="this.style.opacity='1';">
                                <span class="cast-xs-info"><strong>{{vm.movieinfo.credits.cast[4].name}}</strong></span>

                                <p class="cast-xs-info character">{{vm.movieinfo.credits.cast[4].character}}</p>
                            </div>
                            <div class="col-xs-4 col-md-2 text-center">
                                <img ng-src="{{vm.tmdbConfig.cast_img_base_url}}{{vm.movieinfo.credits.cast[5].profile_path}}"
                                     on-error-src="/./modules/core/client/img/default_face.jpg"
                                     class="img-circle img-thumbnail img-responsive center-block" onload="this.style.opacity='1';">
                                <span class="cast-xs-info"><strong>{{vm.movieinfo.credits.cast[5].name}}</strong></span>

                                <p class="cast-xs-info character">{{vm.movieinfo.credits.cast[5].character}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <uib-tabset>
            <uib-tab index="$index" ng-repeat="tab in vm.torrentTabs" disabled="tab.disabled" ng-show="tab.ng_show">
                <uib-tab-heading>
                    {{tab.title}} <span class="badge {{b.class}}" ng-repeat="b in tab.badges">{{b.value}}</span>
                </uib-tab-heading>
                <div ng-include="tab.templateUrl">
                </div>
            </uib-tab>
        </uib-tabset>
    </div>

    <script type="text/ng-template" id="videoInfo.html">
        <div class="padding-top-30">
            <dl class="dl-horizontal">
                <dt class="h-line">{{ 'TRANCKER_URL' | translate}}：</dt>
                <dd class="h-line">{{vm.torrentLocalInfo.torrent_announce}}</dd>

                <dt class="h-line">{{ 'VIDEO_SIZE' | translate}}：</dt>
                <dd class="h-line">{{vm.torrentLocalInfo.torrent_size | bytes:2}}</dd>

                <dt class="h-line">{{ 'ATTRIBUTE_TAGS' | translate}}：</dt>
                <dd class="h-line">
                    <div class="list-all-tags">
                        <span class="label label-warning">{{ vm.torrentLocalInfo.torrent_release}}</span>
                        <span ng-repeat="t in vm.torrentLocalInfo.torrent_tags">
                            <span class="label label-tag">
                                {{ 'RESOURCESTAGS.' + vm.getTagTitle(t) + '.' + t | translate}}
                            </span>
                        </span>
                    </div>
                </dd>

                <dt class="h-line" ng-show="vm.torrentLocalInfo.torrent_nfo.length>0">{{ 'VIDEO_NFO' | translate}}：</dt>
                <dd class="h-line" ng-show="vm.torrentLocalInfo.torrent_nfo.length>0">
                    <div class="row">
                        <div class="col-md-10">
                            <textarea class="form-control video-nfo margin-top-10" rows="15" ng-bind="vm.torrentLocalInfo.torrent_nfo"
                                      readonly></textarea>
                        </div>
                    </div>
                </dd>

                <div class="margin-top-20"></div>

                <dt class="h-line"></dt>
                <dd class="h-line">
                    <div class="down-torrent">
                        <button class="btn btn-success" ng-click="vm.downloadTorrent(vm.torrentLocalInfo._id)"
                                translate="DOWNLOAD_TORRENT"></button>
                    </div>
                </dd>
            </dl>
        </div>
    </script>

    <script type="text/ng-template" id="subtitleInfo.html">
        <div class="padding-top-30">
            <dl class="dl-horizontal">
                <dt class="h-line"></dt>
                <dd class="h-line margin-bottom-30">
                    <ul>
                        <li translate="SUBTITLE_RULES.0"></li>
                        <li translate="SUBTITLE_RULES.1"></li>
                    </ul>
                </dd>

                <dt class="h-line">{{ 'UPLOAD_SUBTITLE' | translate}}：</dt>
                <dd class="h-line">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="vm.sFile.name" disabled>

                                <div class="input-group-btn">
                                    <button class="btn btn-primary btn-file"
                                            ngf-select="vm.fileSelected = true; vm.successfully = undefined; vm.progress = 0;"
                                            ng-model="vm.sFile"
                                            accept="application/x-bittorrent"
                                            ngf-resize="{width: 400}"
                                            ngf-resize-if="$width > 400 || $height > 400"
                                            ng-disabled="vm.successfully">{{ 'SELECT_FILE' | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-success inline-block"
                                    ng-click="vm.upload(vm.sFile)">{{ 'DO_UPLOADS' | translate}} ({{vm.progress}}%)
                            </button>
                        </div>
                    </div>
                </dd>

                <dt class="h-line" ng-show="vm.torrentLocalInfo.subtitles.length>0">{{ 'SUBTITLE_LIST' | translate}}：</dt>
                <dd class="h-line" ng-show="vm.torrentLocalInfo.subtitles.length>0">
                </dd>
            </dl>
        </div>
    </script>

    <script type="text/ng-template" id="userInfo.html">
        <div class="padding-top-30">
            <dl class="dl-horizontal">
                <dt class="h-line">{{ 'TORRENT_SEED_USERS' | translate}}：</dt>
                <dd class="h-line">{{vm.torrentLocalInfo.torrent_seeds}}</dd>

                <dt class="h-line">{{ 'TORRENT_LEECHER_USERS' | translate}}：</dt>
                <dd class="h-line">{{vm.torrentLocalInfo.torrent_leechers}}</dd>
            </dl>
        </div>
    </script>

    <script type="text/ng-template" id="otherTorrents.html">
        <div>
            <p>building</p>
        </div>
    </script>

    <script type="text/ng-template" id="myPanel.html">
        <div class="padding-top-30">
            <dl class="dl-horizontal">
                <dt class="h-line"></dt>
                <dd class="h-line margin-bottom-30">
                    <ul>
                        <li translate="MY_TORRENT_RULES.0"></li>
                        <li translate="MY_TORRENT_RULES.1" translate-values='{admin: vm.announce.admin}'></li>
                    </ul>
                </dd>

                <dt class="h-line"></dt>
                <dd class="h-line">
                </dd>
            </dl>
        </div>
    </script>

    <script type="text/ng-template" id="adminPanel.html">
        <div>
            <p>building</p>
        </div>
    </script>

</section>
