<section class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-md-4">
                <h3>{{ 'USERS_LIST' | translate}}</h3>
            </div>
            <div class="col-md-4 col-md-offset-4" style="margin-top: 1em">
                <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()"/>
            </div>
        </div>
    </div>
    <div class="list-group">
        <a ng-repeat="user in vm.pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item"
           ng-class="{'span-banned': user.status == 'banned'}">
            <img class="ulist-avatar" ng-src="/{{user.profileImageURL}}">

            <h4 class="list-group-item-heading" ng-bind="user.username"></h4>

            <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>

            <p class="list-group-item-text" ng-bind="user.email"></p>
        </a>
    </div>

    <ul uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage"
                    ng-change="vm.pageChanged()"
                    first-text="{{ 'PAGE_TEXT_FIRST' | translate}}" previous-text="{{ 'PAGE_TEXT_PREVIOUS' | translate}}"
                    next-text="{{ 'PAGE_TEXT_NEXT' | translate}}" last-text="{{ 'PAGE_TEXT_LAST' | translate}}">
    </ul>
</section>
