<section class="container" ng-init="vm.buildPager();">
    <div class="page-header" id="top_of_users_list">
        <div class="row">
            <div class="col-md-3">
                <h3>{{ 'USERS_LIST' | translate}}</h3>
            </div>
            <div class="col-md-6 checkbox-inline" style="margin-top: 1em">
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="vm.searchVip" ng-change="vm.buildPager();"> isVip
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="vm.searchAdmin" ng-change="vm.buildPager();"> isAdmin
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="vm.searchOper" ng-change="vm.buildPager();"> isOper
                </label>

                <div>
                    <label class="radio-inline">
                        <input type="radio" name="status_normal" ng-model="vm.userStatus"
                               id="status_all" value="all" ng-change="vm.buildPager();"> all
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="status_normal" ng-model="vm.userStatus"
                               id="status_normal" value="normal" ng-change="vm.buildPager();"> normal
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="status_banned" ng-model="vm.userStatus"
                               id="status_banned" value="banned" ng-change="vm.buildPager();"> banned
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="status_banned" ng-model="vm.userStatus"
                               id="status_idle" value="idle" ng-change="vm.buildPager();"> idle
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="status_inactive" ng-model="vm.userStatus"
                               id="status_inactive" value="inactive" ng-change="vm.buildPager();"> inactive
                    </label>

                </div>
            </div>
            <div class="col-md-3" style="margin-top: 1em">
                <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.currentPage = 1; vm.figureOutItemsToDisplay()"/>
            </div>
        </div>
    </div>
    <div class="list-group">
        <a ng-repeat="user in vm.pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item"
           ng-class="{'span-banned': user.status == 'banned', 'span-idle': user.status == 'idle'}">
            <img class="ulist-avatar" ng-src="{{user.profileImageURL}}">

            <h4 class="list-group-item-heading">{{user.displayName}} <span vip-flag="user"></span> -
                <small>{{user.username}}</small>
            </h4>

            <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>

            <p class="list-group-item-text"><span ng-bind="user.email"></span> | <strong>{{user.status}}</strong></p>
        </a>
    </div>

    <ul uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage"
        ng-change="vm.pageChanged()"
        first-text="{{ 'PAGE_TEXT_FIRST' | translate}}" previous-text="{{ 'PAGE_TEXT_PREVIOUS' | translate}}"
        next-text="{{ 'PAGE_TEXT_NEXT' | translate}}" last-text="{{ 'PAGE_TEXT_LAST' | translate}}">
    </ul>
</section>
