<section class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h3 ng-bind="vm.user.username"></h3>
            </div>
            <div class="col-md-5">
                <a class="btn btn-primary pull-right margin-left-10" ng-if="vm.authentication.user.isAdmin"
                   ui-sref="admin.user-edit({userId: vm.user._id})">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-primary pull-right margin-left-10" ng-click="vm.messageTo()" ng-if="!vm.isContextUserSelf()">
                    <i class="glyphicon glyphicon-envelope"></i>
                </a>
                <a class="btn btn-primary pull-right" ng-click="vm.remove()" ng-if="!vm.isContextUserSelf() && !vm.user.isOper">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="row margin-bottom-30">
        <div class="col-md-10 col-md-offset-1 admin-user-info">
            <dl class="dl-horizontal">
                <dt class="h-line">{{ 'STATUS_FIELD.PICTURE' | translate}}：</dt>
                <dd class="h-line">
                    <img class="status-avatar" ng-src="{{vm.user.profileImageURL}}">

                    <div class="pull-right" ng-if="vm.authentication.user.isOper">
                        <a href="#" ng-click="vm.resetDefaultProfileImage();">{{'STATUS_FIELD.RESET_DEFAULT_PICTURE' | translate}}</a>
                    </div>
                </dd>

                <dt class="h-line">{{ 'STATUS_FIELD.USERNAME' | translate}}：</dt>
                <dd class="h-line">{{ vm.user.username }}</dd>

                <!--<dt class="h-line">{{ 'STATUS_FIELD.FIRST_NAME' | translate}}：</dt>-->
                <!--<dd class="h-line">{{ vm.user.firstName }}</dd>-->

                <!--<dt class="h-line">{{ 'STATUS_FIELD.LAST_NAME' | translate}}：</dt>-->
                <!--<dd class="h-line">{{ vm.user.lastName }}</dd>-->

                <dt class="h-line">{{ 'STATUS_FIELD.DISPLAY_NAME' | translate}}：</dt>
                <dd class="h-line">
                    {{ vm.user.displayName }}
                    <span vip-flag="vm.user"></span>

                    <div class="pull-right" ng-if="vm.authentication.user.isAdmin">
                        <button class="btn btn-default btn-xs btn-width-100"
                                ng-click="vm.addVIPMonths();">{{'STATUS_FIELD.ADD_VIP_MONTHS' | translate}}
                        </button>
                    </div>
                </dd>

                <div ng-if="vm.user.invited_by">
                    <dt class="h-line">{{ 'STATUS_FIELD.INVITED_BY' | translate}}：</dt>
                    <dd class="h-line">
                        <span user-info="vm.user.invited_by" info-name></span>
                        <!--<span message-to="vm.user.invited_by" to-class="message-to-icon"></span>-->
                    </dd>
                </div>

                <dt class="h-line">{{ 'STATUS_FIELD.EMAIL' | translate}}：</dt>
                <dd class="h-line">{{ vm.user.email }}</dd>

                <dt class="h-line">{{ 'STATUS_FIELD.PASSKEY' | translate}}：</dt>
                <dd class="h-line">
                    <mark>{{ vm.user.passkey }}</mark>
                </dd>

                <dt class="h-line">{{ 'STATUS_FIELD.ROLE' | translate}}：</dt>
                <dd class="h-line">
                    <mark>{{ vm.user.roles[0] }}</mark>
                    <div class="pull-right" ng-if="vm.authentication.user.username != vm.user.username && vm.authentication.user.isAdmin">
                        <select class="width-100" ng-model="vm.selectedRole" ng-change="vm.onUserRoleChanged();">
                            <option ng-repeat="r in vm.userRolesConfig" value="{{r}}">{{ r }}
                            </option>
                        </select>
                    </div>
                </dd>

                <dt class="h-line">{{ 'STATUS_FIELD.MAKER' | translate}}：</dt>
                <dd class="h-line">
                    <span ng-class="maker-list" ng-repeat="m in vm.user.makers">
                        <a ui-sref="about.group({ makerId: m._id })">{{m.name}}</a>
                    </span>
                    <span ng-if="vm.user.makers.length==0">-</span>

                    <div class="pull-right"
                         ng-if="vm.authentication.user.isOper && vm.user.makers.length==0">
                        <button class="btn btn-default btn-xs btn-width-100" ng-click="vm.showMakerGroup($event);">
                            {{'STATUS_FIELD.BTN_CREATE_MAKER' | translate}}
                        </button>
                    </div>
                </dd>

                <dt class="h-line">{{ 'STATUS_FIELD.STATUS' | translate}}：</dt>
                <dd class="h-line">
                    <span ng-class="{'span-banned': vm.user.status == 'banned'}">{{ 'STATUS_FIELD.' + vm.user.status.toUpperCase() | translate }}</span>

                    <div class="pull-right"
                         ng-if="vm.authentication.user.username != vm.user.username && vm.authentication.user.isOper && !vm.user.isAdmin">
                        <button class="btn btn-default btn-xs btn-width-100" ng-click="vm.setUserStatus();">
                            {{ vm.user.status == 'banned' ? ('STATUS_FIELD.BTN_UNBAN' | translate) : ('STATUS_FIELD.BTN_BAN' | translate)}}
                        </button>
                    </div>
                </dd>

                <li class="status-divider"></li>

                <div ng-show="vm.user.isVip">
                    <dt class="h-line">{{ 'STATUS_FIELD.VIP_START_AT' | translate}}：</dt>
                    <dd class="h-line">{{ vm.user.vip_start_at | date: 'yyyy-MM-dd HH:mm:ss' }}</dd>

                    <dt class="h-line">{{ 'STATUS_FIELD.VIP_END_AT' | translate}}：</dt>
                    <dd class="h-line">{{ vm.user.vip_end_at | date: 'yyyy-MM-dd HH:mm:ss' }}</dd>

                    <li class="status-divider"></li>
                </div>

                <dt class="h-line">{{ 'STATUS_FIELD.SIGNUP_DATE' | translate}}：</dt>
                <dd class="h-line">{{ vm.user.created | date: 'yyyy-MM-dd HH:mm:ss' }}</dd>

                <dt class="h-line">{{ 'STATUS_FIELD.LATEST_SIGNED_TIME' | translate}}：</dt>
                <dd class="h-line">{{ vm.user.last_signed | date: 'yyyy-MM-dd HH:mm:ss' }}</dd>

                <dt class="h-line">{{ 'STATUS_FIELD.SIGNED_IP' | translate}}：</dt>
                <dd class="h-line">
                    <div class="list-all-ips">
                        <span class="ip-item" ng-repeat="t in vm.user.signed_ip">{{t}}</span>
                    </div>
                </dd>

                <div ng-if="vm.announce.privateTorrentCmsMode">
                    <dt class="h-line">{{ 'STATUS_FIELD.LEECHED_IP' | translate}}：</dt>
                    <dd class="h-line">
                        <div class="list-all-ips">
                            <span class="ip-item" ng-repeat="t in vm.user.leeched_ip">{{t}}</span>
                        </div>
                    </dd>

                    <dt class="h-line">{{ 'STATUS_FIELD.BT_CLIENT' | translate}}：</dt>
                    <dd class="h-line">
                        <div class="list-all-clients">
                            <span class="client-item" ng-repeat="t in vm.user.client_agent">{{t}}</span>
                        </div>
                    </dd>
                </div>

                <li class="status-divider"></li>

                <div ng-if="vm.announce.privateTorrentCmsMode">
                    <dt class="h-line">{{ 'STATUS_FIELD.UPLOADED' | translate}}：</dt>
                    <dd class="h-line">
                        <span class="glyphicon glyphicon-arrow-up torrent-up"></span>
                        <span>{{ vm.user.uploaded | bytes:2 }}</span>

                        <div class="pull-right" ng-if="vm.authentication.user.isAdmin">
                            <button class="btn btn-default btn-xs btn-width-100"
                                    uib-popover-template="vm.setUserUploadedPopover.templateUrl"
                                    popover-title="{{vm.setUserUploadedPopover.title | translate}}"
                                    popover-trigger="'outsideClick'"
                                    popover-placement="top-right"
                                    popover-is-open="vm.setUserUploadedPopover.isOpen"
                                    popover-class="set-uploaded-popover"
                                    ng-click="vm.setUserUploadedPopover.number = undefined;">
                                +/-
                            </button>
                        </div>
                    </dd>

                    <dt class="h-line">{{ 'STATUS_FIELD.DOWNLOADED' | translate}}：</dt>
                    <dd class="h-line">
                        <span class="glyphicon glyphicon-arrow-down torrent-down"></span>
                        <span>{{ vm.user.downloaded | bytes:2 }}</span>

                        <div class="pull-right" ng-if="vm.authentication.user.isAdmin">
                            <button class="btn btn-default btn-xs btn-width-100"
                                    uib-popover-template="vm.setUserDownloadedPopover.templateUrl"
                                    popover-title="{{vm.setUserDownloadedPopover.title | translate}}"
                                    popover-trigger="'outsideClick'"
                                    popover-placement="top-right"
                                    popover-is-open="vm.setUserDownloadedPopover.isOpen"
                                    popover-class="set-downloaded-popover"
                                    ng-click="vm.setUserDownloadedPopover.number = undefined;">
                                +/-
                            </button>
                        </div>
                    </dd>

                    <dt class="h-line">{{ 'STATUS_FIELD.RATIO' | translate}}：</dt>
                    <dd class="h-line"><span ng-class="vm.user.ratio == 0 ? 'ratio-warning' : 'ratio-normal' ">{{ vm.user.ratio | ratio}}</span></dd>
                </div>

                <dt class="h-line">{{ 'STATUS_FIELD.SCORE' | translate}}：</dt>
                <dd class="h-line">
                    <span>{{ vm.user.score }}</span> <span score-level="vm.scoreLevelData.currLevel"></span>

                    <div class="pull-right" ng-if="vm.authentication.user.isAdmin">
                        <button class="btn btn-default btn-xs btn-width-100"
                                uib-popover-template="vm.setUserScorePopover.templateUrl"
                                popover-title="{{vm.setUserScorePopover.title | translate}}"
                                popover-trigger="'outsideClick'"
                                popover-placement="top-right"
                                popover-is-open="vm.setUserScorePopover.isOpen"
                                popover-class="set-score-popover"
                                ng-click="vm.setUserScorePopover.number = undefined;">
                            +/-
                        </button>
                    </div>
                </dd>

                <li class="status-divider"></li>

                <div ng-if="vm.announce.privateTorrentCmsMode">
                    <dt class="h-line">{{ 'STATUS_FIELD.UPTOTAL' | translate}}：</dt>
                    <dd class="h-line">{{ vm.user.uptotal }} <a class="pull-right" ui-sref="admin.user-uplist({userId: vm.user._id})"
                                                                ng-if="vm.user.uptotal>0">{{ 'STATUS_FIELD.DETAIL' | translate }}</a></dd>
                    <dt class="h-line">{{ 'STATUS_FIELD.SEEDED' | translate}}：</dt>
                    <dd class="h-line">{{ vm.user.seeded }} <a class="pull-right" ui-sref="admin.user-seeding({userId: vm.user._id})"
                                                               ng-if="vm.user.seeded>0">{{ 'STATUS_FIELD.DETAIL' | translate }}</a></dd>

                    <dt class="h-line">{{ 'STATUS_FIELD.LEECHED' | translate}}：</dt>
                    <dd class="h-line">{{ vm.user.leeched }} <a class="pull-right" ui-sref="admin.user-leeching({userId: vm.user._id})"
                                                                ng-if="vm.user.leeched>0">{{ 'STATUS_FIELD.DETAIL' | translate }}</a></dd>

                    <dt class="h-line">{{ 'STATUS_FIELD.FINISHED' | translate}}：</dt>
                    <dd class="h-line">{{ vm.user.finished }}</dd>

                    <div ng-if="vm.user.hnr_warning>0">
                        <dt class="h-line">{{ 'STATUS_FIELD.HNR_WARNING' | translate}}：</dt>
                        <dd class="h-line">
                            <span class="badge badge_danger">{{vm.user.hnr_warning}}</span>
                            <a class="pull-right" ui-sref="admin.user-warning({userId: vm.user._id})"
                               ng-if="vm.user.hnr_warning>0">{{ 'STATUS_FIELD.DETAIL' | translate }}</a>
                        </dd>
                    </div>

                    <li class="status-divider"></li>
                </div>

                <dt class="h-line">{{ 'STATUS_FIELD.FORUM_TOPICS' | translate}}：</dt>
                <dd class="h-line">{{ vm.user.topics }}</dd>

                <dt class="h-line">{{ 'STATUS_FIELD.FORUM_REPLIES' | translate}}：</dt>
                <dd class="h-line">{{ vm.user.replies }}</dd>
            </dl>
        </div>
    </div>

    <div id="makerSlide" side-overlay="right" side-class="maker-side-overlay" side-close-on-esc side-modal>
        <h4 translate="ABOUT.FORM_MAKER_FOR" translate-values="{name: vm.user.displayName}"></h4>
        <div class="maker-form">
            <input type="text" class="form-control" id="name" placeholder="{{'ABOUT.FORM_MAKER_NAME' | translate}}"
                   ng-model="vm.maker.name" autofocus>

            <textarea class="form-control" id="desc" placeholder="{{'ABOUT.FORM_MAKER_DESC' | translate}}"
                      ng-model="vm.maker.desc"></textarea>
            <div class="margin-top-10" style="display: table;">
                <a class="message-extra" href="https://guides.github.com/features/mastering-markdown/" target="_blank"
                   data-ga-click="Markdown Toolbar, click, help">
                    <svg aria-hidden="true" height="16" version="1.1"
                         viewBox="0 0 16 16" width="16">
                        <path fill-rule="evenodd"
                              d="M14.85 3H1.15C.52 3 0 3.52 0 4.15v7.69C0 12.48.52 13 1.15 13h13.69c.64 0 1.15-.52 1.15-1.15v-7.7C16 3.52 15.48 3 14.85 3zM9 11H7V8L5.5 9.92 4 8v3H2V5h2l1.5 2L7 5h2v6zm2.99.5L9.5 8H11V5h2v3h1.5l-2.51 3.5z"/>
                    </svg>
                    {{ 'MARKDOWN_LINK' | translate }}
                </a>
            </div>
        </div>

        <div class="bottom-control">
            <button class="btn btn-success btn-width-100"
                    ng-disabled="!vm.maker.name || !vm.maker.desc"
                    ng-click="vm.createMakerGroup();">{{ 'BUTTON_SAVE' | translate }}
            </button>
            <button class="btn btn-default btn-width-100" ng-click="vm.hideMakerPopup();">{{ 'BUTTON_CANCEL' | translate }}</button>
        </div>
    </div>

    <script type="text/ng-template" id="set-user-score.html">
        <form class="form-inline set-score-popover-form text-center">
            <div class="form-group">
                <input type="number" ng-model="vm.setUserScorePopover.number" class="form-control" placeholder="{{ 'SCORE_NUMBER' | translate }}"
                       autofocus>
            </div>
            <button class="btn btn-default" ng-click="vm.setUserScore();">{{ 'BUTTON_SET' | translate }}</button>
        </form>
    </script>

    <script type="text/ng-template" id="set-user-uploaded.html">
        <form class="form-inline set-uploaded-popover-form text-center">
            <div class="form-group">
                <input type="number" ng-model="vm.setUserUploadedPopover.number" class="form-control"
                       placeholder="{{ 'UPLOADED_NUMBER' | translate }}" autofocus>
            </div>
            <button class="btn btn-default" ng-click="vm.setUserUploaded();">{{ 'BUTTON_SET' | translate }}</button>
        </form>
    </script>

    <script type="text/ng-template" id="set-user-downloaded.html">
        <form class="form-inline set-downloaded-popover-form text-center">
            <div class="form-group">
                <input type="number" ng-model="vm.setUserDownloadedPopover.number" class="form-control"
                       placeholder="{{ 'DOWNLOADED_NUMBER' | translate }}" autofocus>
            </div>
            <button class="btn btn-default" ng-click="vm.setUserDownloaded();">{{ 'BUTTON_SET' | translate }}</button>
        </form>
    </script>

</section>
