@import (reference) "../../../../public/lib/bootstrap/less/variables.less";

@badge-margin: 2px;

.badge_info {
    margin: 0 @badge-margin;
    background-color: @brand-info;
}
.badge_primary {
    margin: 0 @badge-margin;
    background-color: @brand-primary;
}
.badge_success {
    margin: 0 @badge-margin;
    background-color: @brand-success;
}
.badge_warning {
    margin: 0 @badge-margin;
    background-color: @brand-warning;
}
.badge_danger {
    margin: 0 @badge-margin;
    background-color: @brand-danger;
}
.badge_seeder {
    margin: 0 @badge-margin;
    background-color: #33CC00;
}
.badge_leecher {
    margin: 0 @badge-margin;
    background-color: #FF3300;
}
.badge_finished {
    margin: 0 @badge-margin;
    background-color: #0366d6;
}
