@import (reference) "mt-var.less";

.btn-width-50 {
    min-width: 50px !important;
}
.btn-width-60 {
    min-width: 60px !important;
}
.btn-width-70 {
    min-width: 70px !important;
}
.btn-width-80 {
    min-width: 80px !important;
}
.btn-width-90 {
    min-width: 90px !important;
}
.btn-width-100 {
    min-width: 100px !important;
}
.btn-width-120 {
    min-width: 120px !important;
}
.btn-width-150 {
    min-width: 150px !important;
}
.btn-width-200 {
    min-width: 120px !important;
}

.width-50 {
    min-width: 50px !important;
}
.width-60 {
    min-width: 60px !important;
}
.width-70 {
    min-width: 70px !important;
}
.width-80 {
    min-width: 80px !important;
}
.width-90 {
    min-width: 90px !important;
}
.width-100 {
    min-width: 100px !important;
}
.width-120 {
    min-width: 120px !important;
}
.width-150 {
    min-width: 150px !important;
}
.width-200 {
    min-width: 200px !important;
}
.width-300 {
    min-width: 300px !important;
}
.width-400 {
    min-width: 400px !important;
}


.btn-mt-o {
    background-image: none;
    background-repeat: no-repeat;
    text-shadow: none;
    background-color: transparent;
    color: #efefef;
    border: solid 1px #ccc;
}