@import (reference) "mt-var.less";

.btn-width-50 {
    min-width: 50px !important;
}

.btn-width-60 {
    min-width: 60px !important;
}

.btn-width-70 {
    min-width: 70px !important;
}

.btn-width-80 {
    min-width: 80px !important;
}

.btn-width-90 {
    min-width: 90px !important;
}

.btn-width-100 {
    min-width: 100px !important;
}

.btn-width-120 {
    min-width: 120px !important;
}

.btn-width-140 {
    min-width: 140px !important;
}

.btn-width-150 {
    min-width: 150px !important;
}

.btn-width-160 {
    min-width: 160px !important;
}

.btn-width-170 {
    min-width: 170px !important;
}

.btn-width-180 {
    min-width: 180px !important;
}

.btn-width-200 {
    min-width: 200px !important;
}

.width-50, .min-width-50 {
    min-width: 50px !important;
}

.width-60, .min-width-60 {
    min-width: 60px !important;
}

.width-70, .min-width-70 {
    min-width: 70px !important;
}

.width-80, .min-width-80 {
    min-width: 80px !important;
}

.width-90, .min-width-90 {
    min-width: 90px !important;
}

.width-100, .min-width-100 {
    min-width: 100px !important;
}

.width-120, .min-width-120 {
    min-width: 120px !important;
}

.width-140, .min-width-140 {
    min-width: 140px !important;
}

.width-150, .min-width-150 {
    min-width: 150px !important;
}

.width-160, .min-width-160 {
    min-width: 160px !important;
}

.width-180, .min-width-180 {
    min-width: 180px !important;
}

.width-200, .min-width-200 {
    min-width: 200px !important;
}

.width-300, .min-width-300 {
    min-width: 300px !important;
}

.width-400, .min-width-400 {
    min-width: 400px !important;
}

.width-500, .min-width-500 {
    min-width: 500px !important;
}

.max-width-10 {
    max-width: 10px !important;
}

.max-width-20 {
    max-width: 20px !important;
}

.max-width-30 {
    max-width: 30px !important;
}

.max-width-40 {
    max-width: 40px !important;
}

.max-width-50 {
    max-width: 50px !important;
}

.max-width-60 {
    max-width: 60px !important;
}

.max-width-70 {
    max-width: 70px !important;
}

.max-width-80 {
    max-width: 80px !important;
}

.max-width-90 {
    max-width: 90px !important;
}

.max-width-100 {
    max-width: 100px !important;
}

.max-width-300 {
    max-width: 300px !important;
}

.max-width-400 {
    max-width: 400px !important;
}

.max-width-500 {
    max-width: 500px !important;
}

.btn-mt-o {
    background-image: none;
    background-repeat: no-repeat;
    text-shadow: none;
    background-color: transparent;
    color: #efefef;
    border: solid 1px #ccc;
    &:focus {
        background-color: transparent;
        color: #efefef;
        border-color: #ccc;
    }
}

.btn-mt-o-default-dark {
    color: #666;
    border: solid 1px #666;
    &:focus {
        color: #666;
        border-color: #666;
    }
}

.btn-mt-o-success {
    color: @state-success-text;
    border: solid 1px @state-success-text;
    &:hover,
    &:focus {
        color: @state-success-text;
        border-color: @state-success-text;
    }
}

.btn-mt-o-success-light {
    color: @brand-success;
    border: solid 1px @brand-success;
    &:focus {
        color: @brand-success;
        border-color: @brand-success;
    }
}

.btn-mt-success-light {
    color: #fff;
    background-color: @brand-success;
    border: solid 1px @brand-success;
    &:hover,
    &:focus {
        color: #333;
        background-color: @brand-success;
        border-color: @brand-success;
    }
}

.btn-mt-o-primary {
    color: @brand-primary;
    border: solid 1px @brand-primary;
    &:focus {
        color: @brand-primary;
        border-color: @brand-primary;
    }
}

.btn-mt-o-light {
    color: #fff !important;
    border: solid 1px #fff !important;
    &:focus {
        color: #fff !important;
        border-color: #fff !important;
    }
}

.btn-bold {
    font-weight: 500;
}