@import (reference) "../../../core/client/less/mt-var.less";

.home-help, .home-notice, .home-new-topic {
    margin: 20px 0 0;
    color: #4d4e53;
    .list-items {
        background-color: #fafbfc;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, .075);
        margin-top: -25px;
        padding: 20px 10px;
        border-top: solid 2px @mt-base-color;
        p {
            &:before {
                content: '+';
                display: inline-block;
                color: #ff6600;
                margin-right: 2px;
            }
            &:last-child {
                margin-bottom: 1px !important;
            }
        }
        .item-date {
            color: #999;
        }
    }
    .list-title {
        margin-bottom: 10px;
        position: relative;
        .fa-stack {
            font-size: 30px;
            color: @mt-base-color;
            .fa:first-child {
                text-shadow: 0 1px 1px #fff, 0 1px 1px #fff;
            }
        }
        .fa-more {
            position: absolute;
            top: 22px;
            right: 10px;
            font-size: 20px;
            &:hover {
                color: @mt-base-color;
            }
        }
    }
}

.home_vip_info {
    padding: 20px;
    min-height: 300px;
    background-color: #f7f7f7;
}

.home_global_search {
    min-height: 150px;
    background-image: url("/modules/core/client/img/default-background.jpg");
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: cover;
    .search-panel {
        min-height: 150px;
        padding: 20px;
        background-color: #666;
        background-color: rgba(0, 0, 0, 0.2);

        color: #eee;
        text-shadow: 1px 1px 3px rgba(0, 1, 0, 0.5), 0 0 9px rgba(0, 1, 0, 0.2);

        .search-title {
            font-size: 2.2em;
            font-weight: 300;
        }
        .search-group {
            max-width: 40em;
            margin-right: auto;
            margin-left: auto;
            input {
                color: #eee;
                background-color: #ccc;
                background-color: rgba(255, 255, 255, 0.2);
                border-bottom-left-radius: 17px;
                border-top-left-radius: 17px;
            }
            .btn-search {
                border-bottom-right-radius: 17px;
                border-top-right-radius: 17px;
                opacity: 0.6;
                &:hover,
                &:focus {
                    opacity: 1;
                }
            }
        }
        .search-type {
            font-size: 18px;
            text-shadow: 1px 1px 3px rgba(0, 1, 0, 0.5), 0 0 9px rgba(0, 1, 0, 0.2);
            input {
                opacity: 0.6;
                &:hover,
                &:checked,
                &:focus {
                    opacity: 1;
                }
            }
        }
    }
}
