@import (reference) "../../../core/client/less/mt-var.less";

.navbar-nav {
    .fa-class-revers {
        .fa-fw {
            color: #fafbfc;
        }
    }
    .fa-fw {
        margin: 0 5px 0 0;
        //font-size: 16px;
    }
}

.home_notice {
    padding-top: 20px;
    .alert {
        position: relative;
    }
    h3, .h3 {
        margin-top: 10px;
    }
    p {
        font-size: 16px;
    }
    .sale_key {
        color: @brand-danger;
    }
    .fa-close {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        color: #888;
        &:hover {
            color: @brand-danger;
        }
    }
}

.sales_notice {
    background-color: @brand-success;
    background-color: rgba(92, 184, 92, 0.85);
    &:hover {
        background-color: @brand-success;
        background-color: rgba(92, 184, 92, 0.95);
    }
}

.examination_notice {
    background-color: @brand-danger;
    background-color: rgba(217, 83, 79, 0.85);
    &:hover {
        background-color: @brand-danger;
        background-color: rgba(217, 83, 79, 0.95);
    }
}

.examination_status {
    background-color: @brand-danger;
    background-color: rgba(217, 83, 79, 0.85);
    &:hover {
        background-color: @brand-danger;
        background-color: rgba(217, 83, 79, 0.95);
    }
    @media (min-width: @screen-sm-min) {
        dl {
            font-size: 16px;
            margin-bottom: 0;
            dt {
                width: 280px;
            }
            dd {
                margin-left: 300px;
            }
        }
    }
    &.examination_finished {
        background-color: @brand-success;
    }
}

.home-help, .home-notice, .home-new-topic, .home-new-torrents {
    margin: 30px 20px;
    //color: #fff;
    //text-shadow: 0 0 0.1em #000,-0 -0 0.1em #000;
    .list-items {
        //background-color: #fafbfc;
        //box-shadow: 2px 2px 2px rgba(0, 0, 0, .075);
        //margin-top: -25px;
        //padding: 20px 10px;
        //border-top: solid 2px @mt-base-color;
        p {
            margin: 0 0 5px;
            //&:before {
            //    content: '+';
            //    display: inline-block;
            //    color: #ff6600;
            //    margin-right: 2px;
            //}
            &:last-child {
                margin-bottom: 1px !important;
            }
        }
        .item-date {
            color: #999;
        }
    }
    .list-title {
        margin-bottom: 10px;
        position: relative;
        .fa-stack {
            font-size: 30px;
            color: @mt-base-color;
            .fa:first-child {
                text-shadow: 0 1px 1px #fff, 0 1px 1px #fff;
            }
        }
        .fa-more {
            position: absolute;
            top: 22px;
            right: 10px;
            font-size: 20px;
            &:hover {
                color: @mt-base-color;
            }
        }
    }
}

.home-check-in {
    h4, .h4 {
        font-size: 16px;
        font-weight: 400 !important;
        line-height: 1.8;
    }
    .check-in-btn {
        margin-top: 7px;
        @media (max-width: @screen-sm-max) {
            margin-top: 20px;
        }
        @media (max-width: @screen-xs-max) {
            margin: 15px 0;
        }
    }
}

.home-button-list {
    padding: 20px 0 30px;
    @media (max-width: @screen-xs-max) {
        padding-top: 20px;
        .fun-item {
            .fa-stack {
                margin-top: 30px;
            }
        }
    }
    .fun-item {
        .fa-stack {
            cursor: pointer;
            font-size: 50px;
            color: #fff;
            transition: color .2s ease-in;
            .fun-icon {
                color: @mt-base-color;
                transition: color .2s ease-in;
            }
        }
        .fun-desc {
            font-size: 14px;
            color: #6A6A6A;
            transition: color .2s ease-in;
        }
        .fun-title {
            transition: color .2s ease-in;
        }
        &:hover {
            .fa-stack {
                color: @mt-base-color;
                .fun-icon {
                    color: #fff;
                }
            }
            .fun-title {
                color: @mt-base-color;
            }
            .fun-desc {
                color: #2a2a2a;
            }
        }
    }
}

.home_vip_info {
    background-color: #f7f7f7;
    background-image: url("https://image.tmdb.org/t/p/w1280/wwPWKRteE3vxTMta2IxdRgEhYsq.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    .vip-half-background {
        width: 100%;
        min-height: 300px;
        background-color: #2a2a2a;
        background-color: rgba(0, 0, 0, 0.6);
        @media (min-width: @screen-sm-min) {
            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 35%;
                right: 0;
                border-right: 5000px solid #2a2a2a;
                border-right: 5000px solid rgba(128, 128, 128, 0.4);
                border-top: 10000px solid transparent;
            }
        }
    }
    .vip-content {
        @media (min-width: @screen-sm-min) {
            display: table;
            width: 100%;
        }
        .vip-left {
            position: relative;
            overflow: hidden;
            @media (min-width: @screen-sm-min) {
                display: table-cell;
                float: none;
                vertical-align: bottom;
            }
            @media (max-width: @screen-xs-max) {
                display: none;
            }
            .vip-img {
                max-width: 250px;
                position: absolute;
                bottom: -40px;
                left: 60px;
                /* csslint ignore:start */
                transform: rotateZ(15deg);
                /* csslint ignore:end */
            }
        }
        .vip-right {
            padding: 20px 20px;
            .vip-title {
                color: @brand-success;
                text-shadow: 0 0 0.1em #3a3a3a,-0 -0 0.1em #3a3a3a;
                margin-bottom: 20px;
                small {
                    color: @brand-success;
                }
            }
            .vip-tooltip {
                color: #ddd;
                text-shadow: 0 0 0.1em #3a3a3a,-0 -0 0.1em #3a3a3a;
                ul {
                    @media (max-width: @screen-xs-max) {
                        margin-bottom: 20px !important;
                    }
                    padding-left: 0;
                    li {
                        padding-left: 0;
                        list-style: none;
                        &:before {
                            content: '+';
                            display: inline-block;
                            color: @brand-success;
                            margin-right: 8px;
                        }
                    }
                }
            }
            .vip-more {
                text-shadow: 0 0 0.1em #3a3a3a,-0 -0 0.1em #3a3a3a;
                &:hover {
                    a {
                        color: @brand-success;
                    }
                }
            }
            @media (min-width: @screen-sm-min) {
                display: table-cell;
                float: none;
                vertical-align: bottom;
            }
        }
    }
}

.body-backdrop {
    background-image: url("");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.filter-search {
    position: relative;
    background-color: #2a2a2a;
    background-color: rgba(42, 42, 42, .85);
    transition: background-color .2s ease-in;
    &:hover {
        background-color: #2a2a2a;
        background-color: rgba(42, 42, 42, .95);
    }
}

.filter-notice {
    position: relative;
    margin-top: 2px;
    background-color: @mt-body-background-color;
    background-color: rgba(255, 255, 255, .85);
    transition: background-color .2s ease-in;
    &:hover {
        background-color: @mt-body-background-color;
        background-color: rgba(255, 255, 255, .95);
    }
}

.filter-vip {
    position: relative;
    margin-top: 2px;
    background-color: @mt-body-background-color;
    background-color: rgba(255, 255, 255, .85);
    transition: background-color .2s ease-in;
    &:hover {
        background-color: @mt-body-background-color;
        background-color: rgba(255, 255, 255, .95);
    }
}

.filter-albums {
    position: relative;
    margin-top: 2px;
    background-color: @mt-body-background-color;
    background-color: rgba(255, 255, 255, .85);
    transition: background-color .2s ease-in;
    &:hover {
        background-color: @mt-body-background-color;
        background-color: rgba(255, 255, 255, .95);
    }
}

.filter-button-list {
    position: relative;
    margin-top: 2px;
    background-color: @mt-body-background-color;
    background-color: rgba(255, 255, 255, .85);
    transition: background-color .2s ease-in;
    &:hover {
        background-color: @mt-body-background-color;
        background-color: rgba(255, 255, 255, .95);
    }
}

.filter-check-in {
    position: relative;
    margin-top: 2px;
    background-color: @mt-body-background-color;
    background-color: rgba(255, 255, 255, .85);
    transition: background-color .2s ease-in;
    &:hover {
        background-color: @mt-body-background-color;
        background-color: rgba(255, 255, 255, .95);
    }
}

.filter-copy {
    position: relative;
    line-height: 2;
    margin-top: 2px;
    padding: 30px 0;
    color: #aaa;
    text-shadow: 0 0 0.1em #000,-0 -0 0.1em #000;
    background-color: #2a2a2a;
    background-color: rgba(42, 42, 42, .85);
    transition: background-color .2s ease-in;
    &:hover {
        background-color: #2a2a2a;
        background-color: rgba(42, 42, 42, .95);
    }
}

.filter-footer {
    position: relative;
    margin-top: 2px;
    padding: 30px 0;
    color: #aaa;
    text-shadow: 0 0 0.1em #000,-0 -0 0.1em #000;
    background-color: #2a2a2a;
    background-color: rgba(42, 42, 42, .85);
    transition: background-color .2s ease-in;
    &:hover {
        background-color: #2a2a2a;
        background-color: rgba(42, 42, 42, .95);
    }
}

.filter-disclaimer {
    position: relative;
    margin-top: 2px;
    padding: 0 0 30px 0;
    background-color: @progress-bar-danger-bg;
    background-color: rgba(217, 83, 79, .85);
    transition: background-color .2s ease-in;
    &:hover {
        background-color: @progress-bar-danger-bg;
        background-color: rgba(217, 83, 79, .95);
    }
}

.home-torrents {
    margin-top: 2px;
    background-color: #fff;
}

.home_global_search {
    @media (min-width: @screen-sm-min) {
        .search-row {
            display: table;
            width: 100%;
        }

        .search-col {
            display: table-cell;
            float: none;
            vertical-align: middle;
        }
    }
    .top-panel {
        padding: 20px 0;
        text-shadow: 0 0 0.1em #000,-0 -0 0.1em #000;
        .home-search {
            .search-title {
                color: #fff;
                font-size: 24px;
                font-weight: 400;
                margin-bottom: 0 !important;
            }
            .search-sub-title {
                margin-top: 10px;
                color: #aaa;
                text-shadow: 0 0 0.1em #000, 0 0 0.1em #000;
            }
            .search-group {
                max-width: 50em;
                margin-right: auto;
                margin-left: auto;
                display: block;
                input {
                    color: #eee;
                    background-color: #ccc;
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 17px;
                    position: inherit;
                    z-index: 2;
                    float: none;
                    width: 100%;
                    margin-bottom: 0;
                    padding-right: 105px;
                }
                .btn-search {
                    border-top-right-radius: 17px;
                    border-bottom-right-radius: 17px;
                    position: absolute;
                    right: 1px;
                    top: 1px;
                    bottom: 1px;
                    opacity: 0.6;
                    z-index: 3;
                    &:hover,
                    &:focus {
                        outline: none;
                        opacity: 1;
                    }
                }
            }
            .search-type {
                color: #aaa;
                text-shadow: 0 0 0.1em #000, 0 0 0.1em #000;
                input {
                    opacity: 0.6;
                    &:hover,
                    &:checked,
                    &:focus {
                        opacity: 1;
                    }
                }
                .radio-inline + .radio-inline,
                .checkbox-inline + .checkbox-inline {
                    margin-top: 0;
                    margin-left: 50px; // space out consecutive inline controls
                }

            }
        }
    }
}

.view-footer {
    color: #aaa;
    font-size: 12px;
    .icon-list {
        color: #fff;
    }
    @media (max-width: @screen-sm-max) {
        margin-top: 25px;
        padding-top: 25px;
    }
}

.disclaimer {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

.view-footer .icon {
    font-size: 20px;
    margin-right: 15px;
}

.site-info {
    line-height: 1.6em;
    .info-item {
        color: #aaa;
        font-size: 12px;
        position: relative;
        border-bottom: dotted 1px #000;
        .item-data {
            position: absolute;
            left: 130px;
        }
    }
}

.copy-info {
    margin-top: 30px;
    padding-top: 30px;
    border-top: solid 1px #1a1a1a;
}

//popup overlay----------------------------------------------
/* csslint ignore:start */
.must_read_popup {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
}

#must_read_popup_background {
    transition: all 0.3s 0.05s;
}

#must_read_popup,
#must_read_popup_wrapper {
    transition: all 0.3s ease-out;
}

#must_read_popup {
    transform: translateX(0) translateY(-40%);
}

.popup_visible #must_read_popup {
    transform: translateX(0) translateY(0);
}

#must_read_popup,
#must_read_popup_wrapper {
    .popup_content {
        background-color: #fff;
        opacity: 0.8 !important;
        width: 80%;
        top: 10%;
        border-radius: 4px;
        h4,
        .h4 {
            line-height: 1.6 !important;
        }
        .msg-content {
            font-size: 16px;
            max-height: 300px;
            overflow-y: auto;
        }
        .checkbox {
            font-size: 16px;
            font-weight: bold;
            color: @brand-danger;
        }
    }
    .downloading-filename {
        word-break: break-all;
    }
}

/* csslint ignore:end */
//popup overlay end -------------------------------------------
