@import (reference) "../../../../public/lib/bootstrap/less/variables.less";
@import (reference) "../../../../public/lib/bootstrap/less/mixins/buttons.less";
@import (reference) "../../../../public/lib/bootstrap/less/mixins/vendor-prefixes.less";
@import (reference) "../../../../public/lib/bootstrap/less/mixins/text-emphasis.less";

@mt-base-color: #ff6600;
@mt-content-background-color: #fff;
@mt-body-background-color: #2a2a2a;
@mt-chat-background-color: #f1f1f1;

@comment-background-default: lighten(@gray-base, 95%);
@chat-message-background-default: lighten(@gray-base, 90%);
@chat-message-me-background: #b1e866;
@chat-message-me-border: #a1d45b;
@chat-message-status-color: @gray-light;

@btn-mt-color: #fff;
@btn-mt-bg: @mt-base-color;
@btn-mt-border: darken(@mt-base-color, 5%);

@chat-user-item-admin-color: @state-danger-text;
@chat-user-item-oper-color: @state-info-text;
@chat-user-item-vip-color: @mt-base-color;

@screen-xxs-max: (@screen-xs - 1);
