@import (reference) "mt-var.less";

.brand-title {
    font-size: 25px;
    font-weight: bold;
    line-height: 18px;
    color: #FF6600;
    &:hover {
        color: #fff;
    }
}

.bodysize {
    background-color: #fff;
    min-height: 600px;
}

.backdrop {
    background-image: url("http://image.tmdb.org/t/p/w1280/5pAGnkFYSsFJ99ZxDIYnhQbQFXs.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 20px;
    //filter: blur(1px);
    .filter {
        background-color: #2a2730;
        background-color: rgba(0, 0, 0, .7);
        //opacity: 0.5;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .loading {
        color: #ccc;
        margin: 150px 0;
    }
    .topone {
        color: #ccc;
        img {
            opacity: 0;
            transition-property: transform, opacity;
            transition-duration: 1s;
            transition-timing-function: ease;

            cursor: pointer;
            max-height: 400px;
            //transition: transform .5s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
        }
        legend {
            color: #ccc;
        }
        .img-circle {
            &:hover {
                transform: scale(1.2);
            }
        }

        .down-torrent {
            margin-top: 20px;
            margin-left: 40px;
            margin-right: 40px;
        }
    }
}

.down-torrent {
    margin-top: 30px;
}

.cast-list {
    .img-thumbnail {
        padding: 1px !important;
    }
}

.torrent-post-info {
    cursor: pointer;
    &:hover {
        background-color: #efefef;
        background-color: rgba(224, 224, 224, .3);
    }
    > img {
        opacity: 0.8;
        &:hover {
            opacity: 1;
            + .torrent-user-info {
                opacity: 1;
                color: #fff;
            }
        }
    }
    .caption {
        padding: 5px 3px;
        ul {
            margin-bottom: 0;
        }
    }
    .release-date {
        color: #000;
    }
}

.torrent-votes {
    color: #FF6600;
    > kbd {
        background-color: #FF6600;
    }
}

.vip-flag {
    color: #FF6600;
    > kbd {
        font-size: 12px;
        background-color: #FF6600;
    }
}

.torrent-user-info {
    display: table-cell;
    position: absolute;
    top: 4px;
    left: 20px;
    right: 20px;
    padding: 8px 0;

    background-color: #2a2730;
    background-color: rgba(0, 0, 0, .8);
    color: #ddd;
    opacity: 0.8;
    &:hover {
        opacity: 1;
        color: #fff;
    }
    > ul {
        margin-left: 0;
        margin-bottom: 0;
    }
    .torrent-up {
        color: #33CC00;
    }
    .torrent-down {
        color: #FF3300;
    }
    .torrent-finished {
        color: #33FFFF;
    }

    &.small-info {
        @media (min-width: @screen-md-min) {
            padding: 5px 0;
            font-size: 12px;
            .list-inline > li {
                padding-left: 1px;
                padding-right: 1px;
            }
        }
    }
}

.list-user-info {
    .torrent-up {
        color: #33CC00;
    }
    .torrent-down {
        color: #FF3300;
    }
    .torrent-finished {
        color: #0366d6;
    }
}

.btn-tag {
    width: 100px;
    &,
    &:active,
    &:focus {
        outline: 0;
    }
}

.panel-body {
    dl {
        margin-bottom: 0;
    }
}

.text-long {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-margin-p {
    margin-bottom: 0 !important;
}

.tb-v-middle {
    > tbody {
        > tr {
            .label-download {
                display: none;
            }
            cursor: pointer;
            &:hover {
                .media-object {
                    opacity: 1;
                }
                .label-download {
                    padding: 2px 4px;
                    display: inline;
                }
            }
            > .td-v-middle {
                vertical-align: middle;
            }
            > .td-text-overflow {
                .text-long {
                    @media (min-width: @screen-lg-min) {
                        max-width: 580px;
                    }
                    @media (max-width: @screen-lg-min) {
                        max-width: 460px;
                    }
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

.table-valign-middle {
    > tbody {
        > tr {
            > td {
                vertical-align: middle;
            }
        }
    }
}

.tb-peers {
    background-color: #fff;
    thead {
        tr {
            th {
                font-weight: normal;
            }
        }
    }
}

.peer-dlist {
    dl {
        dt {
            text-align: left;
        }
        margin-bottom: 0;
    }
}

.tb-other-torrents {
    background-color: #fff;
    margin-bottom: 0;
    thead {
        tr {
            th {
                font-weight: normal;
            }
        }
    }
}

.torrent-list-info {
    .media-object {
        max-height: 100px;
        opacity: 0.8;
    }
    .media-body {
        position: relative;
        .list-all-tags {
            position: absolute;
            bottom: 1px;
        }
    }
}

.list-all-genres {
    .genres-item:not(:first-child) {
        &::before {
            content: " | ";
            font-weight: bold;
        }
    }
}

.list-all-countries {
    .country-item:not(:first-child) {
        &::before {
            content: " | ";
            font-weight: bold;
        }
    }
}

.list-all-companies {
    .company-item {
        margin: 0 0 0;
    }
}

.label {
    padding: .3em .6em .3em;
    font-weight: normal;
    display: inline-block;
}

.label-tag {
    color: #0366d6;
    background-color: #f1f8ff;
    &:hover {
        cursor: pointer;
        color: #f00;
    }
    &:active {
        color: #0366d6;
    }
    &.used {
        background-color: #c9e4ff !important;
    }
}

.label-sale {
    &:hover {
        cursor: pointer;
        color: #f00;
    }
}

.label-release {
    &:hover {
        cursor: pointer;
        color: #f00;
    }
}

.inline-block {
    display: inline-block;
}

.label-download {
    color: #fff;
    font-size: 12px;
    background-color: #FF6600;
    &:hover {
        cursor: pointer;
        background-color: darken(#FF6600, 10%);
    }
}

.incline-block-valign {
    display: inline-block;
    vertical-align: middle;
}

.cast-xs-info {
    font-size: 10px;
    &.character {
        color: #888;
    }
}

.nav {
    padding-left: 15px;
}

.torrent-info-tabs {
    .nav-tabs {
        > li {
            > a {
                margin-right: 5px;
                padding: 10px 30px;
                border-top: 3px solid transparent;
            }
            &.active {
                > a {
                    &,
                    &:hover,
                    &:focus {
                        border-top: 3px solid @brand-danger;
                        background-color: @comment-background-default;
                    }
                }
            }
        }
    }
}

.tab-ranking {
    .nav-tabs {
        > li {
            > a {
                margin-right: 5px;
                padding: 10px 30px;
                border-top: 3px solid transparent;
            }
            &.active {
                > a {
                    &,
                    &:hover,
                    &:focus {
                        border-top: 3px solid @brand-danger;
                    }
                }
            }
        }
    }
}

.tab-border-view {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: @comment-background-default;
    padding: 30px 30px;
}

.video-nfo {
    resize: vertical;
    font-size: 12px !important;
    background-color: #fff !important;
}

.subtitle-list {
    padding-left: 0;
    .glyphicon {
        top: 3px;
    }
    .h-line {
        line-height: 2;
    }
    .delete-button {
        font-size: 12px;
        margin-left: 3px;
        margin-top: 2px;
        cursor: pointer;
        color: @brand-primary;
        &:hover {
            color: @brand-danger;
        }
    }
}

.torrent-list {
    .pagination-div-bottom {
        border-top: 2px solid lighten(@gray-base, 85%)
    }
    .pagination-div-top {
        border-bottom: 2px solid lighten(@gray-base, 85%)
    }
}

.sales-btn-group {
    > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-radius: 0;
        margin-left: -1px;
    }
    > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
        border-radius: 0;
    }
}

.imgCropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 500px;
    height: 350px;
}

.page-header {
    padding-bottom: 0;
}

.ranking-user-img {
    cursor: pointer;
    border-radius: 3px;
    height: 32px;
    width: 32px;
}

.ranking-active-col {
    color: @mt-base-color;
}

.admin-user-info {
    hr {
        margin-bottom: 15px;
        margin-top: 5px;
    }
}

.lang-list {
    margin-left: 10px;
    line-height: 2;
    .flag-icon {
        font-size: 18px;
        margin-left: 10px;
        &,
        &:hover,
        &:focus {
            cursor: pointer;
        }
    }
}

.lang-footer {
    margin-left: 0;
    .flag-icon {
        font-size: 15px;
        margin-left: 0;
        margin-right: 10px;
    }
}

.btn-donate {
    @media (min-width: @screen-sm) {
        position: absolute;
        width: 70%;
        top: 50px;
    }
    @media (max-width: @screen-sm) {
        position: relative;
        width: 95%;
        margin: 30px 5px;
    }
}

.btn-donate-hide {
    @media (min-width: @screen-xs-max) {
        display: none;
    }
}

.btn-donate-show {
    @media (max-width: @screen-xs-max) {
        display: none;
    }
}

.btn-mt {
    .button-variant(@btn-mt-color; @btn-mt-bg; @btn-mt-border);
}

.admin-tools-btn-list {
    width: 100%;
}

.divider-item {
    border-top: solid 1px lighten(@gray-light, 35%);
    margin-top: 5px;
    padding-top: 5px;
}

.upload-by {
    color: #888;
    font-size: 12px;
}