@import (reference) "../../../../public/lib/bootstrap/less/variables.less";

.bodysize {
    background-color: #fff;
    min-height: 600px;
}

.backdrop {
    background-image: url("http://image.tmdb.org/t/p/w1280/5pAGnkFYSsFJ99ZxDIYnhQbQFXs.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 20px;
    //filter: blur(1px);
    .filter {
        background-color: #2a2730;
        background-color: rgba(0, 0, 0, .6);
        //opacity: 0.5;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .loading {
        color: #ccc;
        margin: 150px 0;
    }
    .topone {
        color: #ccc;
        img {
            opacity: 0;
            transition-property: transform, opacity;
            transition-duration: 1s;
            transition-timing-function: ease;

            cursor: pointer;
            max-height: 400px;
            //transition: transform .5s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
        }
        legend {
            color: #ccc;
        }
        .img-circle {
            &:hover {
                transform: scale(1.2);
            }
        }

        .down-torrent {
            margin-top: 10px;
            margin-left: 40px;
            margin-right: 40px;
        }
    }
}

.cast-list {
    .img-thumbnail {
        padding: 1px !important;
    }
}

.torrent-post-info {
    cursor: pointer;
    &:hover {
        background-color: #efefef;
        background-color: rgba(224, 224, 224, .3);
    }
    > img {
        opacity: 0.8;
        &:hover {
            opacity: 1;
            + .torrent-user-info {
                opacity: 1;
                color: #fff;
            }
        }
    }
    .caption {
        padding: 5px 3px;
        ul {
            margin-bottom: 0;
        }
    }
    .release-date {
        color: #000;
    }
}

.torrent-votes {
    color: #FF6600;
    > kbd {
        background-color: #FF6600;
    }
}

.torrent-user-info {
    display: table-cell;
    position: absolute;
    top: 4px;
    left: 20px;
    right: 20px;
    padding: 8px 0;

    background-color: #2a2730;
    background-color: rgba(0, 0, 0, .8);
    color: #ddd;
    opacity: 0.8;
    &:hover {
        opacity: 1;
        color: #fff;
    }
    > ul {
        margin-left: 0;
        margin-bottom: 0;
    }
    .torrent-up {
        color: #33CC00;
    }
    .torrent-down {
        color: #FF3300;
    }
    .torrent-finished {
        color: #33FFFF;
    }

    &.small-info {
        @media (min-width: @screen-md-min) {
            padding: 5px 0;
            font-size: 12px;
            .list-inline > li {
                padding-left: 1px;
                padding-right: 1px;
            }
        }
    }
}

.btn-tag {
    width: 100px;
    &,
    &:active,
    &:focus {
        outline: none;
    }
}

.panel-body {
    dl {
        margin-bottom: 0;
    }
}

.text-long {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-margin-p {
    margin-bottom: 0 !important;
}

.tb-v-middle {
    > tbody {
        > tr {
            cursor: pointer;
            &:hover {
                .media-object {
                    opacity: 1;
                }
            }
            > .td-v-middle {
                vertical-align: middle;
            }
            > .td-text-overflow {
                .text-long {
                    @media (min-width: @screen-lg-min) {
                        max-width: 620px;
                    }
                    @media (max-width: @screen-lg-min) {
                        max-width: 500px;
                    }
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

.torrent-list-info {
    .media-object {
        max-height: 100px;
        opacity: 0.8;
    }
    .media-body {
        position: relative;
        .list-all-tags {
            position: absolute;
            bottom: 1px;
            .label {
                padding: .3em .6em .3em;
                font-weight: normal;
                display: inline-block;
            }
        }
        .list-all-genres {
            .genres-item:not(:first-child) {
                &::before {
                    content: " | ";
                    font-weight: bold;
                }
            }
        }
    }
}
