@import (reference) "../../../core/client/less/mt-var.less";

.requests-group {
    .btn {
        text-shadow: none !important;
    }
    @media (max-width: @screen-xs-max) {
        .btn {
            min-width: auto !important;
        }
    }

}

.requests-desc {
    text-shadow: 0 0 0.1em #000, 0 0 0.1em #000;
    margin-bottom: 30px;
    padding: 0 20px 20px;
    border: solid 1px #222;
    border-radius: 5px;
    background-color: #333;
    background-color: rgba(16,16,16, 0.3);
    li {
        color: #aaaaaa;
        font-size: 15px;
        code {
            text-shadow: none;
        }
    }
}

.request-form {
    margin: 30px 0;
    textarea {
        resize: vertical;
        min-height: 120px;
        max-height: 240px;
    }
}

.request-list {
    h4, .h4 {
        margin: 5px 0;
        font-size: 16px;
    }
    .item-desc {
        color: #999;
    }
}