<section ng-controller="MessageController as vm" ng-init="vm.checkSendTo();">
    <div class="row margin-top-50">
        <div class="col-md-10 col-md-offset-1">

            <div class="margin-bottom-20">
                <h4>{{'MESSAGES_SEND' | translate}}</h4>
                <li class="status-divider"></li>
            </div>

            <div class="margin-bottom-20">
                <form name="vm.messageForm" ng-submit="vm.sendMessage(vm.messageForm.$valid)" novalidate autocomplete="off">
                    <dl class="dl-horizontal">
                        <div class="margin-bottom-10 form-group" show-errors>
                            <dt class="h-line">{{ 'MESSAGES_FIELD.TO' | translate}}</dt>
                            <dd class="h-line">
                                <input type="text" class="form-control" id="sendTo" name="sendTo"
                                       ng-model="vm.messageFields.sendTo" required ng-readonly="vm.sendToReadonly">

                                <div ng-messages="vm.messageForm.sendTo.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required">{{ 'MESSAGES_FIELD.TO_REQUIRED' | translate}}</p>
                                </div>
                            </dd>
                        </div>

                        <div class="margin-bottom-10 form-group" show-errors>
                            <dt class="h-line">{{ 'MESSAGES_FIELD.TITLE' | translate}}</dt>
                            <dd class="h-line">
                                <input type="text" class="form-control" id="title" name="title" maxlength="{{vm.inputLengthConfig.messageTitleLength}}"
                                       ng-model="vm.messageFields.title" autofocus required>

                                <div ng-messages="vm.messageForm.title.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required">{{ 'MESSAGES_FIELD.TT_REQUIRED' | translate}}</p>
                                </div>
                            </dd>
                        </div>

                        <div class="margin-bottom-10 form-group" show-errors>
                            <dt class="h-line">{{ 'MESSAGES_FIELD.CONTENT' | translate}}</dt>
                            <dd class="h-line">
                                <textarea id="messageContent" name="messageContent" class="form-control message-textarea" ng-model="vm.messageFields.content"
                                          mt-markdown-editor="messageContent" maxlength="{{vm.inputLengthConfig.messageBoxContentLength}}" required></textarea>

                                <div ng-messages="vm.messageForm.messageContent.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required">{{ 'MESSAGES_FIELD.CT_REQUIRED' | translate}}</p>
                                </div>

                                <div style="display: table;">
                                    <a class="message-extra" href="https://guides.github.com/features/mastering-markdown/" target="_blank"
                                       data-ga-click="Markdown Toolbar, click, help">
                                        <svg aria-hidden="true" height="16" version="1.1"
                                             viewBox="0 0 16 16" width="16">
                                            <path fill-rule="evenodd"
                                                  d="M14.85 3H1.15C.52 3 0 3.52 0 4.15v7.69C0 12.48.52 13 1.15 13h13.69c.64 0 1.15-.52 1.15-1.15v-7.7C16 3.52 15.48 3 14.85 3zM9 11H7V8L5.5 9.92 4 8v3H2V5h2l1.5 2L7 5h2v6zm2.99.5L9.5 8H11V5h2v3h1.5l-2.51 3.5z"/>
                                        </svg>
                                        {{ 'MARKDOWN_LINK' | translate }}
                                    </a>
                                </div>
                            </dd>
                        </div>

                        <div>
                            <dt class="h-line"></dt>
                            <dd class="h-line">
                                <button type="submit" class="btn btn-success btn-min-width-100">{{ 'MESSAGES_SEND_BUTTON' | translate }}</button>
                            </dd>
                        </div>
                    </dl>
                </form>
            </div>

        </div>
    </div>
</section>
