@import (reference) "../../../core/client/less/mt-var.less";

.search-from-tmdb-side-overlay {
    top: 50px !important;
    width: 450px;
    .search-popup {
        background-color: #fdfdfd;
        width: 100%;
        height: ~"calc(100% - 50px)";
        overflow: auto;
        padding: 30px 15px;
        .search-form {
            margin-top: 20px;
            input {
                width: 100%;
            }
            input[type=radio] {
                cursor: pointer;
            }
            .text-muted {
                color: #aaa;
            }
        }
    }
    .bottom-control {
        background-color: #fdfdfd;
        border-top: solid 1px #e6e6e6;
        width: 100%;
        height: 50px;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 8px 10px;
    }
}

.input-length {
    line-height: 2.5;
    font-size: 12px;
    color: #999;
}

.modal-options {
    background-color: #f8f8f8;
    border-radius: 5px;
    border: solid 1px #efefef;
    padding: 10px;
}

.torrent-img-list {
    overflow-x: auto;
    height: auto;
    display: inline-flex;
    width: 100% !important;
    text-align: center;
    .img-item {
        max-height: 160px;
        cursor: pointer;
        opacity: 0.8;
        width: auto !important;
        &:hover {
            opacity: 1;
        }
        &:not(:first-child){
            margin-left: 8px !important;
        }
    }
}

.img-container {
    display: none;
    margin-top: 30px;
    @media (min-width: @screen-md) {
        margin-left: 50px;
    }
    legend {
        border-color: #8b8b8b;
    }
}

/* csslint ignore:start */
.film-strip {
    border-top: solid 26px;
    border-bottom: solid 26px;
    border-left: none;
    border-right: none;
    border-image: url("/modules/torrents/client/img/film-strip-back.png") 42 30;
    border-image-repeat: repeat;
    background-color: #2a2a2a;
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 1px;
    &:hover {
        &::-webkit-scrollbar-thumb {
            background-color: #aaa;
        }
    }
    &::-webkit-scrollbar {
        height: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: #000;
        background-color: rgba(0, 0, 0, 0.5);
    }
    &::-webkit-scrollbar-thumb {
        background-color: #555;
    }
}
/* csslint ignore:end */
