@import (reference) "../../../core/client/less/mt-var.less";

.donate-button {
    margin-top: 15px;
    @media (max-width: @screen-xs-max) {
        margin-top: 5px;
        text-align: left !important;
    }
}

