<section ng-controller="SeedingController as vm" ng-init="vm.getSeedingTorrent();">
    <div class="row margin-top-20">
        <div class="col-md-12 torrent-list" id="top_of_torrent_list" ng-show="vm.pagedItems">
            <span class="sm-show">
                <h4 class="margin-bottom-30">
                    {{'STATUS_SEEDING' | translate}}:
                </h4>
            </span>

            <div class="pagination-div-top">
                <div class="row">
                    <div class="col-sm-12 col-md-9">
                        <ul uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength"
                            ng-model="vm.currentPage"
                            ng-change="vm.pageChanged()"
                            first-text="{{ 'PAGE_TEXT_FIRST' | translate}}" previous-text="{{ 'PAGE_TEXT_PREVIOUS' | translate}}"
                            next-text="{{ 'PAGE_TEXT_NEXT' | translate}}" last-text="{{ 'PAGE_TEXT_LAST' | translate}}">
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <input class="form-control margin-top-20 margin-bottom-20" type="text" ng-model="vm.search" placeholder="Search"
                               ng-change="vm.figureOutItemsToDisplay()"/>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-hover tb-v-middle">
                    <thead>
                        <tr>
                            <th class="td-width-0"></th>
                            <th>{{ 'TABLE_FIELDS.INFO' | translate}}</th>
                            <th>{{ 'TABLE_FIELDS.VOTES' | translate}}</th>
                            <th class="text-center">{{ 'TABLE_FIELDS.LIFETIME' | translate}}</th>
                            <th class="text-center">{{ 'TABLE_FIELDS.SIZE' | translate}}</th>
                            <th>
                                <abbr title="{{ 'TABLE_FIELDS.ABBR_SEEDS_LEECHERS_FINISHED' | translate}}" class="initialism">
                                    {{ 'TABLE_FIELDS.SEEDS_LEECHERS_FINISHED' | translate}}
                                </abbr>
                            </th>
                            <th class="text-center">
                                <abbr title="{{ 'TABLE_FIELDS.ABBR_UPLOADED_SPEED' | translate}}" class="initialism">
                                    {{ 'TABLE_FIELDS.UPLOADED_SPEED' | translate}}
                                </abbr>
                            </th>
                        </tr>
                    </thead>
                    <tbody torrent-list-item parent="vm" item="item.torrent" peer="item" list="vm.pagedItems" ng-repeat="item in vm.pagedItems"></tbody>
                </table>
            </div>

            <div class="pagination-div-bottom">
                <ul uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength"
                    ng-model="vm.currentPage"
                    ng-change="vm.pageChanged()"
                    first-text="{{ 'PAGE_TEXT_FIRST' | translate}}" previous-text="{{ 'PAGE_TEXT_PREVIOUS' | translate}}"
                    next-text="{{ 'PAGE_TEXT_NEXT' | translate}}" last-text="{{ 'PAGE_TEXT_LAST' | translate}}">
                </ul>
            </div>
        </div>
    </div>
</section>
