<section ng-controller="StatusController as vm" ng-init="vm.initIsActive = false;">
    <div class="status-tab">
        <div class="container">
            <div class="tab-status margin-top-40">
                <ul class="nav nav-tabs mt-responsive-tabs-sm">
                    <li ui-sref="status.account" ui-sref-active="active" title="{{'STATUS_ACCOUNT' | translate}}">
                        <a><i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i><span class="tab-title">{{'STATUS_ACCOUNT' | translate}}</span></a>
                    </li>
                    <li ui-sref="status.uploaded" ui-sref-active="active" title="{{'STATUS_UPLOADED' | translate}}">
                        <a><i class="fa fa-arrow-circle-o-up fa-2x" aria-hidden="true"></i><span
                                class="tab-title">{{'STATUS_UPLOADED' | translate}}</span></a>
                    </li>
                    <li ui-sref="status.seeding" ui-sref-active="active" title="{{'STATUS_SEEDING' | translate}}">
                        <a><i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i><span class="tab-title">{{'STATUS_SEEDING' | translate}}</span></a>
                    </li>
                    <li ui-sref="status.downloading" ui-sref-active="active" title="{{'STATUS_DOWNLOADING' | translate}}">
                        <a><i class="fa fa-arrow-down fa-2x" aria-hidden="true"></i><span
                                class="tab-title">{{'STATUS_DOWNLOADING' | translate}}</span></a>
                    </li>
                    <li ui-sref="status.warning" ui-sref-active="active" title="{{'STATUS_WARNING' | translate}}">
                        <a><i class="fa fa-warning fa-2x" aria-hidden="true"></i><span class="tab-title">{{'STATUS_WARNING' | translate}}</span></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container">
        <div ui-view></div>
    </div>
</section>
