<section ng-controller="WarningController as vm" ng-init="vm.getWarningTorrent();">
    <div class="row margin-top-20">
        <div class="col-md-12 torrent-list" id="top_of_torrent_list" ng-show="vm.warningList">
            <span class="sm-show">
                <h4 class="margin-bottom-30">
                    {{'STATUS_WARNING' | translate}}:
                </h4>
            </span>

            <div class="margin-top-10" ng-init="vm.getTemplateFileContent('/modules/users/client/templates/status-hnr-warning-'+vm.lang+'.md')">
                <div class="alert alert-warning" role="alert" style="padding: 10px 50px;">
                    <span ng-bind-html="vm.getTemplateMarkedContent()"></span>
                </div>
            </div>

            <div class="text-center margin-top-30 padding-top-30 text-muted" ng-if="vm.warningList.length==0">
                <h3>{{'HNR_HAVE_NO_WARNING' | translate}}</h3>
            </div>

            <div class="table-responsive margin-top-50" ng-if="vm.warningList.length>0">
                <table class="table table-hover tb-v-middle top-border">
                    <thead>
                        <tr>
                            <th class="td-width-0"></th>
                            <th>{{ 'TABLE_FIELDS.INFO' | translate}}</th>
                            <th>{{ 'TABLE_FIELDS.VOTES' | translate}}</th>
                            <th class="text-center">{{ 'TABLE_FIELDS.LIFETIME' | translate}}</th>
                            <th class="text-center">{{ 'TABLE_FIELDS.SIZE' | translate}}</th>
                            <th>
                                <abbr title="{{ 'TABLE_FIELDS.ABBR_SEEDS_LEECHERS_FINISHED' | translate}}" class="initialism">
                                    {{ 'TABLE_FIELDS.SEEDS_LEECHERS_FINISHED' | translate}}
                                </abbr>
                            </th>
                            <th class="text-center">
                                <abbr title="{{ 'TABLE_FIELDS.ABBR_UP_DOWN_RATIO_TIME' | translate}}" class="initialism">
                                    {{ 'TABLE_FIELDS.UP_DOWN_RATIO_TIME' | translate}}
                                </abbr>
                            </th>
                        </tr>
                    </thead>
                    <tbody torrent-list-item parent="vm" item="item.torrent" warning="item" list="vm.warningList" ng-repeat="item in vm.warningList"></tbody>
                </table>
            </div>
        </div>
    </div>
</section>
