<section class="container" ng-controller="TracesController as vm" ng-init="vm.buildPager();">
    <div class="row margin-top-20">
        <div class="col-sm-12 traces-list">

            <div class="row margin-bottom-20">
                <div class="col-sm-8 col-md-9">
                    <h4>{{'ADMIN_TRACES_LIST' | translate}}</h4>
                </div>
                <div class="col-sm-4 col-md-3">
                    <input class="form-control" type="text" ng-model="vm.search" placeholder="Search"
                           ng-change="vm.buildPager()"/>
                </div>
            </div>

            <div class="pagination-div-top" id="top_of_traces_list">
                <div class="row">
                    <div class="col-sm-12">
                        <ul uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength"
                            ng-model="vm.currentPage"
                            ng-change="vm.pageChanged()"
                            first-text="{{ 'PAGE_TEXT_FIRST' | translate}}" previous-text="{{ 'PAGE_TEXT_PREVIOUS' | translate}}"
                            next-text="{{ 'PAGE_TEXT_NEXT' | translate}}" last-text="{{ 'PAGE_TEXT_LAST' | translate}}">
                        </ul>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-hover tb-v-middle">
                    <thead>
                        <tr>
                            <th class="text-center">{{ 'TRACES_FIELDS.USERNAME' | translate}}</th>
                            <th class="text-center">{{ 'TRACES_FIELDS.CONTENT' | translate}}</th>
                            <th class="text-center">{{ 'TRACES_FIELDS.TYPE' | translate}}</th>
                            <th class="text-center">{{ 'TRACES_FIELDS.CREATEDAT' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="vm.resultMsg">
                            <td colspan="4">
                                <div class="text-center margin-top-50 margin-bottom-30 padding-top-20 padding-bottom-50">
                                    <h3>{{vm.resultMsg | translate}}</h3>
                                </div>
                            </td>
                        </tr>
                        <tr class="message-item" ng-if="!vm.resultMsg" ng-repeat="m in vm.pagedItems" ng-click="vm.showMessage(m);">
                            <td class="td-v-middle text-center">
                                <span user-info="m.user" info-name></span>
                                <!--<span vip-flag="m.user"></span>-->
                                <!--<span message-to="m.user" to-class="message-to-icon"></span>-->
                            </td>

                            <td class="td-v-middle width-400"><json-tree object="m.content"></json-tree></td>

                            <td class="td-v-middle text-center">{{m.content.action}}</td>

                            <td class="td-v-middle text-center">{{m.createdat | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="pagination-div-bottom">
                <ul uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength"
                    ng-model="vm.currentPage"
                    ng-change="vm.pageChanged()"
                    first-text="{{ 'PAGE_TEXT_FIRST' | translate}}" previous-text="{{ 'PAGE_TEXT_PREVIOUS' | translate}}"
                    next-text="{{ 'PAGE_TEXT_NEXT' | translate}}" last-text="{{ 'PAGE_TEXT_LAST' | translate}}">
                </ul>
            </div>
        </div>
    </div>
</section>
