<section class="container" ng-controller="InviteController as vm" ng-init="vm.getMyInvitations();">
    <div class="margin-top-30">
        <div class="row" ng-hide="vm.inviteConfig.open_invite">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <div class="alert alert-warning" role="alert">
                    <strong>{{ 'NOTE_CAPTION' | translate }}</strong> <span translate="INVITE_INFO"></span>
                </div>
            </div>
        </div>

        <div class="row" ng-hide="vm.my_invitations.length<=0">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading text-center mt-title">
                        {{ 'INVITATION.MY_INVITATION' | translate }} <span
                            class="color-mt-base">({{vm.my_invitations.length}})</span>
                    </div>
                    <div class="panel-body">
                        <p class="text-danger"><strong>{{ 'NOTE_TIP' | translate }}</strong>
                            <span translate="INVITATION.INVITE_NOTE" translate-values="{hours: vm.inviteConfig.expires/(60*60*1000)}"></span>
                        </p>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover table-valign-middle">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="text-center">{{'INVITATION.TITLE_TOKEN' | translate}}</th>
                                    <th class="text-center">{{'INVITATION.TITLE_CREATEDAT' | translate}}</th>
                                    <th class="text-center">{{'INVITATION.TITLE_EXPIRESAT' | translate}}</th>
                                    <th class="text-center">{{'INVITATION.TITLE_OPERATION' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="r in vm.my_invitations">
                                    <th scope="row">{{$index+1}}</th>
                                    <td class="text-center">{{r.token}}</td>
                                    <td class="text-center">{{r.createdat | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td class="text-center">{{r.expiresat | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td class="text-center">
                                        <a href="#">{{'INVITATION.TITLE_SEND' | translate}}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-top-10" ng-hide="vm.used_invitations.length<=0">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading text-center mt-title">
                        {{ 'INVITATION.USED_INVITATION' | translate }} <span
                            class="color-mt-base">({{vm.used_invitations.length}})</span>
                    </div>
                    <div class="panel-body">
                        <p class="text-danger"><strong>{{ 'NOTE_TIP' | translate }}</strong>
                            <span translate="INVITATION.SIGN_NOTE" translate-values="{hours: vm.inviteConfig.expires/(60*60*1000)}"></span>
                        </p>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover table-valign-middle">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="text-center">{{'INVITATION.TITLE_TOKEN' | translate}}</th>
                                    <th class="text-center">{{'INVITATION.TITLE_INVITEDAT' | translate}}</th>
                                    <th class="text-center">{{'INVITATION.TITLE_SIGNINAT' | translate}}</th>
                                    <th class="text-center">{{'INVITATION.TITLE_STATUS' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="r in vm.used_invitations">
                                    <th scope="row">{{$index+1}}</th>
                                    <td class="text-center">{{r.token}}</td>
                                    <td class="text-center">{{r.invitedat | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td class="text-center">{{r.registeredat | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td class="text-center" ng-class="r.status == 2 ? 'text-success' : 'text-danger'">
                                        {{ r.status == 2 ? ('INVITATION.TITLE_STATUS_REGED' | translate) : ('INVITATION.TITLE_STATUS_UNREGED' | translate) }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
