<section class="container padding-top-30">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="list-group">
                <a ui-sref="admin.systems.config" class="list-group-item" ui-sref-active="active">{{'SYSTEMS.TORRENTS_CONFIG' | translate}}</a>
                <a ui-sref="admin.systems.template" class="list-group-item" ui-sref-active="active">{{'SYSTEMS.TEMPLATE_EDIT' | translate}}</a>
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <div ui-view></div>
        </div>
    </div>
</section>
