<section class="container padding-top-30">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="list-group">
                <a ui-sref="admin.systems.config" class="list-group-item" ui-sref-active="active">{{'SYSTEMS.TORRENTS_CONFIG' | translate}}</a>
                <a ui-sref="admin.systems.strings" class="list-group-item" ui-sref-active="active">{{'SYSTEMS.STRINGS_EDIT' | translate}}</a>
                <a ui-sref="admin.systems.templates" class="list-group-item" ui-sref-active="active">{{'SYSTEMS.TEMPLATES_EDIT' | translate}}</a>
                <a ui-sref="admin.systems.commands" class="list-group-item" ui-sref-active="active">{{'SYSTEMS.COMMANDS_EXECUTE' | translate}}</a>
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <div ui-view></div>
        </div>
    </div>
</section>
