<div class="panel panel-default system-panel" ng-controller="SystemConfigController as vm" ng-init="vm.getTransConfigFiles()">
    <div class="panel-heading">{{'SYSTEMS.TRANS_EDIT' | translate}}
        <small> - {{vm.loadedFilename}}</small>
    </div>
    <div class="panel-desc" ng-bind-html="vm.getDescConfig()"></div>
    <div class="panel-filelist">
        <select class="form-control" ng-model="vm.selectedFilename" ng-change="vm.onSelectedFileChanged();" autofocus>
            <option value="null">{{'SYSTEMS.SELECT_FILE' | translate}}
            </option>
            <option ng-repeat="t in vm.transConfigFiles.files"
                    value="{{t}}">{{t}}
            </option>
        </select>
    </div>
    <div class="panel-body" ng-class="{'content-dirty': vm.contentChanged}">
        <textarea class="form-control config-content" id="configContent" name="configContent" ng-model="vm.systemConfigContentValue"
                  ui-codemirror="vm.cmOption"></textarea>
    </div>
    <div class="panel-footer">
        <div class="text-right">
            <button class="btn btn-success btn-width-100" ng-disabled="!vm.contentChanged"
                    ng-click="vm.saveConfigFileContent()">{{'BUTTON_SAVE' | translate}}
            </button>
        </div>
    </div>
</div>