<section class="data-center" ng-controller="DataCenterController as vm">
    <div class="panel panel-default" ng-init="vm.getUserScoreHistory()">
        <div class="panel-heading">
            <i class="fa fa-line-chart text-mt"></i>&emsp;
            <span translate="DATA_CENTER.LAST_DAYS_DATA_UPLOADED_HISTORY" translate-values="{days: vm.announceConfig.announceLogDays}"></span>
        </div>
        <div class="panel-body">
            <!--<p>...</p>-->
        </div>

        <div class="chart-logs">

        </div>
    </div>
</section>
