<section class="data-center">
    <div class="panel panel-default" ng-init="vm.getUserDaysLogs()">
        <div class="panel-heading">
            <i class="fa fa-chart-line text-mt" aria-hidden="true"></i>&emsp;
            <span translate="DATA_CENTER.LAST_DAYS_DATA_UPLOADED" translate-values="{days: vm.announceConfig.userDaysLogDays}"></span>
        </div>
        <div class="panel-body">
            <!--<p>...</p>-->
        </div>

        <div class="chart-logs">
            <canvas class="chart chart-line" chart-data="vm.userDaysLogsData.data.uploaded" chart-labels="vm.userDaysLogsData.labels"
                    chart-series="vm.userDaysLogsData.series.uploaded" chart-options="vm.userDaysLogsData.options"
                    chart-colors="vm.userDaysLogsData.colors.score" chart-click=""></canvas>
        </div>
    </div>

    <div class="panel panel-default" ng-init="vm.getUserMonthsLogs()">
        <div class="panel-heading">
            <i class="fa fa-chart-line text-mt"></i>&emsp;
            <span translate="DATA_CENTER.LAST_MONTHS_DATA_UPLOADED" translate-values="{months: vm.announceConfig.userMonthsLogMonths}"></span>
        </div>
        <div class="panel-body">
            <!--<p>...</p>-->
        </div>

        <div class="chart-logs">
            <canvas class="chart chart-line" chart-data="vm.userMonthsLogsData.data.uploaded" chart-labels="vm.userMonthsLogsData.labels"
                    chart-series="vm.userMonthsLogsData.series.uploaded" chart-options="vm.userDaysLogsData.options"
                    chart-colors="vm.userDaysLogsData.colors.score" chart-click=""></canvas>
        </div>
    </div>
</section>
