<section class="container">
    <div class="row">
        <div class="col-sm-5 text-center">
            <span class="glyphicon glyphicon-hand-right left-icon"></span>
        </div>
        <div class="col-sm-7">
            <div ui-view></div>

            <div ng-if="vm.signConfig.allow_social_sign">
                <legend class="col-sm-10 col-sm-offset-1 small-legend margin-top-40">{{ 'SIGN.SIGN_SOCIAL' | translate}}</legend>

                <div class="col-md-12 text-center social-list margin-bottom-40">
                    <div class="social-account-container social-button">
                        <a class="btn">
                            <img class="img-responsive"
                                 ng-click="vm.callOauthProvider('/api/auth/facebook')"
                                 ng-src="/modules/users/client/img/buttons/facebook.png">
                        </a>
                    </div>
                    <div class="social-account-container social-button">
                        <a class="btn">
                            <img class="img-responsive"
                                 ng-click="vm.callOauthProvider('/api/auth/twitter')"
                                 ng-src="/modules/users/client/img/buttons/twitter.png">
                        </a>
                    </div>
                    <div class="social-account-container social-button">
                        <a class="btn">
                            <img class="img-responsive"
                                 ng-click="vm.callOauthProvider('/api/auth/google')"
                                 ng-src="/modules/users/client/img/buttons/google.png">
                        </a>
                    </div>
                    <div class="social-account-container social-button">
                        <a class="btn">
                            <img class="img-responsive"
                                 ng-click="vm.callOauthProvider('/api/auth/linkedin')"
                                 ng-src="/modules/users/client/img/buttons/linkedin.png">
                        </a>
                    </div>
                    <div class="social-account-container social-button">
                        <a class="btn">
                            <img class="img-responsive"
                                 ng-click="vm.callOauthProvider('/api/auth/github')"
                                 ng-src="/modules/users/client/img/buttons/github.png">
                        </a>
                    </div>
                    <div class="social-account-container social-button">
                        <a class="btn">
                            <img class="img-responsive"
                                 ng-click="vm.callOauthProvider('/api/auth/paypal')"
                                 ng-src="/modules/users/client/img/buttons/paypal.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
