<div>
    <legend class="col-sm-10 col-sm-offset-1 small-legend margin-top-40">{{ 'SIGN.SIGN_IN' | translate}}</legend>

    <div class="col-sm-8 col-sm-offset-2">
        <div class="margin-bottom-30" ng-if="vm.signConfig.showDemoSignMessage">
            <span translate="DEMO_INFO"></span>
        </div>
        <form name="vm.userForm" ng-submit="vm.signin(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
            <fieldset>
                <div class="form-group" show-errors>
                    <uib-alert type="danger" ng-show="vm.error" class="text-center text-danger">
                        <span ng-bind="vm.error"></span>
                    </uib-alert>
                    <input type="text" id="usernameOrEmail" name="usernameOrEmail" class="form-control" ng-model="vm.credentials.usernameOrEmail"
                           placeholder="{{ 'SIGN.USERNAME_OR_EMAIL' | translate}}" required autofocus>

                    <div ng-messages="vm.userForm.usernameOrEmail.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">{{ 'SIGN.U_E_REQUIRED' | translate}}</p>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password"
                           placeholder="{{ 'SIGN.PASSWORD' | translate}}" required>

                    <div ng-messages="vm.userForm.password.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">{{ 'SIGN.P_REQUIRED' | translate}}</p>
                    </div>
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-success btn-min-width-100">{{ 'SIGN.BTN_SIGN_IN' | translate}}</button>
                    &nbsp; or&nbsp;
                    <a ui-sref="authentication.signup">{{ 'SIGN.BTN_SIGN_UP' | translate}}</a>
                </div>
                <div class="text-center forgot-password">
                    <a ui-sref="password.forgot">{{ 'SIGN.FORGOT_PASSWORD' | translate}}</a>
                </div>
                <br/>
            </fieldset>
        </form>
    </div>
</div>
